//================== mobile filters ==============

.modal-frame-wrapper.appoint-modal(frame-modal="appoint-modal")
	.modal-frame.flex-column
		.modal-frame__head.flex-box.flex-y-center.flex-between
			.text-32 Запись на прием
			.icon-close(frame-close)
			
		.modal-frame__body
			form.appoint-form
				.appoint-form__head.flex-box.border-b
					.appoint-form__head-left
						.doc-card__foto
							img(src="./img/doctor.png", width="140" height="110" alt="alt")
						.rating-group.block-768
							+starRating('4.4')
						
					.appoint-form__head-right
						+card-header('','Эристави Тамар', 'Стаж 17 лет')
						.appoint-form__info-list
							.appoint-form__info-item.text-14.flex-box
								span.text-gray3 Стоимость
								span 120

							.appoint-form__info-item.text-14.flex-box
								span.text-gray3 Адрес
								span ул. Мелашвили 4

							.appoint-form__info-item.text-14.flex-box
								span.text-gray3 Телефон
								span +995 551 900 221
						.rating-group.hidden-768
							+starRating('4.4')

				.appoint-form__body
					.form-box
						label.text-14.text-gray3 Специальность
						input(type="text" readonly value="Стоматолог").form-input

					.form-box.form-box--icon-right
						label.text-14.text-gray3 Дата и время приёма
						.form-box-input
							button(type="button").form-box__icon#openAppointTime
								svg.svg-calendar
									use(href="./img/svg-sprite.svg#svg-calendar")
							input(type="text" readonly value="29 октября, 15:00").form-input
							//======== block data ============
					.cs-wrapper#tableAppointTime
						//======slider navigation=======
						.cs-next
							.icon-btn.arrow-right
						.cs-prev
							.icon-btn.arrow-left
						
						//======slider block=======
						.cs-head
							.cs-container
								.cs-head-line.text-center
									.cs-head__block.flex-wrapper.cs-active
										.cs-block__cell
											.text-12 пн
											.text-14 16 марта
										.cs-block__cell
											.text-12 пн
											.text-14 17 марта
										.cs-block__cell
											.text-12 пн
											.text-14 18 марта
										.cs-block__cell
											.text-12 пн
											.text-14 19 марта
									.cs-head__block.flex-wrapper
										.cs-block__cell
											.text-12 пн
											.text-14 20 марта
										.cs-block__cell
											.text-12 пн
											.text-14 21 марта
										.cs-block__cell
											.text-12 пн
											.text-14 22 марта
										.cs-block__cell
											.text-12 пн
											.text-14 23 марта
									.cs-head__block.flex-wrapper
										.cs-block__cell
											.text-12 пн
											.text-14 24 марта
										.cs-block__cell
											.text-12 пн
											.text-14 25 марта
										.cs-block__cell
											.text-12 пн
											.text-14 26 марта
										.cs-block__cell
											.text-12 пн
											.text-14 27 марта
						
						.cs-table.scroll-vertical
							.cs-container
								.cs-table-line
									+csSlide({
									argsTimes:{
										col1:[
											{clock:'8:00', rbName:'select-time1'},
											{clock:'8:30', rbName:'select-time1'},
											{clock:'9:00', rbName:'select-time1'},
											{clock:'9:30', rbName:'select-time1'},
											{clock:'10:00', rbName:'select-time1'},
											{clock:'10:30', rbName:'select-time1'},
											{clock:'9:30', rbName:'select-time1'},
											{clock:'10:00', rbName:'select-time1'},
											{clock:'10:30', rbName:'select-time1'},
											],
										col2:[
											{clock:'8:00', rbName:'select-time2'},
											{clock:'8:30', rbName:'select-time2'},
											{clock:'9:00', rbName:'select-time2'},
											{clock:'9:30', rbName:'select-time2'},
											{clock:'10:00', rbName:'select-time2'},
											{clock:'10:30', rbName:'select-time2'},
											{clock:'9:30', rbName:'select-time1'},
											{clock:'10:00', rbName:'select-time1'},
											{clock:'10:30', rbName:'select-time1'},
											],
										col3:[
											{clock:'8:00', rbName:'select-time3'},
											{clock:'8:30', rbName:'select-time3'},
											{clock:'9:00', rbName:'select-time3'},
											{clock:'9:30', rbName:'select-time3'},
											{clock:'10:00', rbName:'select-time3'},
											{clock:'10:30', rbName:'select-time3'},
											{clock:'9:30', rbName:'select-time1'},
											{clock:'10:00', rbName:'select-time1'},
											{clock:'10:30', rbName:'select-time1'},
											],
										col4:[
											{clock:'8:00', rbName:'select-time4'},
											{clock:'8:30', rbName:'select-time4'},
											{clock:'9:00', rbName:'select-time4'},
											{clock:'9:30', rbName:'select-time4'},
											{clock:'10:00', rbName:'select-time4'},
											{clock:'10:30', rbName:'select-time4'},
											{clock:'9:30', rbName:'select-time1'},
											{clock:'10:00', rbName:'select-time1'},
											{clock:'10:30', rbName:'select-time1'},
											]
										}
									
									}
									)(class="cs-active")
									+csSlide({
										argsTimes:{
											col1:[
												{clock:'8:00', rbName:'select-time1'},
												{clock:'8:30', rbName:'select-time1'},
												{clock:'9:00', rbName:'select-time1'},
												{clock:'9:30', rbName:'select-time1'},
												{clock:'10:00', rbName:'select-time1'},
												{clock:'10:30', rbName:'select-time1'},
												{clock:'9:30', rbName:'select-time1'},
												{clock:'10:00', rbName:'select-time1'},
												{clock:'10:30', rbName:'select-time1'},
												],
											col2:[
												{clock:'8:00', rbName:'select-time2'},
												{clock:'8:30', rbName:'select-time2'},
												{clock:'9:00', rbName:'select-time2'},
												{clock:'9:30', rbName:'select-time2'},
												{clock:'10:00', rbName:'select-time2'},
												{clock:'10:30', rbName:'select-time2'},
												{clock:'9:30', rbName:'select-time1'},
												{clock:'10:00', rbName:'select-time1'},
												{clock:'10:30', rbName:'select-time1'},
												],
											col3:[
												{clock:'8:00', rbName:'select-time3'},
												{clock:'8:30', rbName:'select-time3'},
												{clock:'9:00', rbName:'select-time3'},
												{clock:'9:30', rbName:'select-time3'},
												{clock:'10:00', rbName:'select-time3'},
												{clock:'10:30', rbName:'select-time3'},
												{clock:'9:30', rbName:'select-time1'},
												{clock:'10:00', rbName:'select-time1'},
												{clock:'10:30', rbName:'select-time1'},
												],
											col4:[
												{clock:'8:00', rbName:'select-time4'},
												{clock:'8:30', rbName:'select-time4'},
												{clock:'9:00', rbName:'select-time4'},
												{clock:'9:30', rbName:'select-time4'},
												{clock:'10:00', rbName:'select-time4'},
												{clock:'10:30', rbName:'select-time4'},
												{clock:'9:30', rbName:'select-time1'},
												{clock:'10:00', rbName:'select-time1'},
												{clock:'10:30', rbName:'select-time1'},
												]
											}
										
										}
									)
									+csSlide({
										argsTimes:{
											col1:[
												{clock:'8:00', rbName:'select-time1'},
												{clock:'8:30', rbName:'select-time1'},
												{clock:'9:00', rbName:'select-time1'},
												{clock:'9:30', rbName:'select-time1'},
												{clock:'10:00', rbName:'select-time1'},
												{clock:'10:30', rbName:'select-time1'},
												{clock:'9:30', rbName:'select-time1'},
												{clock:'10:00', rbName:'select-time1'},
												{clock:'10:30', rbName:'select-time1'},
												],
											col2:[
												{clock:'8:00', rbName:'select-time2'},
												{clock:'8:30', rbName:'select-time2'},
												{clock:'9:00', rbName:'select-time2'},
												{clock:'9:30', rbName:'select-time2'},
												{clock:'10:00', rbName:'select-time2'},
												{clock:'10:30', rbName:'select-time2'},
												{clock:'9:30', rbName:'select-time1'},
												{clock:'10:00', rbName:'select-time1'},
												{clock:'10:30', rbName:'select-time1'},
												],
											col3:[
												{clock:'8:00', rbName:'select-time3'},
												{clock:'8:30', rbName:'select-time3'},
												{clock:'9:00', rbName:'select-time3'},
												{clock:'9:30', rbName:'select-time3'},
												{clock:'10:00', rbName:'select-time3'},
												{clock:'10:30', rbName:'select-time3'},
												{clock:'9:30', rbName:'select-time1'},
												{clock:'10:00', rbName:'select-time1'},
												{clock:'10:30', rbName:'select-time1'},
												],
											col4:[
												{clock:'8:00', rbName:'select-time4'},
												{clock:'8:30', rbName:'select-time4'},
												{clock:'9:00', rbName:'select-time4'},
												{clock:'9:30', rbName:'select-time4'},
												{clock:'10:00', rbName:'select-time4'},
												{clock:'10:30', rbName:'select-time4'},
												{clock:'9:30', rbName:'select-time1'},
												{clock:'10:00', rbName:'select-time1'},
												{clock:'10:30', rbName:'select-time1'},
												]
											}
										
										}
									)


					
					.form-box
						label.text-14.text-gray3 Ваше имя
						input(type="text"  placeholder="Контактное лицо").form-input
					
					.form-box
						label.text-14.text-gray3 Фамилия
						input(type="text" placeholder="Фамилия").form-input.input-notvalid
						.error-text Введите данные
					.form-box
						label.text-14.text-gray3 Введите дату рождения пациента
						input(type="text" placeholder="ДД – ММ – ГГГГ").form-input
					
					.form-box
						label.text-14.text-gray3 Телефон для подтверждения записи
						input(type="text" placeholder="+7 (___) ___-__-__").form-input
						span.text-12.text-gray3.text-sub-input На этот номер вы получите SMS с кодом подтверждения и данные о записи
					.form-btn
						button(type="submit" frame-btn="confirm-appoint-modal").btn.btn--gradient Записаться
						.agree-text.text-12.text-gray3
							label.checkbox-label.flex-box.flex-y-center
								input(type='checkbox' name='form-checkbox' class='real-checkbox')
								span.custom-checkbox
								p Принимаю условия #[a.text-primary(href="#!")  пользовательского соглашения ] и даю  #[a.text-primary(href="#!") согласие на обработку персональных данных]
