.benefits-block
	+benefitItem('user2', 'Врачи, которым доверяют', 'Средний стаж от&nbsp;7&nbsp;лет')
	+benefitItem('smile', 'Отзывы от пациентов', 'Больше 400&nbsp;тысяч')
	+benefitItem('check', 'Окончательная цена', 'Без доплат и комиссий')
	+benefitItem('zap', 'Бесплатная запись на прием', 'Онлайн-запись за&nbsp;1&nbsp;минуту')