section.section-benefits
	.container
		.benefits-block
			+benefitItem('user2', 'Лучшие специалисты', 'Средний стаж от&nbsp;7&nbsp;лет')
			+benefitItem('smile', 'Реальные отзывы', 'Больше 400&nbsp;тысяч')
			+benefitItem('check', 'Окончательная цена', 'Без доплат и комиссий')
			+benefitItem('zap', 'Бесплатная запись на прием', 'Онлайн-запись за&nbsp;1&nbsp;минуту')