.benefits-block
	+benefitItem('user2', 'Врачи, которым доверяют', 'Средний стаж от 7 лет')
	+benefitItem('smile', 'Отзывы от пациентов', 'Больше 400 тысяч')
	+benefitItem('check', 'Окончательная цена', 'Без доплат и комиссий')
	+benefitItem('zap', 'Бесплатная запись на прием', 'Онлайн-запись за 1 минуту')