//========== календарь ==============
.sidebar-calendar
	.datepicker.mydatepicker
		input(type="hidden" id="datepicker_value" value="01.02.2022")
	button.btn-32.btn--primary.w-100.mt-16  Сегодня

//========== выпадашки ==============
.sidebar-filters
	+custom-select-icon('Специальность', ['Стоматолог', 'Ортодонт'], 'mySelect--absolute')
	+custom-select-icon('Сотрудник', ['Кикабидзе В.', 'Кипиани А.', 'Брегвадзе Н.', 'Чиаурели С.'], 'mySelect--absolute')

//========== цветные маркеры ==============
.sidebar-markers
	.marker-color(title="Не подтвержден") 1
	.marker-color.marker-color--blue(title="Подтвержден") 0
	.marker-color.marker-color--green(title="Начат визит") 0
	.marker-color.marker-color--gray(title="Выполнен") 0