.customDrop
	.customDrop__btn
		.btn-coopyright.flex-between(type="button")
			.icon-plus
			.icon-minus
			span.text-18.text-white Сотрудничать с нами
	.customDrop__list
		.customDrop__list-item
			a(href="#!").flex-vertical-center
				svg.svg-whatsapp(width="20" height="20")
					use(xlink:href="./img/svg-sprite.svg#svg-whatsapp")
				.text-14 Whats App
		.customDrop__list-item
			a(href="#!").flex-vertical-center
				svg.svg-telegram(width="20" height="20")
					use(xlink:href="./img/svg-sprite.svg#svg-telegram")
				.text-14 Telegram
		.customDrop__list-item
			a(href="#!").flex-vertical-center
				svg.svg-facebook(width="20" height="20")
					use(xlink:href="./img/svg-sprite.svg#svg-facebook")
				.text-14 Facebook Messenger
		.customDrop__list-item
			a(href="#!").flex-vertical-center
				svg.svg-viber(width="20" height="20")
					use(xlink:href="./img/svg-sprite.svg#svg-viber")
				.text-14 Viber