
//================== модальное окно Авторизация ==============
.modal-frame-wrapper.modal-frame-center.visible.w-700(frame-modal="login-modal")
	.modal-frame.flex-column.pos-rel
		.modal-frame__head.flex-column.flex-center.text-center
			.icon-close.pos-abs(frame-close)
			.modal-logo
				img(src="./img/logo-icon.png", width="48" height="48" alt="logo")
			.mt-16
				p Войдите или зарегистрируйтесь
		.modal-frame__body.pt-24
			form.login-form
				//====радиобаттоны Пользователь / Исполнитель =======
				.form-box.form-login-role
					//==== Пользователь  =======
					label.radiobutton-label.flex-box
						input(type='radio' name='login-role' value='' class='real-radio' checked) 
						span.custom-radio 
						span.custom-radio__text.title-20 Пользователь
						.pos-abs
							p Бронируйте #[strong встречи онлайн круглосуточно - для вас и вашей семьи]. Делитесь отзывами об услугах на сервисе. 

					//==== Исполнитель =======
					label.radiobutton-label.flex-box
						input(type='radio' name='login-role' value='' class='real-radio') 
						span.custom-radio 
						span.custom-radio__text.title-20 Исполнитель
						.pos-abs
							p Рассказывайте о ваших услугах, включайте запись онлайн. 
							p Отвечайте на отзывы пользователей. 
					
				//======== табы Почта /Телефон ======
				.login-variant-tabs.tabs-wrapper.pt-32(custom-tabs)
					.tabs.filter-toggle__block.flex-box-inline
						label.filter-toggle-item(ct-btn="1")
							input(type='radio' name='login-variant' class='filter-radiobtn' checked)
							span Email
					
						label.filter-toggle-item(ct-btn="2")
							input(type='radio' name='login-variant' class='filter-radiobtn')
							span Телефон
				
					.tabs-content.pt-32.flex-grow-1
						div.ct-content--active(ct-content="1")
							.form-box
								input.form-input(type="text" placeholder="Email")
								a(href="#!").text-link.text-red.mt-8 Сбросить пароль
						div(ct-content="2")
							.form-box
								
								input.form-input(type="text" placeholder="Телефон")
								.text-indigo.mt-8 Отправим код
				
				//========= form button ======			
				.form-btn.mt-24
					button.btn.btn--gradient.w-100 Войти
				
				//- .form-btn.mt-24.text-center.text-18.text-indigo(frame-btn="registr-modal") Регистрация

				//=====login whith social ==========
				.login-type-social.text-center.pt-32
					p.mb-24 Войти с помощью
					.social-group.flex-box.flex-center
						a(href="#!")
							img(src="./img/fb-round.png", width="40" height="40" alt="icon")
						a(href="#!")
							img(src="./img/inst.png", width="40" height="40" alt="icon")
						a(href="#!")
							img(src="./img/google.png", width="40" height="40" alt="icon")
						a(href="#!")
							img(src="./img/tg.png", width="40" height="40" alt="icon")