
//================== модальное окно Такой пациент уже есть в БД ==============
.modal-frame-wrapper.modal-frame-center.visible(frame-modal="duplication-modal")
	.modal-frame.flex-column
		.modal-frame__head.flex-box.flex-y-center.flex-between
			
			.text-32 Внимание!
			.icon-close(frame-close)
			
		.modal-frame__body.text-center
			p.text-20.mt-32.mb-32 Пациент с такими данными уже внесен в Базу данных!