//================== добавить паузу для страницы  Расписание ==============
.modal-frame-wrapper.modal-frame-right.column-modal(frame-modal="pause-info")
	.modal-frame.flex-column
		.modal-frame__head.flex-box.flex-y-center.flex-between
			.text-24 Добавление перерыва
			.icon-close(frame-close)
			
		.modal-frame__body
			form.pause-form.flex-column.gap-32
				.pause-form__head
					.text-24 Кирсанова Марина Анлександровна
					.text-16.mt-8 Онколог, Детский онколог, Врач-косметолог, Гинеколог, Маммолог
				
				.pause-form__title.text-bold.mb-16 Время перерыва
				.pause-form__fields.flex-vertical-center.gap-32
					.form-item
						input.form-input(type="text" placeholder="Начало")
						
					.form-item
						input.form-input(type="text" placeholder="Окончание")
						
					
					.pause-form__switch
						label.switch-toggle.flex-box.flex-y-center
							input(type='checkbox'  class='toggle-switch')
							span.real-switch
							span.custom-switch__text Весь день
				.form-textarea
					textarea(placeholder="Комментарий")
				.form-btns.flex-vertical-center.gap-32.mt-auto
					button.btn.btn--orange(frame-close) Отменить
					button.btn.btn--primary(type="submit") Добавить