//==================модальное окно Подтверждение удаления ==============
.modal-frame-wrapper.modal-frame-center.review-modal.w-1000(frame-modal="review-slider")
	.modal-frame.flex-column
		.modal-frame__head.flex-box.flex-y-center.flex-between
			.text-24 Отзывы
			.icon-close(frame-close)
			
		.modal-frame__body.pt-32
			.review-slider.swiper.pb-48
				.swiper-wrapper
					.swiper-slide
						.review-slide
						img(src="./img/rev1.png", alt="alt")
					.swiper-slide
						.review-slide
						img(src="./img/rev1.png", alt="alt")
					.swiper-slide
						.review-slide
						img(src="./img/rev1.png", alt="alt")
					.swiper-slide
						.review-slide
						img(src="./img/rev1.png", alt="alt")
					.swiper-slide
						.review-slide
						img(src="./img/rev1.png", alt="alt")
				.review-slider-pagination.swiper-pagination
			