
//============================================================================= 
	Модальное окно Успешная регистрация
	Если для его отображения не требуется клик по кнопке с атрибутом frame-btn="ssuccess-reg-empl" , то атрибут frame-modal="success-reg-empl"  можно удалить.
//=============================================================================
.modal-frame-wrapper.modal-frame-center.visible.w-1000(frame-modal="success-reg-empl")
	.modal-frame.flex-column.p-32.pos-rel
		.icon-close.pos-abs(frame-close)
		.modal-frame__body
			.flex-column.flex-center.gap-12.text-center
				.title-20 Благодарим за проявленный интерес к нашему сервису.
				.text-20.flex-column.flex-center.gap-8
					p На сегодняшний день, сотрудничество с исполнителями,
					p  предоставляющими свои услуги осуществляется в рамках Публичной Оферты.
					p Размещение на портале бесплатно, вы платите только за записанного пациента.
					p Более подробную информацию мы уже отправляем Вам на email.
