
//============================================================================= 
	Модальное окно Успешная регистрация
	Если для его отображения не требуется клик по кнопке с атрибутом frame-btn="success-reg" , то атрибут frame-modal="success-reg"  можно удалить.
//=============================================================================
.modal-frame-wrapper.modal-frame-center.visible(frame-modal="success-reg")
	.modal-frame.flex-column.p-16
		.modal-frame__head.flex-box.flex-y-center.flex-between
			.icon-close.ml-auto(frame-close)
			
		.modal-frame__body.text-center
			p.text-16.mb-32 <br> Вы зарегистрированы в системе бронирования услуг. Вы можете управлять бронированием прямо из личного кабинета.