
//============================================================================= 
	Модальное окно Успешная регистрация
	Если для его отображения не требуется клик по кнопке с атрибутом frame-btn="success-reg" , то атрибут frame-modal="success-reg"  можно удалить.
//=============================================================================
.modal-frame-wrapper.modal-frame-center.visible(frame-modal="success-reg")
	.modal-frame.flex-column.p-32.pos-rel
		
		.icon-close.pos-abs(frame-close)
			
		.modal-frame__body.text-center
			p.text-16 Вы зарегистрированы в системе бронирования услуг. Вы можете управлять бронированием прямо из личного кабинета.