//================== Информация о приеме мод окно ==============
.modal-frame-wrapper.modal-frame-right(frame-modal="visit-info")
	.modal-frame.flex-column
		.modal-frame__head.border-none.flex-box.flex-y-center.flex-between
			.text-24 Информация о приеме
			.icon-close(frame-close)
			
		.modal-frame__body
			.modal-table
				table
					tbody
						tr
							td Дата
							td.edit-visit-date
								.mydatepicker
									input.form-input(type="text" class="datepicker" value="20.04.2023")
						tr.edit-visit-time
							td Время
							td.flex-vertical-center.gap-16
								//== окошко  tooltip-error-text отображается при наличии класса visible. Оно содержит информацию, что время не может быть выбрано. Сейчас по дефолту у него есть класс visible, что оно отображалось. Рендерить его надо внутри дива с классом pos-rel после инпутов
								//=== Инпуту красную рамку задает класс input-notvalid== 
								
								
								span c
								.flex-vertical-center.gap-4.pos-rel
									input.form-input.input-notvalid(type="number" name="" value="09")
									span :
									input.form-input.input-notvalid(type="number" name="" value="30")
									.tooltip-error-text.tooltip-modal.tooltip-modal--mini.text-12.visible
										p Время недоступно, 
										p выберите другое
										.tooltip-close.icon-close
								span до
								//==== класс .input-notvalid задает красную рамку для инпут. Класс visible делает видимым  тултип
								.flex-vertical-center.gap-4.pos-rel
									input.form-input(type="number" name="" value="10")
									span :
									input.form-input(type="number" name="" value="30")
									
						tr.doctor-info
							td Врач
							td
								span Лордкипанидзе Мария
								span Невролог
						tr
							td Цель визита
							td ПРИЕМ НЕВРОЛОГА
						tr
							td Канал привлечения
							td ВКонтакте
						tr.visiter-info
							td Пациент
							td
								a(href="visitor-edit-page.html")
									p
										span Миронов Роман
										span.edit-item(title="редактировать")
									span 8(792)196-48-84
										.copy-icon(title="копировать")
						tr
							td Возраст
							td 03.06.1989 (33 года)
		.modal-frame__footer.mt-auto.flex-box
			.state-select.state-select--opentop
				.state-select-current(data-state="state-started") Начат прием
				.state-select-drop
					.state-select-drop__item(data-state="state-started") Начат прием
					.state-select-drop__item(data-state="state-confirm") Подтвержден
					.state-select-drop__item(data-state="state-notconfirm") Не подтвержден
					.state-select-drop__item(data-state="state-done") Выполнен
					.state-select-drop__item(data-state="state-cancel")  Отменен
			.ml-auto
				button.btn.btn-44 Сохранить