//================== mobile filters ==============
.modal-frame-wrapper.modal-frame-right.visible(frame-modal="visit-info")
	.modal-frame.flex-column
		.modal-frame__head.flex-box.flex-y-center.flex-between
			.text-24 Информация о приеме
			.icon-close(frame-close)
			
		.modal-frame__body
			.modal-table
				table
					tbody
						tr
							td Дата и время
							td 28 нояб., 09:00—09:30
						tr.doctor-info
							td Врач
							td
								span Тараканов Олег Павлович
								span Невролог
						tr
							td Цель визита
							td ПРИЕМ УРОЛОГА
						tr
							td Канал привлечения
							td ВКонтакте
						tr.visiter-info
							td Пациент
							td
								p
									a(href="#!") Кузьмин Петр ПАВЛОВИЧ
									span.edit-item Ред 
								span 8(792)196-48-84
									.icon-copy
						tr
							td Возраст
							td 03.06.1989 (33 года)
		.modal-frame__footer.mt-auto
			p Выполнен