.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			
			a(href="http://localhost:3000/").back-index На Главную
			h3 Базовые компоненты
			ul
				li
					a(href="colors.html") Цветовая схема
				li
					a(href="typography.html") Типографика
				li
					a(href="positions-classes.html") Классы позиционирования
				
				li
					a(href="icons.html") Иконки
				li
					a(href="buttons.html") Кнопки
				li
					a(href="forms.html") Элементы формы
				li
					a(href="breadcrumbs.html") Хлебные крошки
				li
					a(href="components.html") Компоненты
		
		.ui-panel-block__part
			h3 Блоки
			ul
				li
					a(href="#!") Блок
				li
					a(href="#!") Блок
				li
					a(href="#!") Блок
		
		.ui-panel-block__part
			h3 Секции
			ul
				li
					a(href="#!") Секции
				li
					a(href="#!") Секции
				
		
		.ui-panel-block__part
	
			h3 Страницы ЭКСПРЕСС-секции
			//- ul
			//- 	li
			//- 		a(href="express-header.html") Шапка на главной
			//- 	li
			//- 		a(href="address-not-found.html") Адрес не найден
			//- 	li
			//- 		a(href="address-search-result.html") Адреса-результаты поиска
			//- 	li
			//- 		a(href="reestr-data.html") Данные реестра
			//- 	li
			//- 		a(href="large-modal.html") Модалка со слайдером
		