button#hide-panel скрыть/показать панель
.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			
			a(href="http://localhost:3000/").back-index На Главную
			h3 Базовые компоненты
			ul
				li
					a(href="colors.html") Цветовая схема
				li
					a(href="typography.html") Типографика
				li
					a(href="positions-classes.html") Классы позиционирования
				
				li
					a(href="icons.html") Иконки
				li
					a(href="buttons.html") Кнопки
				li
					a(href="forms.html") Элементы формы
				li
					a(href="custom-select.html") Кастом селекты
				li
					a(href="labels.html") Лейблы
				li
					a(href="components-text.html") Текстовые компоненты
				li
					a(href="page-nav.html") Менюшки
		
		.ui-panel-block__part
			h3 Блоки
			ul
				li
					a(href="header-contacts.html") Контакты в шапке
				li
					a(href="benefits-items.html") Преимущества
				li
					a(href="doc-card-items.html") Компонеты карточки врача
				li
					a(href="filters-modal.html") Фильтры на моб версии (модальное окно)
				li
					a(href="custom-drop.html") Кастомная выпадашка
				li
					a(href="tooltip.html") Tooltip
		
		.ui-panel-block__part
			h3 Секции
			ul
				li
					a(href="header.html") Шапка
				li
					a(href="doc-card.html") Карточка врача
				
		
		.ui-panel-block__part
	
			h3 Страницы
			//- ul
			//- 	li
			//- 		a(href="express-header.html") Шапка на главной
			//- 	li
			//- 		a(href="address-not-found.html") Адрес не найден
			//- 	li
			//- 		a(href="address-search-result.html") Адреса-результаты поиска
			//- 	li
			//- 		a(href="reestr-data.html") Данные реестра
			//- 	li
			//- 		a(href="large-modal.html") Модалка со слайдером
		