.employee-page-content__head{
	margin-bottom: 40px;
}
.employee-page-card{
	padding: 16px;
	background-color: #fff;

	.employee-page-card__row{
		display: flex;
		justify-content: flex-end;
	}
	header{padding-bottom: 40px;}
	header >*+*{
		margin-top: 40px;
	}
}
.employee-page-schedule{
	min-height: 500px;
	
	
}
.employee-schedule-header{
	padding-top: 32px;
	padding-bottom: 32px;
	
}
.employee-schedule-calendar__day{
	padding-top: 12px;
	padding-bottom: 12px;
	color: $gray3;
}
.employee-schedule-calendar__day, .employee-schedule-calendar__date{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: center;
}
.employee-schedule-calendar__date{
	.calendar__date-item{
		height: 120px;
		border: 1px solid #ccc;

		&.without-date{
			background-color: #f7f7f7;
			cursor: default;
			
		}
	}
}
.calendar__date-item{
	background-color: #fff;
	position: relative;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	&>*{width: 100%;}
	.calendar__date-row{
		font-size: 14px;
		font-weight: 500;
	}
	.date-value{
		position: absolute;
		bottom: 6px;
		left:0;
		padding-right: 6px;
		text-align: right;
		font-size: 14px;
	}
	.calendar__date-row{
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f7f7f7;
   		cursor:pointer;
	}
	&.not-empty-cell{
		cursor: default;
		justify-content: flex-start;
		.svg-plus{width: 20px; height: 20px;}
	}
	.text-individual, .text-rule{
		color: #ef933e;
       background-color: rgba(239,147,62,.3);
		width: 100%;
		 height: 30px;
		 line-height: 30px;
	}
	.text-rule{
		color: rgb(51, 181, 118);
    	background-color: rgb(224, 246, 238);
		
	}
}
.calendar__date-item{
	cursor:pointer;
	.svg-plus{
		opacity: 0;
		transition: .3s;
	}
	&:hover .svg-plus{opacity: 1;}
}
.calendar__date-item.not-empty-cell{
	.svg-plus{
		opacity: 1;
		
	}
}
						