.footer{
	padding-bottom: 64px;
	.footer-copyright{
		justify-content: space-between;
		padding-bottom: 64px;
		border-bottom: 1px solid  #E7E7E7;
		
		@media (max-width: 1199px) {
			padding-bottom: 44px;
			flex-direction: column;
			&>*{width: 100%;}
			padding-bottom: 0;
			
		}
		
	}
	.footer-links{
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 40px;
		row-gap:10px;
		@media (max-width: 1199px) {
			display: flex;
			flex-direction: column;
			margin-top: 25px;

		}
		

	}
	.footer-links .text-link{
		@media (max-width: 1199px) {
			padding-top: 25px;
			padding-bottom: 25px;
			border-top:1px solid  #E7E7E7;
		}
	}
	
	.footer-info{
		padding-top: 64px;
		color: rgba(0,0,0, .5);
		max-width: 960px;
		@media (max-width: 1199px) {
			padding-top: 5px;
		}
		@media (max-width: 767px) {
		text-transform: uppercase;
		}
	}
}
.footer-contacts{
	display: flex;
	flex-direction: column;
	&>*+*{margin-top: 10px;}
	.text-link {
		@media (max-width: 1199px) {
			padding-top: 25px;
			padding-bottom: 25px;
			border-top: 1px solid #E7E7E7;
		}
	}
}
.drop-link{
	position: relative;
	cursor:pointer;
	.social-block{
		display: none;
		align-items: center;
		position: absolute;
		padding-top: 12px;
		padding-bottom: 12px;
		left: 0;
		top: 100%;
		column-gap: 16px;
		&>*:hover{opacity: .5;}
		@media (max-width: 1199px) {
			position: relative;
			
		}
	    &>*+*{
			position: relative;
			&:before{
				content:'';
				width: 2px;
				position: absolute;
				left: -7px;
				top: 0;
				bottom: 0;
				background-color: #E7E7E7;
			}
		}
		a svg {
			width: 25px;
		}
	}
}

.drop-link:hover .social-block {
	display: flex;
	
}