.header{
	min-height: 587px;
	background: #272740;
	position: relative;
	overflow: hidden;
	padding-top: 57px;
	row-gap: 48px;	
	flex-direction: column;
	&:after{
		content: '';
		width: 71%;
		padding-top: 500px;
		position: absolute;
		left: 50%;
		bottom:0;
		transform: translate(-50%, 120%);
		background: rgb(236, 102, 96, .85);
		
		filter: blur(200px);
	}
	&>*{width: 100%;}
	.header-top{
		margin-bottom: 64px;
	}
	.custom-logo{
		display: flex;
		width: 136px;
		@media (max-width: 1199px) {
			width: 121px;
			svg{
				width: 121px;
				height: auto;
			}
		}
	}
	.header-center{
		.header-title{
			margin-bottom: 36px;
		}
		.header-button{margin-top: 12px;}
	}
	@media (max-width: 1199px) {
		padding-top: 40px;
		row-gap:35px;
		min-height: 550px;
	}
}
.header-categories{
	flex-wrap: wrap;
	gap:12px;
}

.header-menu{
	height: 111px;
	background-color: rgba(0, 0, 0, .85);
	margin-top: auto;
	.container, &-content{
		height: 100%;
	}

	.page-nav{
		padding-top: 40px;
	}

}