.header{
	min-height: 587px;
	background: #272740;
	position: relative;
	// overflow: hidden;
	padding-top: 57px;
	row-gap: 48px;	
	// flex-direction: column;
	&:after{
		content: '';
		width: 71%;
		padding-top: 500px;
		position: absolute;
		left: 50%;
		bottom:0;
		transform: translate(-50%, 120%);
		background: rgb(236, 102, 96, .85);
		
		filter: blur(200px);
	}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height:32px;
			background-color: #F8FBFF;
			z-index: 2;
		}
	&>*{width: 100%;}
	.header-top{
		// margin-bottom: 93px;
		align-items: center;
		@media (max-width: 991px) {
			flex-direction: column;

			align-items: flex-start;
		}
	}
	.custom-logo{
		display: flex;
		width: 136px;
		margin-right: 24px;
		@media (max-width: 1199px) {
			width: 121px;
			
		}
	}
	.header-center{
		.header-title{
			margin-bottom: 36px;
			
			.text-44 {
					font-size: 46px;
				}
			@media(max-width:1439px){
				.text-44{font-size: 38px;}
			}
			@media (max-width: 1199px) {
			.text-44 {
					font-size: 32px;
				}
			}
		}
		.header-button{margin-top: 12px;}
		
		
		.btn-64 {line-height: 60px;
			height: 60px;}
	}
	@media (max-width: 1199px) {
		padding-top: 40px;
		row-gap:35px;
		min-height: 550px;
	}
	@media (max-width: 991px) {
		padding-top: 17px;
		// padding-bottom: 48px;
		min-height: 425px;
		.header-top{
		margin-bottom: 22px;}
		.mySelect.mySelect--currency{display: none;}
	}
	@media (max-width: 767px) {
		padding-top: 17px;
		// padding-bottom: 35px;
		min-height: 525px;
	}
}
.header-content{
	display: flex;
}
.header-content .container{
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&>*{width: 100%;}
	
	
}
.header-content .header-search-block{
	position: relative;
	z-index: 2;
	border:2px solid #272740;
	border-radius: 8px;
	overflow: hidden;
	.header-search-form {
				
		flex-grow: 1;
	.inputs-group{ flex-grow:2}
	}
	.form-input.form-input--64{height: 60px;}
	.mySelect.mySelect--64 .form-input {
		height: 44px;
	}

	.inputs-group>div:last-child input {
		border-radius: 5px 0 0 5px!important;
	}
    .btn[type=submit]{margin-left: 0;border-radius: 0 5px 5px 0;}
	.btn-64 {
		line-height: 60px;
		height: 60px;
	}
}
.select-city-block{
	max-width: 150px;
	@media (max-width: 1199px) {
		margin-right: 15px;
		margin-left: auto;
		
	}
}
.header-categories {
	flex-wrap: wrap;
	// justify-content: space-between;
    gap:11px;
	@media (max-width: 991px) {
		gap: 8px;
	}

	object {
		width: 24px;
		flex-shrink: 0;
		pointer-events: none;

	}
	.category-label{
		height: 60px;
		line-height: 56px;
		padding-left: 20px;
		padding-right: 20px;
	}
	@media(max-width:1364px){
		flex-wrap:wrap;
		row-gap:12px;
	}
}
/*header-menu-desktop*/
.header-menu{
	height: 111px;
	background-color: rgba(0, 0, 0, .85);
	margin-top: auto;
	.container, &-content{
		height: 100%;
	}

	.page-nav{
		padding-top: 40px;
	}
	@media (max-width: 991px) {
	  display: none!important;
	}	

}
/*header-menu-mobile*/
.page-nav-mobile{
	padding-top: 30px;
	ul{
		background: rgba(0, 0, 0, .25);
		border-radius: 8px;
		padding-left: 20px;
		padding-right: 20px;
	}
	li+li{
		border-top: 1px solid #272740;
	}
	li a{
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 14px;
		color: #fff;
	}
}
.mobile-menu-block{
	@media(min-width:992px){
		display: none!important;
	}
}
.mobile-menu-block .btn-coopyright{
	padding: 20px;
	border-radius: 8px;
	background: rgba(0, 0, 0, .25);
	margin-top: 8px;
}