.cabinet-tasks-filters{
	column-gap:8px;
	padding-top: 16px;
	padding-bottom: 16px;
	.form-input{width: 260px;}
	.ui-widget-content:after{
		display: none;
	}
}
.cabinet-body-header__btns{
	.filter-toggle__block{
		height: 40px;
	}
	.filter-toggle-item{
		padding-left: 24px;
		padding-right: 24px;
		.notify-badge{margin-right: 4px; vertical-align: middle;}
	}
}
.patient-reviews--expectation {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap:30px;
	.rev-card{
		height: 180px;
	}
}

