.sidebar-panel{
	nav{
		a{
			display: flex;
			font-size: 18px;
			align-items: center;
			padding-top: 12px;
			padding-bottom: 12px;
			padding-left: 30px;
			padding-right: 30px;
			margin-top: 12px;
			color: #000;
			span:first-child{
				width: 20px;
				height: 20px;
				margin-right: 16px;
				flex-shrink:0;
			}
			svg{
				width: 20px;
				height: 20px;
				fill: #828282;
			}
			svg.svg-favorite{
				fill: transparent;
				stroke: #828282;
			}

		}
		a:first-child{
			border-bottom: 1px solid rgba(130, 130, 130, .2);;
		}
		a:hover, a.active{
			color: #5757F6;
    		background-color: rgba(87, 87, 246, 0.1);
			svg{fill: $indigo;}
			svg.svg-favorite{
				fill: transparent;
				stroke: $indigo;
			}
		}
	}
}

.cabinet-header__burger{
	width: 30px;
	height: 19px;
	position: relative;
	margin-right: 25px;
	margin-left: 24px;
	&:after, &:before{
		content: '';
		height: 3px;
		background-color: #000;
		border-radius: 4px;
		position: absolute;
		left: 0;
		right: 0;
	}
	&:after{
		top: 0;
		
	}
	&:before{bottom: 0;}
	span{
		height: 3px;
		position: absolute;
		left: 0;
		right: 0;
		top: 8px;
		background-color: #000;
		border-radius: 4px;
	}
	@media (max-width: 767px) {
	margin-left: 0;
	}
}
.cabinet-header__notify{
	margin-left: auto;
	margin-right: 24px;
	position: relative;
	span{
		display: inline-block;
		width: 15px;
		height:15px;
		border-radius: 8px;
		background-color: $indigo;
		text-align: center;
		line-height: 15px;
		color: #fff;
		font-size: 10px;
		
		position: absolute;
		top: -4px;
		right: -6px;
		z-index: 2;
	}
	@media (max-width: 767px) {
	margin-right: 0;
	}
}
.patient-profile__block{
	padding-top: 30px;
	padding-bottom: 30px;
}
.profile-link{
	position: relative;
	padding-top: 12px;
	padding-bottom: 12px;
	display: block;
	padding-left: 24px;
	padding-right: 24px;
	color: #000;
	background-color: rgba(130,130,130, .1);
	&:after{
		content: '';
		width: 24px;
		height: 24px;
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.46967 0.96967C0.762563 0.676777 1.23744 0.676777 1.53033 0.96967L10 9.43934L18.4697 0.96967C18.7626 0.676777 19.2374 0.676777 19.5303 0.96967C19.8232 1.26256 19.8232 1.73744 19.5303 2.03033L10.5303 11.0303C10.2374 11.3232 9.76256 11.3232 9.46967 11.0303L0.46967 2.03033C0.176777 1.73744 0.176777 1.26256 0.46967 0.96967Z' fill='%23828282'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center;
		
			@media (max-width: 767px) {
				right: 0;
		}
	}
	&:hover{
		background-color: rgba(130,130,130, .2);
	}
}
.profile-row.profile-link{
	
	padding-top: 24px;
	padding-bottom: 24px;
	color: #000;
	transition: .5s;
	
	@media (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;
	}
}
.patient-profile .icon-item{
	display: flex;
	align-items: center;
}
.search-block-results p{
	font-size: 18px;
	line-height: 1.8;
}
.cabinet-card, .rev-card{
	transition: .5s;
	position: relative;
	width: 100%;
	max-width: 375px;
	height: 108px;
	margin-top: 10px;
	box-shadow: 0px 0px 12px -2px rgba(0,0,0,.2), 0px 1px 1px rgba(0,0,0,.14), 0px 1px 3px 0px rgba(0,0,0,.12);
	border-radius: 8px;
	padding: 14px;
	&__img{
		flex-shrink: 0;
		width: 80px;
		height: 80px;
		img{
			width: 80px;
			height: 80px;
			object-fit: cover;
		}
	}
	&__text{
		flex-grow:1;
		color: #000;
	}
	&:hover{
		box-shadow: 0px 1px 3px -2px rgba(0,0,0,.3), 0px 1px 1px rgba(0,0,0,.34), 0px 1px 3px 0px rgba(0,0,0,.32);
		 .title-20{color: $indigo;}
	}
}
.patient-favorite, .patient-reviews{
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	column-gap:24px;
	row-gap:32px;
}
.rev-card{
	height: 210px;
	color: #000;
	&__img{
		width: 50px;
		height: 50px;
		flex-shrink: 0;
		img{
			width: 50px;
			height: 50px;
			object-fit: cover;
		}
	}
	&__text{
		&>*+*{margin-top: 8px;}
	}
	.rev-card__body{
		flex-grow: 2;
		p{
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
			position: relative;
			padding-left: 10px;
			padding-right: 10px;
			text-indent:10px;
			&:before{
				content:'\201C';
				position: absolute;
				top: -2px;
				left: -10px;
				font-size: 20px;
			}
			&:after{
				content:'\201D';
				position: absolute;
				bottom: 5px;
				right: 0px;
				font-size: 20px;
			}
		}
	}
}
.patient-profile .icon-item{
	width: 24px;
	font-size: 22px;
	color: #828282;

}
.cabinet-card.w-100{
	max-width: 100%;
}
.cabinet-card.w-100{
	height: auto;
	min-height: 130px;
	.cabinet-card__block{
		gap:16px;
		flex-grow:1;
		.cabinet-card__text{flex-grow: 1;}
		@media (max-width: 767px) {
		flex-direction: column;
			gap:4px;
		}
	}
	.cabinet-card__date{
		 .flex-box{
			flex-direction: column;
			gap:4px;
			@media (max-width: 767px) {
				flex-direction: row;
				column-gap: 24px;
			}
		}
		&>*+*{margin-top: 4px;	}
	}
	
}
.patient-acor .acor-container .acor-body{
	padding-right: 3px!important;
	padding-left: 3px!important;
}
.patient-reviews.patient-reviews--all{
	.rev-card{
		max-width: 100%;
		height: auto;
	}
	.rev-card__body p{
		line-clamp: 20;
		&:after{bottom: 0;}
	}

}
.cabinet-card__btn{
	padding-top: 16px;
	display: flex;
	justify-content: center;
	@media (max-width: 767px) {
		justify-content: flex-start;
	}
}
.set-rating{
	display: flex;
	align-items: center;
	column-gap:5px;
	input + span{
		position: relative;
		color: #FFB038;
		font-size: 30px;
		line-height: 1;
		&:after{
			content: '\2606'
		}
	}
	input:checked + span{
		position: relative;
		line-height: 1;
		&:after{
			content: '\2605'
		}
	}
	
}
.set-rating-item +.set-rating-item{margin-top: 12px;}
.set-rating-item{
	display: flex;
	align-items: center;
	column-gap:24px;
	.text-18{
		min-width: 300px;
		line-height: 1.2;
	}
	@media (max-width: 767px) {
	 	flex-direction: column;
	 	align-items: flex-start;
		.text-18{
			min-width: unset;
		}
	}
}
.favor-empty{margin-top: 30%;}
.patient-profile-title{
	position: relative;
	text-align: center;
	.icon-btn{
		left: 0;
		top: 0;
		&:hover{
			opacity: .4;
		}
		
	}
}
