.cabinet-page-grid{
	display: flex;
	
}
.schedule-page__table{
	width: calc(100% - 57px);
	position: relative;
    height: calc(100vh - 51px - 36px);
}

.schedule-page__table.minified{
	width: calc(100% - 241px);
}

.schedule__table-header{
	position: relative;
    display: flex;
    width: 100%;
    height: 32px;
   
    border: 1px solid #e6e6e6;
    border-top: none;
    border-left: none;
    overflow: hidden;
	.arrow-left, .arrow-right{
		width: 53px;
	}
}
.schedule__table-header-center{
	text-align: center;
	flex-grow:1;
	// height: 45px;
	// line-height: 45px;
}
.table-wrapper{
	display: flex;
    width: 100%;
    height: calc(100% - 15px);
    background: #fff;
    border: 1px solid #e6e6e6;
    border-top: none;
    border-left: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
	.time-column-header{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 49px;
		background: #fff;
		border-bottom: 1px solid #e6e6e6;
		border-right: 1px solid #e6e6e6;
	}
	.time-column-scroll{
		height: calc(100% - 50px);/*высота колонки со временем*/
    	overflow: hidden;
   	    border-right: 1px solid #e6e6e6;
		padding-bottom: 15px;
		
	}
	.time-column-cell{
		display: flex;
		align-items: center;
		justify-content: center;
		color: #212121;
		text-align: center;
		width: 100%;
		height: 48px;
		padding: 0 4px;
		box-sizing: border-box;
		transition: all .1s linear;
		border-bottom: 1px solid #e6e6e6;
		user-select: none;
	}
}
.cabinet-table-block{
	position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
}
.cabinet-table-header{
	font-size: 14px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    box-sizing: border-box;
    background-color: #fff;
	.pause-icon__wrapper{
		width: 30px;
		height: 30px;
		flex-shrink: 0;
		border-radius: 50%;
		background-color: #828282;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: .2s;
		cursor:pointer;
		&:hover{
			background-color: #cfcfcf;
		}
	}

}
.cell{
	
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 0;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    height: 49px;
    min-width: 170px;
    max-width: 170px;
    padding: 12px 8px;
    transition: all .1s linear;
	a{
		display: block;
		color: #212121;
		text-decoration: none;
		max-width: 168px;
		white-space: nowrap !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
		font-size: 14px;
	}
}
.schedule-scrollbar-block{
	height: calc(100vh - 170px);/*высота таблицы*/
	padding-bottom: 15px;
	overflow: auto !important;
	width: 100%;
	scrollbar-color: #e6e6e6 #F19B48;
	scrollbar-width: thin;
	table{
		table-layout: fixed;
    	border-spacing: 0;
	}
	.table-row{
		height: 48px;
	}
	.schedule-table-cell{
		position: relative;
    box-sizing: border-box;
    width: 0;
    height: 48px;
    max-width: 170px;
    min-width: 170px;
    padding: 3px;
    border-right: 1px solid rgba(158,158,158,.35);
    border-bottom: 1px solid rgba(158,158,158,.35);
    text-align: center;
    font-size: 14px;
    user-select: none;
	cursor:pointer;
	}
}
.schedule-table-cell:after{
	content: '+';
	text-align: center;
	line-height: 46px;
	border-radius: 8px;
	border:1px solid $green;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	font-size: 28px;
	color: $green;
	display: none;
}
[class^="schedule-table-cell state-"]:after,[class^="schedule-table-cell state-"]:hover:after{
	display: none!important;
}
.schedule-table-cell:hover:after{display: block;}
.schedule-scrollbar-block::-webkit-scrollbar{
	width: 5px;
	height: 5px;
	cursor: grab;
}
.schedule-scrollbar-block::-webkit-scrollbar-thumb{
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background-color: #F19B48;
}
.schedule-scrollbar-block::-webkit-scrollbar-track{
	background-color: #e6e6e6;
}
.schedule-table-cell.state-started, *[data-state="state-started"]{
	color: rgb(51, 181, 118)!important;
    background-color: rgb(224, 246, 238)!important;
	border-left:4px solid #1f815e;
	border-radius: 4px 0 0 4px;
}
.schedule-table-cell.state-confirm, *[data-state="state-confirm"]{
	background-color: rgb(229, 242, 249) !important;
    color: rgb(0, 112, 192) !important;
	border-left:4px solid rgb(0, 112, 192);
	border-radius: 4px 0 0 4px;
}
.schedule-table-cell.state-done, *[data-state="state-done"]{
	color: rgb(117, 117, 117) !important;
    background-color: rgb(247, 247, 247) !important;
	border-left:4px solid rgb(117, 117, 117);
	border-radius: 4px 0 0 4px;
}
.schedule-table-cell.state-notconfirm, *[data-state="state-notconfirm"],*[data-state="state-cancel"]{
	color: rgb(239, 147, 62);
  	 border-radius: 4px 0 0 4px;
    background-color: rgb(255, 242, 217);
	border-left:4px solid rgb(239, 147, 62);
}