//======== основной контент страницы О нас =========
main.about-page-content
	
	include ../blocks/_about-text.pug
	
	
	
	//================= Экстренная ситуация =================
	include ../sections/_emergency-situation
	
	//=============== Статистик =============================
	include ../sections/_statistic-section
	
	//=============== Вопросы / ответы ======================
	include ../sections/_faq
	
	//================== Обратная связь =====================
	include ../sections/_feedback

//================== footer =====================
include ../sections/_footer