.cabinet-body-header.flex-vertical-center.flex-between	
	.cabinet-tasks-filters.flex-box
		+custom-select-icon('Запись из', ['Про Докторов', 'Онлайн запись', 'Из клиники'], 'mySelect--absolute')

		.mydatepicker
			input.form-input(type="text" id="datepicker" value="Дата")
		
		+custom-select-icon('Запись из', ['Про Докторов', 'Онлайн запись', 'Из клиники'], 'mySelect--absolute')

		+custom-select-checkbox('Пациент',['Иванов', 'Петров', 'Сидоров'], 'mySelect--absolute' )
	
	.cabinet-body-header__btns