header.cabinet-header
	.container-large
		.cabinet-header__content.flex-vertical-center
			.cabinet-header__logo
				a(href="index.html").custom-logo
					img(src="./img/logo2.png", width="106" alt="logo")
			.cabinet-header__menu
				.myTabs-buttons
					button.btn-bt.myTabs-btn.active Расписание
					button.btn-bt.myTabs-btn Задачи
					button.btn-bt.myTabs-btn Пациенты
					button.btn-bt.myTabs-btn Сотрудники
					
			
			.cabinet-header__profile
				.cabinet-header__avatar ТЮ
			