.edit-profile-content
	.edit-profile-content__head.flex-vertical-center
		.edit-profile__title.text-column
			.text-14.text-gray3 Пациенты
			.title-18 Редактировать профиль
		.edit-profile__btn
			button.btn.btn--accent Удалить
		
	.edit-profile-content__form
		.form-box
			label.text-16.text-gray3 Категория пациента #[sup.text-red *]
			input(type="text" placeholder="Фамилия").form-input
	