section.emergency
	.container
		.emergency-content
			.section-title.text-center.text-white
				h2.text-44 Экстренная ситуация
				.text-24 Срочная помощь 24/7
			.emergency-slider-wrapper
				.emergency-slider.swiper
					.swiper-wrapper
						.swiper-slide
							//===============одна карточка врача =========================
							+doctor-card-short('Константинов Константин Констатинопольский','doctor')
						.swiper-slide
							//===============одна карточка врача =========================
							+doctor-card-short('Юлия Игоревна Фролова','doctor2')
						.swiper-slide
							//===============одна карточка врача =========================
							+doctor-card-short('Константинов Константин Констатинопольский','doctor')
						.swiper-slide
							//===============одна карточка врача =========================
							+doctor-card-short('Юлия Игоревна Фролова','doctor2')
					.swiper-pagination.extrim-cards-pagination