.empl-quiz
	.container-600
		//====  reg quiz ======
		#registr-quiz.registr-quiz
			
			//======step #1 =======
			include ../blocks/_quiz-1.pug
			
			//======step #2 =======
			include ../blocks/_quiz-2.pug