.empl-reg-content
	.container
		.empl-reg-title.text-center
			.text-32.mb-24 Расскажите о себе
			.text-18 Укажите свои контактные данные и выберите категорию услуг, которые вы предоставляете. Это займет около 4 минут.
			
			.empl-reg-btn
				a(href="emp-reg-quiz.html").btn.btn--orange.btn--shadow Начнем
		.empl-reg-img
			img(src="", alt="alt")