.employee-personal-content
	.employee-personal__head.border-b
		.container-medium
			a(href="employees-page.html").text-icon.flex-vertical-center
				.icon-btn.arrow-left
				.text-16 Сотрудники
	.employee-personal-card
		.container-medium
			.employee-personal-header.flex-box.border-b
				.flex-box.gap-32
					form.avatar-form(enctype="multipart/form-data")
						.employee-personal-foto
							img(src="./img/avatar.svg", width="155" height="155" alt="foto")
						
						fieldset
							input#file.inputfile(type="file", multiple)
							label.btn-32.btn--orange(for="file") Загрузить фото
							
					+card-header-personal-page('Стоматолог', 'Голетиани Мариам', 'Стаж 17 лет')
				.employee-personal-options.flex-box.gap-32
					.edit-item(title="Редактировать" frame-btn="edit-empl-profile")
					.icon-delete(title="Удалить профиль" frame-btn="confirm-action")
				
			.employee-personal-place
				.employee-personal-tabs__title
					.text-18 Данные по филиалу Ваш доктор, Блюхера 56
				
				.employee-personal-place__toggle
					.btn.btn-32 Основная информация
					a(href="empl-schedule.html").label-light.label-light--large График работы
				
				.employee-personal-place__acordion
					.employee-acordion-content
						.acor-container
							//=========== single block =============
							.acor-item
								input#acor1(type='checkbox' name='acor')
								label(for='acor1').text-20.text-medium.text-indigo Стоматолог
								.acor-body
									+label-light-color('пациенты с 10 лет', 'label--gray')
									.flex-box.flex-between.mt-16
										.text-column
											.title-18 Стоматолог
											.text-16 Блюхера, 56
										.employee-personal-options.flex-box.gap-32
											.edit-item(title="Редактировать" frame-btn="edit-empl-place")
											.icon-delete(title="Удалить" frame-btn="confirm-action")

							//=========== single block =============
							.acor-item
								input#acor2(type='checkbox' name='acor')
								label(for='acor2').text-20.text-medium.text-indigo Ортодонт
								.acor-body
									+label-light-color('пациенты с 10 лет', 'label--gray')
									.flex-box.flex-between.mt-16
										.text-column
											.title-18 Ортодонт
											.text-16 Герцена, 16
										.employee-personal-options.flex-box.gap-32
											.edit-item(title="Редактировать" frame-btn="edit-empl-place")
											.icon-delete(title="Удалить" frame-btn="confirm-action")

					.employee-personal-place__btn.mt-32
						.text-icon.flex-box.flex-y-center(frame-btn="add-empl-place")
							.symbol-plus &#10010;
							span.text-18 Добавить