main.employee-page-content
	.employee-page-content__head
		.text-icon.flex-box.flex-y-center
			.icon-btn.arrow-left
			.text-16 К профилю сотрудника
	.employee-page-card
		header.border-b
			.title-18 Кирсанова Марина Анлександровна 
			.employee-page-card__row
				.text-icon.flex-box.flex-y-center
					.symbol-plus &#10010;
					span.text-18 Добавить правило
			.flex-vertical-center.flex-between
				.text-two-lines
					.text-16 Правила графиков работы
					.text-14.text-gray3 Задано 2 правила
				.icon-btn.arrow-right
		.employee-page-schedule
			h1.text-44.text-center Тут будет график врача