section.faq
	.container
		.section-title
			h2.text-44 Ответы на частые вопросы
		.faq-content
			.acor-container
				//=========== single block =============
				.acor-item
					input#acor1(type='radio' name='acor' )
					label(for='acor1').text-24 Как записаться на приём?
					.acor-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				//=========== single block =============
				.acor-item
					input#acor2(type='radio' name='acor')
					label(for='acor2').text-24 Как оплачивается приём врача?
					.acor-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				
				//=========== single block =============
				.acor-item
					input#acor3(type='radio' name='acor')
					label(for='acor3').text-24 Как записаться на приём?
					.acor-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				
				//=========== single block =============
				.acor-item
					input#acor4(type='radio' name='acor')
					label(for='acor4').text-24 Как оплачивается приём врача?
					.acor-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				