section.feedback
	.container
		.feedback-content.blueBg-section
			.feedback-content__col
				.title-group.mb-32
					.text-32.text-white Поможем найти врача
					.text-white.text-16.text-medium Спланируем ваш визит и быстро решим ваш вопрос
				.appointment-group.flex-vertical-center
					.appointment-group__item
						button(type="button").label-light.label-light--48.label-light--large Записаться на прием
					.appointment-group__item
						button.soc-icon-48
							img(src="./img/tg-color.png", width="48" height="48" alt="icon")
					.appointment-group__item
						button.soc-icon-48
							img(src="./img/wa-color.png", width="48" height="48" alt="icon")

			.feedback-content__col
				.title-group.mb-32
					.text-32.text-white Поделиться с друзьями
					.text-white.text-16.text-medium Подпись к заголовку
				.share-group.flex-vertical-center
					.share-group__item
						button(type="button").label-light.label-light--48.label-light--mini
							img(src="./img/fb.png", width="24" height="24" alt="icon")
							span Facebook
					.share-group__item
						button(type="button").label-light.label-light--48.label-light--mini
							img(src="./img/tg.png", width="24" height="24" alt="icon")
							span Telegram
					.share-group__item
						button(type="button").label-light.label-light--48.label-light--mini
							img(src="./img/vk.png", width="24" height="24" alt="icon")
							span.block-992 ВКонтакте
							span.hidden-992 ВК
						