footer.footer
	.container
		.footer-copyright.flex-box
			p.text-14.text-upper &copy; 2022 "iWEEK"
			.footer-links
				a(href="#!").text-link Политика конфиденциальности
				a(href="#!").text-link Пользовательское соглашение
				a(href="#!").text-link Условия предоставления информации
		.footer-info
			p.text-12 Сайт для посетителей старше 18 лет (18+). Информация, представленная на сайте в виде цен, акций и спец предложений НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, так как объем лечение каждого пациента зависит от индивидуальной ситуации и состояния здоровья пациента - информация носит ознакомительный характер и ориентирует о стандартном варианте лечения, не является инструкцией или рекомендацией к действию. Прежде чем использовать представленную на сайте информацию - требуется очная консультация с лечащим врачом, во многих случаях имеются противопоказания. Использование нашего сайта означает, что вы согласны с условиями его использования