
.cabinet-tasks-body
	//=========================== tasks-filters ======================
	.cabinet-body-header.flex-vertical-center.flex-between
		.cabinet-tasks-filters.flex-box
			+custom-select-icon('Запись из', ['Онлайн запись', 'Из клиники'], 'mySelect--absolute')

			.mydatepicker
				input.form-input(type="text" id="datepicker" value="Дата")
			
			+custom-select-icon('Пациент',['Беридзе Н.', 'Чикрадзе Э.', 'Кипиани Д.'], 'mySelect--absolute')

			+custom-select-checkbox('Врач',['Беридзе Н.', 'Чикрадзе Э.', 'Кипиани Д.'], 'mySelect--absolute' )
		
		//- .cabinet-body-header__btns.flex-box.btn-toggle-block
		//- 	label.btn--toggle
		//- 		input(type='radio' name='toggle-tasks-body' class='filter-radiobtn' checked)
		//- 		.btn
		//- 			span Статусы
		//- 			span.notify-badge 4
		//- 	label.btn--toggle
		//- 		input(type='radio' name='toggle-tasks-body' class='filter-radiobtn')
		//- 		.btn
		//- 			span Лист ожидания
		//- 			span.notify-badge 4
	//=========================== dashboard-table ======================
	.dashboard-table
		.dashboard-table-content.scroll-x
			.dashboard-table-column.state-planer
				.dashboard-table-column__head.marker-color--orange Запланировано (3)
				.scroll-vertical
					.dashboard-table-column__wrapper
						+task-card('Запланировано')
			
			
			.dashboard-table-column.state-confirm
				.dashboard-table-column__head.marker-color--blue Подтвержден (0)
				.scroll-vertical
					.dashboard-table-column__wrapper
						.task-empty Список задач пуст


				
			.dashboard-table-column.state-started
				.dashboard-table-column__head.marker-color--green Начат визит (3)
				.scroll-vertical
					.dashboard-table-column__wrapper
						+task-card('Начат визит')
						+task-card('Начат визит')
						+task-card('Начат визит')

			.dashboard-table-column.state-done
				.dashboard-table-column__head.marker-color--gray Выполнен(3)
				.scroll-vertical
					.dashboard-table-column__wrapper
						+task-card('Выполнен')
						+task-card('Выполнен')
						+task-card('Выполнен')


			
			.dashboard-table-column.state-absence
				.dashboard-table-column__head.marker-color--red Неявка (3)
				.scroll-vertical
					.dashboard-table-column__wrapper
						+task-card('Неявка')
						+task-card('Неявка')
						+task-card('Неявка')
						+task-card('Неявка')

				
			.dashboard-table-column.state-cancel
				.dashboard-table-column__head.marker-color--red Отменен (3)
				.scroll-vertical
					.dashboard-table-column__wrapper
						+task-card('Отменен')
						+task-card('Отменен')
						+task-card('Отменен')
						+task-card('Отменен')
