
.cabinet-tasks-body
	//=========================== tasks-filters ======================
	.cabinet-body-header.flex-vertical-center.flex-between
		.cabinet-tasks-filters.flex-box
			+custom-select-icon('Запись из', ['Онлайн запись', 'Из клиники'], 'mySelect--absolute')

			.mydatepicker
				input.form-input(type="text" id="datepicker" value="Дата")
			
			+custom-select-icon('Пациент',['Беридзе Н.', 'Чикрадзе Э.', 'Кипиани Д.'], 'mySelect--absolute')

			+custom-select-checkbox('Врач',['Беридзе Н.', 'Чикрадзе Э.', 'Кипиани Д.'], 'mySelect--absolute' )
	
		//- .cabinet-body-header__btns.flex-box.btn-toggle-block
		//- 	label.btn--toggle
		//- 		input(type='radio' name='toggle-tasks-body' class='filter-radiobtn' checked)
		//- 		.btn
		//- 			span Статусы
		//- 			span.notify-badge 4
		//- 	label.btn--toggle
		//- 		input(type='radio' name='toggle-tasks-body' class='filter-radiobtn')
		//- 		.btn
		//- 			span Лист ожидания
		//- 			span.notify-badge 4
	//=========================== dashboard-table ======================
	.dashboard-table
		.dashboard-table-content.scroll-x
			//============================== Запланирован  =======================
			.dashboard-table-column.state-planer
				.dashboard-table-column__head Запланирован (1)
				.scroll-vertical
					.dashboard-table-column__wrapper
						+task-card('Запланирован')
			
			//============================== Подтвержден =======================
			.dashboard-table-column.state-confirm
				.dashboard-table-column__head Подтвержден (0)
				.scroll-vertical
					.dashboard-table-column__wrapper
						.task-empty Список задач пуст


			//============================== Начат  =======================	
			.dashboard-table-column.state-started
				.dashboard-table-column__head Начат визит (3)
				.scroll-vertical
					.dashboard-table-column__wrapper
						+task-card('Начат')
						+task-card('Начат')
						+task-card('Начат')
			
			//============================== Просрочен  =======================
			.dashboard-table-column.state-expired
				.dashboard-table-column__head Просрочен (4)
				.scroll-vertical
					.dashboard-table-column__wrapper
						+task-card('Просрочен')
						+task-card('Просрочен')
						+task-card('Просрочен')
						+task-card('Просрочен')
			
			//============================== Выполнен  =======================
			.dashboard-table-column.state-done
				.dashboard-table-column__head Выполнен(3)
				.scroll-vertical
					.dashboard-table-column__wrapper
						+task-card('Выполнен')
						+task-card('Выполнен')
						+task-card('Выполнен')

			//============================== Отменен  =======================
			.dashboard-table-column.state-cancel
				.dashboard-table-column__head Отменен (3)
				.scroll-vertical
					.dashboard-table-column__wrapper
						+task-card('Отменен')
						+task-card('Отменен')
						+task-card('Отменен')
						
			//============================== Неявка  =======================
			.dashboard-table-column.state-notvisit
				.dashboard-table-column__head Неявка (2)
				.scroll-vertical
					.dashboard-table-column__wrapper
						+task-card('Неявка')
						+task-card('Неявка')