.container.container-slim
	.patient-acor
		.acor-container
			//=========== single block =============
			.acor-item
				input#acor1(type='checkbox' name='acor' )
				label(for='acor1').text-20 Архив
				.acor-body.flex-column.gap-16
					.favor-card.w-100.flex-box.gap-16
						.favor-card__img
							img(src="./img/doctor.png", width="100" height="100" alt="doc")
						.favor-card__text
							.title-20 Лордкипиани Т.Г.
							.text-16 Стоматолог
						.favor-card__date
							.text-16 "Орто-Дент"
							.text-16 10 Ноября 2022г
							.text-16 18:30
					
					.favor-card.w-100.flex-box.gap-16
						.favor-card__img
							img(src="./img/doctor.png", width="100" height="100" alt="doc")
						.favor-card__text
							.title-20 Лордкипиани Т.Г.
							.text-16 Стоматолог
						.favor-card__date
							.text-16 "Орто-Дент"
							.text-16 18 Ноября 2022г
							.text-16 12:30
					
					.favor-card.w-100.flex-box.gap-16
						.favor-card__img
							img(src="./img/doctor.png", width="100" height="100" alt="doc")
						.favor-card__text
							.title-20 Лордкипиани Т.Г.
							.text-16 Стоматолог
						.favor-card__date
							.text-16 "Орто-Дент"
							.text-16 12 Декабря 2022г
							.text-16 15:00
			//=========== single block =============
			.acor-item
				input#acor2(type='checkbox' name='acor' checked)
				label(for='acor2').text-20 Предстоящие
				.acor-body.flex-column.gap-16
					.favor-card.w-100.flex-box.gap-16
						.favor-card__img
							img(src="./img/doctor.png", width="100" height="100" alt="doc")
						.favor-card__text
							.title-20 Голетиани Т.Г.
							.text-16 Стоматолог
						.favor-card__date
							.text-16 "Орто-Дент"
							.text-16 12 Декабря 2022г
							.text-16 15:00