.container.container-slim
	.patient-profile
		a(href="patient-edit.html").profile-row.flex-vertical-center.gap-16
			
			.round-icon
				svg.svg-pacient
					use(href="./img/svg-sprite.svg#svg-pacient")
			
			.patient-profile-title
				.text-18 +7 927 104-85-55
				.text-14.text-gray3 Профиль