.container.container-slim
	.patient-profile
		.text-20 Избранное
		.patient-favorite
			//============ контент, если есть избранные врачи ===================
			//====single favor card ====
			.cabinet-card.flex-box.gap-16
				.cabinet-card__img
					img(src="./img/doctor.png", width="100" height="100" alt="doc")
				.cabinet-card__text
					.title-20 Лордкипиани М.Г.
					.text-16 Стоматолог
					.text-16.mt-8 Клиника "Орто-Дент"

				//======icon=====
				label.check-label.flex-center.flex-box
					input(type="checkbox" checked)
					svg.svg-heart(width="16" height="16" )
						use(href="./img/svg-sprite.svg#svg-heart")

			
			//====single favor card ====
			.cabinet-card.flex-box.gap-16
				.cabinet-card__img
					img(src="./img/doctor2.png", width="100" height="100" alt="doc")
				.cabinet-card__text
					.title-20 Голетиани М.И.
					.text-16 Стоматолог
					.text-16.mt-8 Клиника "Ваш Доктор"
				//======icon=====
				label.check-label.flex-center.flex-box
					input(type="checkbox" checked)
					svg.svg-heart(width="16" height="16" )
						use(href="./img/svg-sprite.svg#svg-heart")

			//====single favor card ====
			.cabinet-card.flex-box.gap-16
				.cabinet-card__img
					img(src="./img/doctor.png", width="100" height="100" alt="doc")
				.cabinet-card__text
					.title-20 Мамишвилли Е.К.
					.text-16 Стоматолог
					.text-16.mt-8 "NewOrto"

				//======icon=====
				label.check-label.flex-center.flex-box
					input(type="checkbox" checked)
					svg.svg-heart(width="16" height="16" )
						use(href="./img/svg-sprite.svg#svg-heart")
			//====single favor card ====
			.cabinet-card.flex-box.gap-16
				.cabinet-card__img
					img(src="./img/doctor.png", width="100" height="100" alt="doc")
				.cabinet-card__text
					.title-20 Антадзе Т.К.
					.text-16 Стоматолог
					.text-16.mt-8 "NewOrto"

				//======icon=====
				label.check-label.flex-center.flex-box
					input(type="checkbox" checked)
					svg.svg-heart(width="16" height="16" )
						use(href="./img/svg-sprite.svg#svg-heart")
