.container.container-slim

	.patient-profile
		.patient-profile-title.mb-32
			a(href="patient-main.html").icon-btn.arrow-left.pos-abs
			.text-20 Редактировать данные
		.patient-profile-content
			a(href="#!" frame-btn="edit-patient-phone").profile-row.profile-link.flex-vertical-center.gap-16
				.icon-item
					svg.svg-phone
						use(href="./img/svg-sprite.svg#svg-phone")
				
				.patient-profile-title
					.text-18 +7 927 104-85-55

			a(href="#!" frame-btn="edit-patient-name").profile-row.profile-link.flex-vertical-center.gap-16
				.icon-item
					svg.svg-edit
						use(href="./img/svg-sprite.svg#svg-edit")
				
				.patient-profile-title
					.text-18 ФИО
			
			a(href="#!" frame-btn="edit-patient-birthday").profile-row.profile-link.flex-vertical-center.gap-16
				.icon-item
					svg.svg-calendar
						use(href="./img/svg-sprite.svg#svg-calendar")
				
				.patient-profile-title
					.text-18 Дата рождения
			
			a(href="#!" frame-btn="edit-patient-email").profile-row.profile-link.flex-vertical-center.gap-16
				.icon-item @
				.patient-profile-title
					.text-18 la******ta@yandex.ru

//================== редактировать ФИО пациента ==============
.modal-frame-wrapper.modal-frame-right(frame-modal="edit-patient-name")
	.modal-frame.flex-column
		.modal-frame__head.flex-box.flex-y-center.flex-between
			.text-24  ФИО
			.icon-close(frame-close)
			
		.modal-frame__body
			form.flex-column.gap-32
				.form-box
					label.text-16 Фамилия
					input(type="text" value="Антадзе").form-input
				.form-box
					label.text-16 Имя
					input(type="text" value="Тама").form-input
				.form-box
					label.text-16 Отчество
					input(type="text").form-input
		.modal-frame__footer.mt-auto.border-top.flex-vertical-center.flex-between
			button.btn.btn-44.btn--orange(frame-close) Отмена
			button.btn.btn-44 Сохранить

//================== редактировать телефон пациента ==============
.modal-frame-wrapper.modal-frame-right(frame-modal="edit-patient-phone")
	.modal-frame.flex-column
		.modal-frame__head.flex-box.flex-y-center.flex-between
			.text-24 Телефон
			.icon-close(frame-close)
			
		.modal-frame__body
			form
				
				.form-box
					label.text-16 Телефон
					input(type="text" value="+7(927)108-55-55").form-input
					
		.modal-frame__footer.mt-auto.border-top.flex-vertical-center.flex-between
			button.btn.btn-44.btn--orange(frame-close) Отмена
			button.btn.btn-44 Сохранить

//================== редактировать ДР пациента ==============
.modal-frame-wrapper.modal-frame-right(frame-modal="edit-patient-birthday")
	.modal-frame.flex-column
		.modal-frame__head.flex-box.flex-y-center.flex-between
			.text-24 День рожедния
			.icon-close(frame-close)
			
		.modal-frame__body
			form
				.form-box
					label.text-16 Дата рождения
					.mydatepicker
						input.form-input(type="text" class="datepicker" value="01.10.1987")
					
		.modal-frame__footer.mt-auto.border-top.flex-vertical-center.gap-32
			button.btn.btn-44.btn--orange(frame-close) Отмена
			button.btn.btn-44 Сохранить

//================== редактировать email пациента ==============
.modal-frame-wrapper.modal-frame-right(frame-modal="edit-patient-email")
	.modal-frame.flex-column
		.modal-frame__head.flex-box.flex-y-center.flex-between
			.text-24 Email
			.icon-close(frame-close)
			
		.modal-frame__body
			form
				.form-box
					label.text-16 Email
					
					input.form-input(type="text"  value="lareta@yandex.ru")
					
		.modal-frame__footer.mt-auto.border-top.flex-vertical-center.gap-32
			button.btn.btn-44.btn--orange(frame-close) Отмена
			button.btn.btn-44 Сохранить
				