.container.container-slim
	.patient-profile
		.patient-profile-title.mb-32
			a(href="patient-main.html").icon-btn.arrow-left.pos-abs
			.text-20 Ваши отзывы
		
		.patient-reviews.patient-reviews--all
			//====single  card ====
			.rev-card.flex-column.gap-8
				.rev-card__img
					img(src="./img/doctor.png", width="50" height="50" alt="doc")
				.rev-card__text
					.title-16 Лордкипанидзе Мария Георгиевна
					.text-14 Стоматолог

				.rev-card__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

			
			//====single  card ====
			.rev-card.flex-column.gap-8
				.rev-card__img
					img(src="./img/doctor.png", width="50" height="50" alt="doc")
				.rev-card__text
					.title-16 Лордкипанидзе Мария Георгиевна
					.text-14 Стоматолог
				.rev-card__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
