mixin rating(title, inpName)
	.set-rating-item
		.text-18 #{title}
		.set-rating
			label.checkbox-label
				input(type='checkbox' name=''+ inpName class='real-checkbox')
				span
			label.checkbox-label
				input(type='checkbox' name=''+ inpName class='real-checkbox')
				span
			label.checkbox-label
				input(type='checkbox' name=''+ inpName class='real-checkbox')
				span
			label.checkbox-label
				input(type='checkbox' name=''+ inpName class='real-checkbox')
				span
			label.checkbox-label
				input(type='checkbox' name=''+ inpName class='real-checkbox')
				span

.container.container-slim
	.patient-acor
		.acor-container
			//=========== single block =============
			.acor-item
				input#acor1(type='checkbox' name='acor' checked)
				label(for='acor1').text-20.gray-3 Архив
				.acor-body.flex-column.gap-16
					.cabinet-card.w-100.flex-box.gap-16
						.cabinet-card__img
							img(src="./img/doctor.png", width="100" height="100" alt="doc")
						.cabinet-card__block.flex-box
							.cabinet-card__text
								.title-20 Лордкипиани Т.Г.
								.text-16 Стоматолог
								.cabinet-card__btn
									button(frame-btn="patient-add-review").btn.btn--primary.btn-32 Оставить отзыв
							.cabinet-card__date
								.text-16 "Орто-Дент"
								.flex-box
									.text-16 10 Ноября 2022г
									.text-16 18:30
					
					.cabinet-card.w-100.flex-box.gap-16
						.cabinet-card__img
							img(src="./img/doctor.png", width="100" height="100" alt="doc")
						.cabinet-card__block.flex-box
							.cabinet-card__text
								.title-20 Лордкипиани Т.Г.
								.text-16 Стоматолог
								.cabinet-card__btn
									button(frame-btn="patient-add-review").btn.btn--primary.btn-32 	Оставить отзыв						
							.cabinet-card__date
								.text-16 "Орто-Дент"
								.flex-box
									.text-16 15 Ноября 2022г
									.text-16 10:30
					
					.cabinet-card.w-100.flex-box.gap-16
						.cabinet-card__img
							img(src="./img/doctor.png", width="100" height="100" alt="doc")
						.cabinet-card__block.flex-box
							.cabinet-card__text
								.title-20 Лордкипиани Т.Г.
								.text-16 Стоматолог
							.cabinet-card__date
								.text-16 "Орто-Дент"
								.flex-box
									.text-16 20 Ноября 2022г
									.text-16 14:00
			//=========== single block =============
			.acor-item
				input#acor2(type='checkbox' name='acor' checked)
				label(for='acor2').text-20.text-indigo Предстоящие
				.acor-body.flex-column.gap-16
					.cabinet-card.w-100.flex-box.gap-16
						.cabinet-card__img
							img(src="./img/doctor.png", width="100" height="100" alt="doc")
						.cabinet-card__block.flex-box
							.cabinet-card__text
								.title-20 Голетиани Т.Г.
								.text-16 Стоматолог
							.cabinet-card__date
								.text-16 "Клинк-Orto"
								.flex-box
									.text-16 15 Апреля 2023г
									.text-16 11:30

//================== добавить отзыв ==============
.modal-frame-wrapper.modal-frame-right(frame-modal="patient-add-review")
	.modal-frame.flex-column
		.modal-frame__head.flex-box.flex-y-center.flex-between
			.title-wrapper
				.text-18.mb-8 Оставить отзыв о
				.text-24 Лордкипанидзе Тамрико Георгиевна
				 
			.icon-close(frame-close)
			
		.modal-frame__body
			form
				.rating-wrapper
					+rating('Тщательность обследования', 'rating-1')
					+rating('Эффективность лечения', 'rating-2')
					+rating('Отношение к пациенту', 'rating-3')
					+rating('Информирование пациента', 'rating-4')
					+rating('Посоветуете ли Вы врача?', 'rating-5')
				
				.form-box.mt-24
					label.text-16 Клиника
					
					+custom-select-icon('Блюхера, 56', ['Блюхера, 56', 'ИП Вердашев', 'Клиника "Сова"','Гиппократ', 'Зеленое яблоко', 'Добрый доктор' ], 'mySelect--absolute')
		
				.form-box.mt-24
					label.text-16 Дата посещения
					.mydatepicker
						input.form-input(type="text" class="datepicker" value="01.10.2022")
		
		.modal-frame__footer.mt-auto.border-top.flex-vertical-center.flex-between
			button.btn.btn-44.btn--orange(frame-close) Отмена
			button.btn.btn-44 Сохранить