//======== основной контент страницы Prices =========
main.price-page-content
	
	include ../sections/_prices-content.pug
	//=============== Вопросы / ответы ======================
	include ../sections/_faq
	
	//================== Обратная связь =====================
	include ../sections/_feedback

//================== footer =====================
include ../sections/_footer