section.prices
	.container
		.prices__title.flex-vertical-center.flex-between
			.text-44 Цены
			.tooltip-block
				.tooltip-head
					.tooltip-icon
						svg.svg-info
							use(href="../img/svg-sprite.svg#svg-info")
					.tooltip-title.title-16 Информация по ценам
				.tooltip-body
					p Информация, представленная на сайте в виде цен, акций и спец предложений НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, так как объем лечение каждого пациента зависит от индивидуальной ситуации состояния полости рта и здоровья пациента - информация носит ознакомительный характер и ориентирует о стандартном варианте лечения, не является инструкцией или рекомендацией к действию. Прежде чем использовать представленную на сайте информацию - требуется очная консультация с лечащим врачом, во многих случаях имеются противопоказания. Использование нашего сайта означает, что вы согласны с условиями его использования.
		//============== строка поиска =============
		.search-block-wrapper.flex-box
			.form-box.form-box--icon-left
				.form-box-input
					.form-box__icon
						svg.svg-search
							use(href="./img/svg-sprite.svg#svg-search")
					input(type="text" placeholder="Поиск услуги").form-input.form-input--64
			//======== кнопка Найти ====
			.btn.btn--gradient.btn-64 Найти
		
		.prices-table-wrapper
			//========= table single block ===============
			.table-block
				.text-32  Терапия
				.table-content
					.table-row
						p ЛЕЧЕНИЕ ПУЛЬПИТА МЕТОДОМ ГЛУБОКОЙ ПУЛЬПОТОМИЕЙ (БЕЗ НАЛОЖЕНИЯ ПЛОМБЫ)
						p #[span от] 100 &#8382;
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА
						p #[span от] 150 &#8382;
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА ПОД МИКРОСКОПОМ
						p #[span от] 200 &#8382;
					.table-row
						p ПОСТАНОВКА ПЛОМБЫ
						p #[span от] 80 &#8382;
			
			//========= table single block ===============
			.table-block
				.text-32  Отбеливание
				.table-content
					.table-row
						p ЛЕЧЕНИЕ ПУЛЬПИТА МЕТОДОМ ГЛУБОКОЙ ПУЛЬПОТОМИЕЙ (БЕЗ НАЛОЖЕНИЯ ПЛОМБЫ)
						p от 100 &#8382;
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА
						p от 150 &#8382;
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА ПОД МИКРОСКОПОМ
						p от 200 &#8382;
					.table-row
						p ПОСТАНОВКА ПЛОМБЫ
						p от 80 &#8382;
				.table-block__btn
					button.btn.btn-48(type="button")  Показать больше
			//========= table single block ===============
			.table-block
				.text-32  Отбеливание
				.table-content
					.table-row
						p ЛЕЧЕНИЕ ПУЛЬПИТА МЕТОДОМ ГЛУБОКОЙ ПУЛЬПОТОМИЕЙ (БЕЗ НАЛОЖЕНИЯ ПЛОМБЫ)
						p от 100 &#8382;
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА
						p от 150 &#8382;
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА ПОД МИКРОСКОПОМ
						p от 200 &#8382;
					.table-row
						p ПОСТАНОВКА ПЛОМБЫ
						p от 80 &#8382;
					
				.table-block__btn
					button.btn.btn-48(type="button")  Показать больше
