//======== основной контент страницы Prices =========
main.price-page-content
	
	include _prices-table.pug
	
	//================== Обратная связь =====================
	include ../sections/_feedback

//================== footer =====================
include ../sections/_footer