section.prices
	.container
		.prices__title.flex-vertical-center.flex-between
			.text-44 Цены
			.tooltip-block
				.tooltip-head
					
		//============== строка поиска =============
		.search-block-wrapper.flex-box
			.form-box.form-box--icon-left
				.form-box-input
					.form-box__icon
						svg.svg-search
							use(xlink:href="./img/svg-sprite.svg#svg-search")
					input(type="text" placeholder="Поисковый запрос").form-input.form-input--64
			//======== кнопка Найти ====
			.btn.btn--gradient.btn-64 Найти
		
		.prices-table-wrapper
			//========= table single block ===============
			.table-block
				.text-32  Терапия
				.table-content
					.table-row
						p ЛЕЧЕНИЕ ПУЛЬПИТА МЕТОДОМ ГЛУБОКОЙ ПУЛЬПОТОМИЕЙ (БЕЗ НАЛОЖЕНИЯ ПЛОМБЫ)
						p 5 675 ₽
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА
						p 11 880 ₽
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА ПОД МИКРОСКОПОМ
						p 5 675 ₽
					.table-row
						p ПОСТАНОВКА ПЛОМБЫ
						p 11 880 ₽
			
			//========= table single block ===============
			.table-block
				.text-32  Отбеливание
				.table-content
					.table-row
						p ЛЕЧЕНИЕ ПУЛЬПИТА МЕТОДОМ ГЛУБОКОЙ ПУЛЬПОТОМИЕЙ (БЕЗ НАЛОЖЕНИЯ ПЛОМБЫ)
						p 5 675 ₽
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА
						p 11 880 ₽
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА ПОД МИКРОСКОПОМ
						p 5 675 ₽
					.table-row
						p ПОСТАНОВКА ПЛОМБЫ
						p 11 880 ₽
					
				.table-block__btn
					button.btn.btn-48(type="button")  Показать больше
			//========= table single block ===============
			.table-block
				.text-32  Отбеливание
				.table-content
					.table-row
						p ЛЕЧЕНИЕ ПУЛЬПИТА МЕТОДОМ ГЛУБОКОЙ ПУЛЬПОТОМИЕЙ (БЕЗ НАЛОЖЕНИЯ ПЛОМБЫ)
						p 5 675 ₽
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА
						p 11 880 ₽
					.table-row
						p ЭНДОДОНТИЧЕСКОЕ ЛЕЧЕНИЕ КОРНЕВОГО КАНАЛА ПОД МИКРОСКОПОМ
						p 5 675 ₽
					.table-row
						p ПОСТАНОВКА ПЛОМБЫ
						p 11 880 ₽
					
				.table-block__btn
					button.btn.btn-48(type="button")  Показать больше
