.schedule-page
	.schedule-page__sidebar
		include ../blocks/_cabinet-sidebar-calendar
	.schedule-page__table
		.schedule__table-header
		.schedule__table-body
			.schedule__table-left
			.schedule__table-content