.schedule-page
	.schedule-page__sidebar
		include ../blocks/_cabinet-sidebar-calendar
	.schedule-page__table
		.schedule__table-header.flex-vertical-center.flex-between
			.icon-btn.arrow-left
			.schedule__table-header-center  23 ноября
			.icon-btn.arrow-right
		.schedule__table-body
