.schedule-page.cabinet-page-grid
	.cabinet-page-sidebar
		include ../blocks/_cabinet-sidebar-calendar
	.schedule-page__table.minified
		.schedule__table-header.flex-vertical-center.flex-between
			.icon-btn.arrow-left
			.schedule__table-header-center  23 декабря
			.icon-btn.arrow-right
		.table-wrapper
			.schedule-table-time-column.pb-24
				.time-column-header
					span Шаг
				.time-column-scroll
					.time-column-cell 8:00
					.time-column-cell 8:30
					.time-column-cell 9:00
					.time-column-cell 9:30
					.time-column-cell 10:00
					.time-column-cell 10:30
					.time-column-cell 11:00
					.time-column-cell 11:30
					.time-column-cell 12:00
					.time-column-cell 12:30
					.time-column-cell 13:00
					.time-column-cell 13:30
					.time-column-cell 14:00
					.time-column-cell 14:30
					.time-column-cell 15:00
					.time-column-cell 15:30
					.time-column-cell 16:00
					.time-column-cell 16:30
					.time-column-cell 17:00
					.time-column-cell 17:30
					.time-column-cell 18:00
					.time-column-cell 18:30
					.time-column-cell 19:00
					.time-column-cell 19:30
					.time-column-cell 20:00
					.time-column-cell 20:30
					.time-column-cell 21:00
					.time-column-cell 21:30
					.time-column-cell 22:00
					.time-column-cell 22:30
					.time-column-cell 23:00
					.time-column-cell 23:30
					.time-column-cell 00:00
			.cabinet-table-block
				.cabinet-table-header.pr-24
					+nameCell
					+nameCell
					+nameCell
					+nameCell
					+nameCell
					+nameCell
					+nameCell
					+nameCell
					+nameCell
					+nameCell
					+nameCell
					+nameCell
				.schedule-scrollbar-block
					table
						tbody
							+table-row
							+table-row
							+table-row1
							+table-row2
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row3
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row4
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row
							+table-row



							
