.schedule-page
	.schedule-page__sidebar
		include ../blocks/_cabinet-sidebar-calendar
	.schedule-page__table
		.schedule__table-header.flex-vertical-center.flex-between
			.icon-btn.arrow-left
			.schedule__table-header-center  23 ноября
			.icon-btn.arrow-right
		.schedule__table-body
			table
				thead
					tr
						th Шаг
						th Бочкарева
						th Гилязова
						th Бочкарева
						th Гилязова
						th Бочкарева
						th Гилязова
						th Бочкарева
						th Гилязова
						th Бочкарева
						th Гилязова
				tbody
					tr
						td 8:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 8:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td

					tr
						td 9:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 9:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 10:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 10:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 11:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 11:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 12:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 12:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 13:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 13:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 14:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 14:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 15:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 15:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 16:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 16:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 17:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 17:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 18:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 18:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 19:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 19:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 20:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 20:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 21:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 21:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 22:00
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr
						td 22:30
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr