section.statistic
	.container
		.statistic-content
			.statistic-item.text-white
				.text-44 327
				.text-16  Специлистов
			.statistic-item.text-white
				.text-44 2 986
				.text-16  Спасенных зубов
			.statistic-item.text-white
				.text-44 19
				.text-16  Подключенных клиник
			.statistic-item.text-white
				.text-44 977
				.text-16  Полезная цифра
