.visitor-page-body
	.visitor-page-sidebar
		.visitor-page-sidebar-menu.cab-menu
			a(href="visitor-page.html").active Профиль
			a(href="visitor-page2.html") Посещения
			
	.visitor-page-content
		.visitor-page-content__head
			a(href="visitor-page.html").text-icon.flex-box.flex-y-center
				.icon-btn.arrow-left
				.text-16 К списку пациентов
		.visitor-page-content__main
			.visitor-name.flex-box.flex-y-center
				.title-18 Миронов Роман Ильич
				span.text-gray3.text-14 35 лет
				a(href="edit-profile-visitor.html").edit-item
			.visitor-info-list
				.text-row
					.text-16.text-gray3 Дата рождения
					.text-18 22.09.1987
				.text-row
					.text-16.text-gray3 Пол
					.text-18 муж
				.text-row
					.text-16.text-gray3 Телефон
					.text-18 +995 599 130 630
				// .text-row
				// 		.text-16.text-gray3 Почта
				//		.text-18 info@mail.ru

			//===== Страховой полис ======
			.visitor-policy
				.visitor-policy__title
					.title-18 Страховой полис
				
				.visitor-policy__content
					.text-16.text-red Нет ни одного полиса
					.visitor-policy-add
						.text-icon.flex-box.flex-y-center(frame-btn="add-visitor-policy")
							.symbol-plus &#10010;
							span.text-18 Добавить полис