//===============одна карточка врача =========================
+doctor-card('Голетиани Мариам','doctor')

//===============одна карточка врача =========================
+doctor-card('Лордкипанидзе Мария','doctor2')

//======================== partner banner ======================
include partner-banner

//===============одна карточка врача ===========================
+doctor-card-select('StomTak2','company','',{addClass: 'mySelect--absolute', val:'Услуга', itemsArr:['Стоматолог', 'Ортодонт', 'Консультация имплантолога', 'Ветеринар', 'Терапевт', 'Окулист']})