.doc-card.flex-box
	//====== card img =======
	.doc-card__left
		.doc-card__foto-block
			.doc-card__foto
				label.check-label.flex-center.flex-box
					input(type="checkbox")
					svg.svg-heart(width="16" height="16" )
						use(xlink:href="../svg-sprite.svg#svg-heart")
				img(src="../img/doctor.png", width="140" height="140" alt="alt")
			
			.rating-group
				+starRating('4.4')
				a(href="#!").text-14.text-indigo 9 отзывов
				
	.doc-card__body
		.doc-card__info
			//====== card doc info =======
			.doc-card__center
				+card-header('ИП Вердашев А.И.', 'Константинов Константин Констатинопольский', 'Стаж 17 лет')
				
				.doc-card-cat
					.label-light-wrapper.gap-8.flex-wrapper
						+label-light('Диагностика')
						+label-light('Хирургия')
						+label-light('Пародонтология')
				
				.card-serv-wrapper.flex-box
					+card-price('Консультация', 'Бесплатно')
					+card-price('Диагностика', '3 000 руб.')
					+card-price('Хирургия', 'от 10 000 руб.')
					
					.card-serv-item
						.text-icon.text-extrim
							.text-red.text-14 Экстренная ситуация
						.text-18 от 5 700 руб.
		
			//====== card select time =======
			.doc-card__form
				.swiper-date-wrapper
					.owl-carousel.owl-carousel--custom.swiper-date
						.owl-carousel-slide
							label.radiobutton-badge
								input.label-radio(type='radio' name='date-radiobtn' )
								span.label-light Вторник, 18
						.owl-carousel-slide
							label.radiobutton-badge
								input.label-radio(type='radio' name='date-radiobtn' )
								span.label-light Среда, 19
						.owl-carousel-slide
							label.radiobutton-badge
								input.label-radio(type='radio' name='date-radiobtn' )
								span.label-light Четверг, 20
						.owl-carousel-slide
							label.radiobutton-badge
								input.label-radio(type='radio' name='date-radiobtn' )
								span.label-light Пятница, 21
						.owl-carousel-slide
							label.radiobutton-badge
								input.label-radio(type='radio' name='date-radiobtn' )
								span.label-light Суббота, 22
				
				.select-time-wrapper.flex-wrapper
					+timeRadio('15:30')
					+timeRadio('16:30')
					+timeRadio('17:00')
					+timeRadio('17:30')
					+timeRadio('18:00')
					+timeRadio('18:30')
					+timeRadio('19:00')
					+timeRadio('19:30')
					+timeRadio('20:00')
					+timeRadio('...')

	
		.doc-card__footer
			.doc-card__contacts.flex-verical-center
				.doc-card__contacts-item.flex-verical-center
					a(href="#!").text-icon.text-phone +995 551 90 01 17
					a(href="#!").text-icon.text-address ул. Мелашвили 4
						span.text-gray3 (3,5 км от вас)
				
				.doc-card__contacts-item.flex-verical-center.flex-between
					a(href="#!").text-icon.flex-box.flex-y-center.ml-auto
						.text-icon__img
							object(type="image/svg+xml" data="../img/maximize.svg" )
						.text-14 Открыть на карте

			

