//======== основной контент главной страницы =========
main.main-page-content
	.container
		include ../blocks/_benefits-items.pug
		section.doc-cards
			.section-title
				h2.text-32 Поиск специалиста
					sup 327
				
			.section-filters
				h3 Здесь буду фильтры
			
			.doc-cards-wrapper