//======== основной контент главной страницы =========
main.main-page-content
	include ../blocks/_benefits-items.pug
	include ../sections/_doc-card-section
	include ../sections/_emergency-situation
	include ../sections/_statistic-section
