//======== основной контент главной страницы =========
main.main-page-content
	//============ Преимущества =============================
	include ../blocks/_benefits-items.pug
	
	//============= Фильтры + Карточки врачей ===============
	include ../sections/_doc-card-section
	
	//================= Экстренная ситуация =================
	include ../sections/_emergency-situation
	
	//=============== Статистик =============================
	include ../sections/_statistic-section
	
	//=============== Вопросы / ответы ======================
	include ../sections/_faq
	
	//================== Обратная связь =====================
	include ../sections/_feedback
