section.partner-banner(style="background-image: url(./img/banner.png)")
	.partner-banner__body
		.text-32.text-white Очень важный баннер
		.text-orange.text-16.text-medium Сообщает о прекрасной клинике
	
	.partner-banner__footer
		button.btn.btn-primary(type='button') Купить плацебо
