*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
	color: $black;
	font-family: $reg;
	font-weight: 400;
	font-size: 16px;
	background-color: #F8FBFF;
	-webkit-font-smoothing: antialiased;
	
}
main{
	padding-top: 60px;
	padding-bottom: 64px;
	background-color: #F8FBFF;
	@media (max-width: 991px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.noscroll {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;

	@media(min-width:1200px) {
		padding-right: 18px;
	}
}
.scroll-vertical{
	overflow: hidden;
	overflow-y: auto;
	scrollbar-color: #E0E0E0 $orange;
	scrollbar-width: 5px;
	&::-webkit-scrollbar{
		width: 5px;
	}
	&::-webkit-scrollbar-thumb{
		width: 5px;
		background-color: $orange;
		border-radius: 5px;
	}
	&::-webkit-scrollbar-track{
		background-color: #E0E0E0;
	}
}
.scroll-x{
	overflow: hidden;
	overflow-x: auto;
	scrollbar-color: #E0E0E0 $orange;
	scrollbar-width: 5px;
	&::-webkit-scrollbar{
		width: 15px;
		height:15px;
	}
	&::-webkit-scrollbar-thumb{
		height: 15px;
		background-color: $orange;
		border-radius: 5px;
	}
	&::-webkit-scrollbar-track{
		background-color: #E0E0E0;
	}
}
#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .8);
	// backdrop-filter: blur(5px);
	z-index: 5;
}

#overlay.active {
	display: block;

}

a,
a:hover {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
main{
	position: relative;
	background-color: #F8FBFF;
}
input,
button,
button:focus,
input:focus {
	outline: none;
	border: none;
	font-family: inherit;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-family: inherit;
}

input[type="submit"] {
	padding: 0;
	cursor: pointer;
}

input[type="radio"],
input[type='checkbox'],
input[type="submit"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.container{
	
	width: 1320px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;	
	@media(max-width:1364px){
		width: 1140px;
	}
	@media(max-width:1199px){
		width: 960px;
	}
	@media(max-width:991px){
		width: 760px;
	}
	@media(max-width:767px){
		max-width: 640px;
		width: 100%;
	}

}
.container-slim{
	width: 100%;
	max-width: 832px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	// max-width: 1920px;
}
.container-large{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	// max-width: 1920px;
}
.blueBg-section{
	background: linear-gradient(225deg, #578DF6 22.38%, #5757F6 75.99%);
	border-radius: 16px;
}

