.form-input,.input-slim,.form-input-48{
	height: 44px;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 16px;
	color: $gray;
	font-weight: 500;
	width: 100%;
	display: block;
	// cursor:pointer;
	&:focus{
		border: 1px solid #BDBDBD;
	}
	&:hover{
		color: $indigo;
	}
	&::placeholder{
			font-size: 16px;
			color: $gray3;
	}
	
}
.form-input-48{
	height: 48px;
}
.mySelect.mySelect--38 .form-input,
.input-slim{
	height: 38px;
	font-size: 16px;
	color: $gray;
	&::placeholder{
		font-family: inherit;
		color: $gray3;
	}
	@media (max-width: 767px) {
		height:36px;
	}
}
.mySelect.mySelect--64 .form-input,
.form-input.form-input--64{
	height: 64px;
	padding-left: 24px;
	padding-right: 24px;
	border-radius: 8px;
	@media (max-width: 991px) {
		height: 40px;
		padding-left: 18px;
		padding-right: 18px;
	}
}
.form-box{
	label{
		margin-bottom: 8px;
		display: inline-block;
		@media (max-width: 767px) {
			font-size: 12px;
		}
	}
}
.string-input{
	font-size: 18px;
	line-height: 30px;
	color: $gray;
}
.form-row-hidden{
	height: 0;
	overflow: hidden;
	transition: .3s;
	&.visible{
		height: 65px;
		padding-top: 16px;
	}
}
.error-text{
	color: $red;
	font-size: 14px;
	margin-top: 8px;
	font-weight: 400;
	@media (max-width: 767px) {
		font-size: 12px;
	}
}
input.input-notvalid{
	border-color: $red;
	&::placeholder{
		color: $red;
	}
}
label {
	cursor: pointer;
	position: relative;
	
	align-items: center;
}

//checkbox
input.hide-input,
input[type='checkbox'].real-checkbox,
input[type='radio'].real-radio,.label-radio,
input[type='checkbox'].toggle-switch,
input[type='checkbox'].timetable-checkbox,.timetable-radiobtn,.filter-radiobtn,
input[type='checkbox'].filter-checkbox {
	width: 0;
	height: 0;
	position: absolute;
	opacity: 0;
	z-index: -1;
	top:0;
	left:0;
}
sup.text-red{
	font-size: 18px;
	line-height: 10px;
}
.checkbox-label {
	.real-checkbox:hover+.custom-checkbox {
		background-color: $wlgray;
		transition: 0.2s ease-in;

	}

	.custom-checkbox {
		position: relative;
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 4px;
		vertical-align: sub;
		margin-right: 8px;
	}

	.custom-checkbox::before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 8px;
		background: transparent;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.42682 0.282078C9.59806 0.109242 9.83075 0.0112165 10.074 0.00942442C10.3173 0.00763237 10.5514 0.10222 10.7252 0.272515C10.899 0.44281 10.9983 0.674965 11.0014 0.918244C11.0045 1.16152 10.9112 1.39614 10.7418 1.57083L5.84182 7.69645C5.75764 7.78709 5.65606 7.85983 5.54315 7.91033C5.43024 7.96083 5.3083 7.98806 5.18463 7.9904C5.06096 7.99273 4.93809 7.97012 4.82335 7.92391C4.70861 7.8777 4.60436 7.80885 4.51682 7.72145L1.26807 4.47395C1.09543 4.30123 0.998477 4.067 0.998535 3.8228C0.998594 3.57859 1.09566 3.34441 1.26838 3.17177C1.44111 2.99913 1.67533 2.90217 1.91954 2.90223C2.16375 2.90229 2.39793 2.99936 2.57057 3.17208L5.13995 5.74208L9.40245 0.310828C9.41019 0.300946 9.41854 0.291553 9.42745 0.282703L9.42682 0.282078Z' fill='white'/%3e%3c/svg%3e");
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(0);
		margin-top: 1px;
	}

	.real-checkbox:checked+.custom-checkbox::before {
		transform: translate(-50%, -50%) scale(1);
	}

	.real-checkbox:checked+.custom-checkbox {
		background-color: $dblue;
	}

	.real-checkbox:checked+.custom-checkbox:hover {
		background-color: $indigo;
		border-color: $indigo;
	}
}
.checkboxes-wrapper{
	gap:24px;
	@media (max-width: 1199px) {
		gap:15px;
	}
}
//radio-button
.radiobutton-label {
	.custom-radio {
		position: relative;
		display: inline-block;
		height: 16px;
		width: 16px;
		background-color: $white;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		margin-right: 8px;
		flex-shrink: 0;
	}

	
	.real-radio:checked + .custom-radio{
		border:5px solid $sky;
	}
	.real-radio:checked:hover + .custom-radio{
		border:5px solid $sky;
	}
	
	.real-radio:hover+.custom-radio {
		background: $wlgray;
		border: 1px solid rgba(0, 0, 0, 0.25);
		transition: 0.2s ease-in;
	}
}
.custom-checkbox__text,.custom-radio__text, .custom-switch__text{
	font-size: 16px;
	color: $gray;
	font-weight: 500;
}
//toggle-switch
.switch-toggle {
	.real-switch {
		position: relative;
		width: 32px;
		height: 16px;
		bottom: 0;
		border-radius: 13px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		transition: .2s;
		margin-right: 8px;
	}

	.real-switch:before {
		position: absolute;
		content: "";
		height: 12px;
		width: 12px;
		left: 2px;
		top: 1px;
		background: rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		margin-right: 8px;
		transition: .2s;
	}

	.toggle-switch:hover+.real-switch {
		background-color: $white;
		border: 1px solid $coral;
	}

	.toggle-switch:hover+.real-switch:before {
		background-color: $coral;
	}

	.toggle-switch:checked+.real-switch {
		background: $coral;
		border: 1px solid $coral;
	}

	.toggle-switch:checked+.real-switch:hover {
		background: $red ;
		border: 1px solid $red;

	}

	.toggle-switch:checked+.real-switch:before {
		background-color: $white;
	}

	.toggle-switch:checked+.real-switch:before {
		-webkit-transform: translateX(14px);
		-ms-transform: translateX(14px);
		transform: translateX(14px);
	}
}
//Расписание (время записи на прием)

.radiobutton-time__group {
	display: inline-flex;

}

.radiobutton-time {

	.radiobutton-checkbox {
		background-color: $indigo;
		color: $white;
		display: inline-block;
		width: 70px;
		height: 32px;
		border-radius: 4px;
		padding: 6px 17px;

		&:hover {
			background-color: $lavender;
			transition: 0.2s ease-in;
		}
	}

	.timetable-radiobtn:checked+.radiobutton-checkbox {
		background-color: $lavender;
	}
}


//Переключатель фильтра
.filter-toggle__block {
	
	height: 38px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #E0E0E0;
	

	.filter-toggle-item span{
		padding: 0 12px;
		line-height: 36px;
		white-space: nowrap;
		display: inline-block;
		height: 38px;
		width: 100%;
	}
	.filter-toggle-item  +.filter-toggle-item {
		border-left:1px solid #E0E0E0;
	}
	.filter-toggle-item:hover span{
		color: $indigo;
		transition: 0.2s ;
	}

	.filter-radiobtn:checked+span {
		color: $white;
		background: $dblue;
		transition: 0.2s;
	}
}
.text-sub-input, .error{
	margin-top: 8px;
	
}
.form-box-input{
	position: relative;
	
}
.form-box__icon{
	display: inline-block;	
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	// svg{vertical-align: middle;}
}

 .form-box--icon-left .form-input {padding-left: 60px;}
 .form-box--icon-left .form-input.input-slim {padding-left: 40px;}
 .form-box--icon-right .form-input {padding-right: 36px;}

.form-box--icon-left .form-box__icon{left: 24px;}
 .form-box--icon-right .form-box__icon{right: 24px;}
@media (max-width: 991px) {
	.form-box--icon-left .form-input {padding-left: 47px;}
	.form-box--icon-right .form-input{padding-right: 30px;}
	.form-box--icon-left .form-box__icon{left: 16px;}
	.form-box--icon-right .form-box__icon{right: 12px;}
}
.form-textarea textarea{
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	padding: 16px;
	font-family: inherit;
	font-size: 16px;
	color: $gray;
	width: 100%;
	height: 130px;
	resize: none;
	outline: none;
	&:focus{outline: none;}
	&::placeholder{
		font-size: 16px;
		color: $gray3;
		font-family: inherit;
	}
}
.agree-text .custom-checkbox{
	flex-shrink: 0;
}