.svg-extra{
	display: inline-block;
	stroke: $coral;	
	fill: transparent;
}
.svg-notify,.svg-star, .svg-home,.svg-pacient,.svg-reload,.svg-edit, .svg-phone{
	fill:#191D23;
	width: 20px;
	height: 20px;
	flex-shrink:0;
}
.svg-notify{
	cursor:pointer;
	width: 19px;
	height: 24px;
}
.svg-phone{stroke:#191D23;}
.svg-menu{
	cursor:pointer;
	display: block;
	fill: #000;
	width: 20px;
	height: 18px;
	&:hover{
		fill: $indigo;
	}
}
.svg-flag{
	fill:transparent;
}
.svg-tg, .svg-wa{
	fill: #73DF8F;
	transition: .3s;
	&:hover{
		fill: #fff;
	}
}
.svg-logo{
	width: 136px;
	height: 37px;
	@media (max-width: 1199px) {
		width: 121px;
		height: 32px;
	}
}
.svg-map{
	width: 12px;
	height: 16px;
	fill:#73DF8F;
}
svg{
	display: inline-block;
}
.svg-heart{
	stroke:#828282;
	fill: transparent;
	transition: .3s;
}
.svg-heart:hover{
	stroke:#EC6660;
	fill: transparent;
}

.check-label{
	background: #FFFFFF;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	width: 24px;
	height: 24px;
	position: relative;
	cursor:pointer;
	input{
		width: 0.01px;
		height: 0.01px;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;

	}
	input:checked + svg{
		
		stroke:#EC6660;
		fill: #EC6660;
		&:hover{
			stroke: #C5403A;
			fill:#C5403A;
		}
	}
}

.icon-plus{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM10.625 5.625C10.625 5.27982 10.3452 5 10 5C9.65482 5 9.375 5.27982 9.375 5.625V9.375H5.625C5.27982 9.375 5 9.65482 5 10C5 10.3452 5.27982 10.625 5.625 10.625H9.375V14.375C9.375 14.7202 9.65482 15 10 15C10.3452 15 10.625 14.7202 10.625 14.375V10.625H14.375C14.7202 10.625 15 10.3452 15 10C15 9.65482 14.7202 9.375 14.375 9.375H10.625V5.625Z' fill='%2373DF8F'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: contain;

}
.svg-plus{
	width: 28px;
	height: 28px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.0802 14.9333H3.92015C3.67261 14.9333 3.43522 14.835 3.26018 14.66C3.08515 14.4849 2.98682 14.2475 2.98682 14C2.98682 13.7524 3.08515 13.5151 3.26018 13.34C3.43522 13.165 3.67261 13.0667 3.92015 13.0667H24.0802C24.3277 13.0667 24.5651 13.165 24.7401 13.34C24.9152 13.5151 25.0135 13.7524 25.0135 14C25.0135 14.2475 24.9152 14.4849 24.7401 14.66C24.5651 14.835 24.3277 14.9333 24.0802 14.9333Z' fill='%23cccccc'/%3e%3cpath d='M14.0002 25.0134C13.7527 25.0134 13.5153 24.915 13.3403 24.74C13.1652 24.565 13.0669 24.3276 13.0669 24.08V3.92003C13.0669 3.67249 13.1652 3.4351 13.3403 3.26006C13.5153 3.08503 13.7527 2.98669 14.0002 2.98669C14.2478 2.98669 14.4852 3.08503 14.6602 3.26006C14.8352 3.4351 14.9336 3.67249 14.9336 3.92003V24.08C14.9336 24.3276 14.8352 24.565 14.6602 24.74C14.4852 24.915 14.2478 25.0134 14.0002 25.0134Z' fill='%23cccccc'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.btn-coopyright{
	display: flex;
	align-items: center;
	column-gap:12px;
	cursor:pointer;
	&:hover{
		.icon-plus{
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM10.625 5.625C10.625 5.27982 10.3452 5 10 5C9.65482 5 9.375 5.27982 9.375 5.625V9.375H5.625C5.27982 9.375 5 9.65482 5 10C5 10.3452 5.27982 10.625 5.625 10.625H9.375V14.375C9.375 14.7202 9.65482 15 10 15C10.3452 15 10.625 14.7202 10.625 14.375V10.625H14.375C14.7202 10.625 15 10.3452 15 10C15 9.65482 14.7202 9.375 14.375 9.375H10.625V5.625Z' fill='white'/%3e%3c/svg%3e ");
		}
	}
}
.icon-minus{
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM5.625 9.375C5.27982 9.375 5 9.65482 5 10C5 10.3452 5.27982 10.625 5.625 10.625H14.375C14.7202 10.625 15 10.3452 15 10C15 9.65482 14.7202 9.375 14.375 9.375H5.625Z' fill='white'/%3e%3c/svg%3e");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}
.toggle-menu{
	border: 1px solid #494966;
	border-radius: 4px;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.5 10H17.5' stroke='%2373DF8F' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M2.5 5H17.5' stroke='%2373DF8F' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M2.5 15H17.5' stroke='%2373DF8F' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: contain;
	flex-shrink: 0;
	cursor:pointer;
	@media(min-width:992px){
		display: none!important;
	}
}

.icon-delete{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3c!--! Font Awesome Pro 6.2.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3e%3cpath d='M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z'/%3e%3c/svg%3e");
	cursor:pointer;
	width: 18px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	opacity: .6;
	&:hover{
		opacity: .3;
	}
}
.toggle-menu.active{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15 5L5 15' stroke='%23EB5757' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M5 5L15 15' stroke='%23EB5757' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
}
.icon-btn{
	flex-shrink: 0;
	cursor:pointer;
	border: 1px solid  #E0E0E0;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	background-color: #fff;
	border-radius: 2px;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.icon-close{
	width: 36px;
	height: 36px;
	flex-shrink: 0;
	cursor:pointer;
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15 5L5 15' stroke='%23EB5757' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M5 5L15 15' stroke='%23EB5757' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
	border: 1px solid  #E0E0E0;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	background-color: #fff;
	border-radius: 2px;
	&:hover{
		opacity: .7;
	}

}
.icon-info, .icon-carret,.icon-carret-white,.icon-carret-mini,.icon-filter,.special-btn:after,.special-btn:before,.icon-city{
	cursor:pointer;
	width: 24px;
	height: 24px;
	background-position: center;
	background-size: contain;
	background-size: auto;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.46967 0.96967C0.762563 0.676777 1.23744 0.676777 1.53033 0.96967L10 9.43934L18.4697 0.96967C18.7626 0.676777 19.2374 0.676777 19.5303 0.96967C19.8232 1.26256 19.8232 1.73744 19.5303 2.03033L10.5303 11.0303C10.2374 11.3232 9.76256 11.3232 9.46967 11.0303L0.46967 2.03033C0.176777 1.73744 0.176777 1.26256 0.46967 0.96967Z' fill='%235757F6'/%3e%3c/svg%3e");
}
.icon-carret-mini,.special-btn:before{
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L7 6.29289L12.6464 0.646447C12.8417 0.451184 13.1583 0.451184 13.3536 0.646447C13.5488 0.841709 13.5488 1.15829 13.3536 1.35355L7.35355 7.35355C7.15829 7.54882 6.84171 7.54882 6.64645 7.35355L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z' fill='%235757F6'/%3e%3c/svg%3e");
}
.icon-filter, .special-btn:after{
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.5 0.5C0.5 0.223858 0.723858 0 1 0H13C13.2761 0 13.5 0.223858 13.5 0.5V2.5C13.5 2.62352 13.4543 2.74267 13.3716 2.83448L9 7.69187V12.5C9 12.7152 8.86228 12.9063 8.65811 12.9743L5.65811 13.9743C5.50564 14.0252 5.33803 13.9996 5.20764 13.9056C5.07726 13.8116 5 13.6607 5 13.5V7.69187L0.628353 2.83448C0.545722 2.74267 0.5 2.62352 0.5 2.5V0.5Z' fill='%23272740'/%3e%3c/svg%3e");
}
.icon-filter{opacity: .5;}
.icon-city{
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 16C6 16 12 10.3137 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 10.3137 6 16 6 16ZM6 9C4.34315 9 3 7.65685 3 6C3 4.34315 4.34315 3 6 3C7.65685 3 9 4.34315 9 6C9 7.65685 7.65685 9 6 9Z' fill='%2373DF8F'/%3e%3c/svg%3e");
}
.icon-carret-white{
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L7 6.29289L12.6464 0.646447C12.8417 0.451184 13.1583 0.451184 13.3536 0.646447C13.5488 0.841709 13.5488 1.15829 13.3536 1.35355L7.35355 7.35355C7.15829 7.54882 6.84171 7.54882 6.64645 7.35355L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
}
.arrow-left{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 5C14 4.72386 13.7761 4.5 13.5 4.5L1.70711 4.5L4.85355 1.35355C5.04882 1.15829 5.04882 0.841708 4.85355 0.646446C4.65829 0.451183 4.34171 0.451183 4.14645 0.646446L0.146446 4.64645C-0.0488157 4.84171 -0.0488157 5.15829 0.146446 5.35355L4.14645 9.35355C4.34171 9.54882 4.65829 9.54882 4.85355 9.35355C5.04882 9.15829 5.04882 8.84171 4.85355 8.64645L1.70711 5.5L13.5 5.5C13.7761 5.5 14 5.27614 14 5Z' fill='%23212529'/%3e%3c/svg%3e");
}
.arrow-right{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 5C0 4.72386 0.223858 4.5 0.5 4.5L12.2929 4.5L9.14645 1.35355C8.95118 1.15829 8.95118 0.841708 9.14645 0.646446C9.34171 0.451183 9.65829 0.451183 9.85355 0.646446L13.8536 4.64645C14.0488 4.84171 14.0488 5.15829 13.8536 5.35355L9.85355 9.35355C9.65829 9.54882 9.34171 9.54882 9.14645 9.35355C8.95118 9.15829 8.95118 8.84171 9.14645 8.64645L12.2929 5.5L0.5 5.5C0.223858 5.5 0 5.27614 0 5Z' fill='%23212529'/%3e%3c/svg%3e");
}
.arrow-next-blue,.arrow-prev-blue{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 12H19' stroke='%235757F6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M12 19L19 12L12 5' stroke='%235757F6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
	width: 24px;
	height: 24px;
	cursor:pointer;
	display: inline-block;
	&:hover{opacity: .5;}
}
.arrow-prev-blue{
	transform: rotate(180deg);
}
svg{
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.svg-search, .svg-location{
	width: 24px;
	height: 24px;
	stroke:#828282;
	fill: transparent;
	@media (max-width: 991px) {
		width: 20px;
		height: 20px;
	}
}

.svg-info{
	width: 16px;
	height: 16px;
	fill:#F19B48;
}
.icon-info{
	width: 24px;
	height: 24px;
	flex-shrink:0;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.2898 3.8602L1.81978 18.0002C1.64514 18.3026 1.55274 18.6455 1.55177 18.9947C1.55079 19.3439 1.64127 19.6873 1.8142 19.9907C1.98714 20.2941 2.2365 20.547 2.53748 20.7241C2.83847 20.9012 3.18058 20.9964 3.52978 21.0002H20.4698C20.819 20.9964 21.1611 20.9012 21.4621 20.7241C21.7631 20.547 22.0124 20.2941 22.1854 19.9907C22.3583 19.6873 22.4488 19.3439 22.4478 18.9947C22.4468 18.6455 22.3544 18.3026 22.1798 18.0002L13.7098 3.8602C13.5315 3.56631 13.2805 3.32332 12.981 3.15469C12.6814 2.98605 12.3435 2.89746 11.9998 2.89746C11.656 2.89746 11.3181 2.98605 11.0186 3.15469C10.7191 3.32332 10.468 3.56631 10.2898 3.8602V3.8602Z' stroke='%23F19B48' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M12 9V13' stroke='%23F19B48' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M12 17H12.01' stroke='%23F19B48' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
}
.edit-item, .copy-icon,.pause-icon{
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3c!--! Font Awesome Pro 6.2.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3e%3cpath d='M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.8 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z'/%3e%3c/svg%3e");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	cursor:pointer;
	opacity: .6;
}
.copy-icon{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3c!--! Font Awesome Pro 6.2.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3e%3cpath d='M502.6 70.63l-61.25-61.25C435.4 3.371 427.2 0 418.7 0H255.1c-35.35 0-64 28.66-64 64l.0195 256C192 355.4 220.7 384 256 384h192c35.2 0 64-28.8 64-64V93.25C512 84.77 508.6 76.63 502.6 70.63zM464 320c0 8.836-7.164 16-16 16H255.1c-8.838 0-16-7.164-16-16L239.1 64.13c0-8.836 7.164-16 16-16h128L384 96c0 17.67 14.33 32 32 32h47.1V320zM272 448c0 8.836-7.164 16-16 16H63.1c-8.838 0-16-7.164-16-16L47.98 192.1c0-8.836 7.164-16 16-16H160V128H63.99c-35.35 0-64 28.65-64 64l.0098 256C.002 483.3 28.66 512 64 512h192c35.2 0 64-28.8 64-64v-32h-47.1L272 448z'/%3e%3c/svg%3e");
}
.pause-icon{
	width: 16px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3c!--! Font Awesome Pro 6.2.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3e%3cpath d='M48 64C21.5 64 0 85.5 0 112V400c0 26.5 21.5 48 48 48H80c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zm192 0c-26.5 0-48 21.5-48 48V400c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H240z'/%3e%3c/svg%3e");
}
.help-info{
	width: 40px;
	height: 40px;
	border: 1px solid $gray3;
	text-align: center;
	line-height: 38px;
	flex-shrink:0; cursor:pointer;
	border-radius: 50%;
	font-size: 20px;
	font-weight: 500;
	&:hover{
		opacity: .5;
	}
}
.icon-notify{
	width: 20px;
	height: 20px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.9438 12.6812L16.25 10.9937V8.125C16.2501 4.91522 13.8187 2.22723 10.625 1.90625V0.625H9.37501V1.90625C6.18132 2.22723 3.74997 4.91522 3.75001 8.125V10.9937L2.05626 12.6812C1.93927 12.7992 1.87405 12.9589 1.87501 13.125V15C1.87501 15.3452 2.15483 15.625 2.50001 15.625H6.87501C6.87501 17.3509 8.27412 18.75 10 18.75C11.7259 18.75 13.125 17.3509 13.125 15.625H17.5C17.8452 15.625 18.125 15.3452 18.125 15V13.125C18.126 12.9589 18.0608 12.7992 17.9438 12.6812ZM10 17.5C8.96448 17.5 8.12501 16.6605 8.12501 15.625H11.875C11.875 16.6605 11.0355 17.5 10 17.5ZM16.875 14.375H3.12501V13.3812L4.81876 11.6875C4.93423 11.5711 4.99932 11.414 5.00001 11.25V8.125C5.00001 5.36358 7.23859 3.125 10 3.125C12.7614 3.125 15 5.36358 15 8.125V11.25C14.9991 11.4161 15.0643 11.5758 15.1813 11.6938L16.875 13.3812V14.375Z' fill='%23C5403A'/%3e%3cmask id='mask0_311_6405' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='1' y='0' width='18' height='19'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.9438 12.6812L16.25 10.9937V8.125C16.2501 4.91522 13.8187 2.22723 10.625 1.90625V0.625H9.37501V1.90625C6.18132 2.22723 3.74997 4.91522 3.75001 8.125V10.9937L2.05626 12.6812C1.93927 12.7992 1.87405 12.9589 1.87501 13.125V15C1.87501 15.3452 2.15483 15.625 2.50001 15.625H6.87501C6.87501 17.3509 8.27412 18.75 10 18.75C11.7259 18.75 13.125 17.3509 13.125 15.625H17.5C17.8452 15.625 18.125 15.3452 18.125 15V13.125C18.126 12.9589 18.0608 12.7992 17.9438 12.6812ZM10 17.5C8.96448 17.5 8.12501 16.6605 8.12501 15.625H11.875C11.875 16.6605 11.0355 17.5 10 17.5ZM16.875 14.375H3.12501V13.3812L4.81876 11.6875C4.93423 11.5711 4.99932 11.414 5.00001 11.25V8.125C5.00001 5.36358 7.23859 3.125 10 3.125C12.7614 3.125 15 5.36358 15 8.125V11.25C14.9991 11.4161 15.0643 11.5758 15.1813 11.6938L16.875 13.3812V14.375Z' fill='white'/%3e%3c/mask%3e%3cg mask='url(%23mask0_311_6405)'%3e%3c/g%3e%3c/svg%3e");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}
.svg-calendar{
	width: 28px;
	height: 28px;
}
.round-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	width: 40px;
    height: 40px;
    border: 1px solid #828282;
    text-align: center;
    line-height: 38px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
	transition: .5s;
}
.cabinet-header {
	.round-icon{border: 1px solid #C5403A;}
	.round-icon:hover{
		opacity: .5;
	}
}
.ic-visible{
	width: 16px;
	height: 11px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.00426 10.8493C4.71892 10.8493 1.95892 8.38532 0.606925 6.91598C0.302166 6.58754 0.132813 6.15604 0.132812 5.70798C0.132812 5.25993 0.302166 4.82843 0.606925 4.49998V4.49998C1.95892 3.03065 4.71892 0.56665 8.00426 0.56665C11.2896 0.56665 14.0736 3.05198 15.4309 4.53465C15.7257 4.85428 15.8894 5.27317 15.8894 5.70798C15.8894 6.1428 15.7257 6.56169 15.4309 6.88132C14.0736 8.36398 11.3083 10.8493 8.00426 10.8493ZM1.58826 5.40398C1.51121 5.48646 1.46836 5.59512 1.46836 5.70798C1.46836 5.82085 1.51121 5.92951 1.58826 6.01198C2.55892 7.06532 5.12426 9.51598 8.00426 9.51598C10.8843 9.51598 13.4656 7.04398 14.4469 5.97998C14.5151 5.90529 14.553 5.8078 14.553 5.70665C14.553 5.6055 14.5151 5.50801 14.4469 5.43332C13.4656 4.37198 10.9003 1.89998 8.00426 1.89998C5.10826 1.89998 2.55892 4.35065 1.58826 5.40398Z' fill='%23757575'/%3e%3cpath d='M8.00416 8.05201C7.54056 8.05201 7.08737 7.91454 6.7019 7.65698C6.31643 7.39942 6.016 7.03333 5.83858 6.60502C5.66117 6.17671 5.61475 5.70541 5.7052 5.25072C5.79564 4.79603 6.01888 4.37837 6.3467 4.05056C6.67451 3.72274 7.09217 3.4995 7.54687 3.40905C8.00156 3.31861 8.47286 3.36503 8.90117 3.54244C9.32948 3.71985 9.69556 4.02029 9.95312 4.40576C10.2107 4.79123 10.3482 5.24442 10.3482 5.70802C10.3475 6.32947 10.1003 6.92526 9.66084 7.36469C9.2214 7.80413 8.62561 8.05131 8.00416 8.05201V8.05201ZM8.00416 4.69735C7.80427 4.69735 7.60886 4.75662 7.44266 4.86768C7.27646 4.97873 7.14692 5.13657 7.07042 5.32125C6.99393 5.50592 6.97391 5.70914 7.01291 5.90519C7.05191 6.10124 7.14816 6.28132 7.28951 6.42266C7.43085 6.56401 7.61094 6.66027 7.80699 6.69926C8.00304 6.73826 8.20625 6.71824 8.39092 6.64175C8.5756 6.56525 8.73344 6.43571 8.8445 6.26951C8.95555 6.10331 9.01482 5.90791 9.01482 5.70802C9.01412 5.44019 8.90741 5.18353 8.71803 4.99414C8.52864 4.80476 8.27199 4.69805 8.00416 4.69735V4.69735Z' fill='%23757575'/%3e%3c/svg%3e");
}
.ic-hide{
	width: 16px;
	height: 17px;
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.2122 16.3668C15.1245 16.3671 15.0377 16.35 14.9567 16.3166C14.8757 16.2832 14.8021 16.2341 14.7402 16.1721L0.340167 1.77211C0.218539 1.64655 0.151095 1.47824 0.152361 1.30344C0.153628 1.12863 0.223504 0.961316 0.34694 0.837531C0.470375 0.713746 0.637492 0.643397 0.812294 0.641635C0.987096 0.639874 1.1556 0.706842 1.2815 0.828115L15.6815 15.2281C15.7436 15.29 15.7928 15.3636 15.8265 15.4446C15.8601 15.5256 15.8774 15.6124 15.8774 15.7001C15.8774 15.7878 15.8601 15.8746 15.8265 15.9556C15.7928 16.0366 15.7436 16.1102 15.6815 16.1721C15.6202 16.2343 15.5471 16.2835 15.4665 16.3169C15.3859 16.3504 15.2994 16.3673 15.2122 16.3668V16.3668Z' fill='%231578E0'/%3e%3cpath d='M8.00426 14.4816C4.71626 14.4816 1.95892 12.0176 0.606925 10.5482C0.302166 10.2198 0.132813 9.78828 0.132812 9.34023C0.132812 8.89217 0.302166 8.46067 0.606925 8.13223C1.78699 6.81719 3.20703 5.73927 4.79092 4.95623C4.95147 4.88161 5.13508 4.87383 5.30136 4.93459C5.46764 4.99535 5.60298 5.11968 5.67759 5.28023C5.75221 5.44077 5.75999 5.62438 5.69923 5.79066C5.63846 5.95694 5.51414 6.09228 5.35359 6.16689C3.64959 6.96689 2.26292 8.30023 1.58826 9.03623C1.51121 9.1187 1.46836 9.22736 1.46836 9.34023C1.46836 9.45309 1.51121 9.56175 1.58826 9.64423C2.55892 10.7109 5.12159 13.1482 8.00426 13.1482C9.17492 13.1482 10.4043 12.7482 11.6789 11.9562C11.7532 11.9089 11.836 11.8768 11.9227 11.8615C12.0094 11.8462 12.0982 11.8482 12.1841 11.8672C12.27 11.8863 12.3514 11.9221 12.4235 11.9726C12.4955 12.0231 12.557 12.0873 12.6043 12.1616C12.6515 12.2358 12.6837 12.3186 12.699 12.4053C12.7143 12.492 12.7123 12.5808 12.6932 12.6668C12.6742 12.7527 12.6384 12.834 12.5879 12.9061C12.5374 12.9782 12.4732 13.0396 12.3989 13.0869C10.9029 14.0122 9.42826 14.4816 8.00426 14.4816Z' fill='%231578E0'/%3e%3cpath d='M14.1421 11.5375C14.0087 11.5373 13.8783 11.497 13.768 11.4219C13.6577 11.3468 13.5724 11.2403 13.5233 11.1162C13.4742 10.9921 13.4634 10.8561 13.4925 10.7259C13.5215 10.5956 13.589 10.477 13.6861 10.3855C13.9528 10.1375 14.2035 9.87885 14.4461 9.61485C14.5143 9.54016 14.5522 9.44267 14.5522 9.34152C14.5522 9.24037 14.5143 9.14288 14.4461 9.06819C13.4941 8.02819 10.9795 5.60152 8.12346 5.53485C7.94687 5.52996 7.77937 5.45545 7.65748 5.32757C7.53559 5.19969 7.46921 5.02881 7.47279 4.85219C7.47416 4.76441 7.49299 4.67779 7.52819 4.59738C7.56338 4.51696 7.61423 4.44435 7.67777 4.38379C7.74131 4.32322 7.81627 4.27592 7.89829 4.24462C7.9803 4.21333 8.06773 4.19868 8.15546 4.20152C11.3981 4.27619 14.1048 6.71885 15.4301 8.16685C15.7249 8.48648 15.8886 8.90537 15.8886 9.34019C15.8886 9.775 15.7249 10.1939 15.4301 10.5135C15.1635 10.8015 14.8968 11.0842 14.6008 11.3562C14.4766 11.4728 14.3125 11.5377 14.1421 11.5375Z' fill='%231578E0'/%3e%3cpath d='M8.00417 11.6841C7.46826 11.6841 6.94853 11.5004 6.53158 11.1638C6.11463 10.8271 5.82564 10.3577 5.71275 9.83382C5.59987 9.30993 5.66991 8.76318 5.91121 8.28467C6.1525 7.80616 6.55049 7.42478 7.03884 7.20408C7.19974 7.12982 7.38355 7.12251 7.54983 7.18378C7.71611 7.24504 7.85125 7.36985 7.92551 7.53074C7.99977 7.69164 8.00707 7.87545 7.94581 8.04173C7.88455 8.20801 7.75974 8.34315 7.59884 8.41741C7.44876 8.48387 7.31712 8.58588 7.21531 8.71463C7.1135 8.84338 7.04458 8.99499 7.0145 9.15635C6.98443 9.31771 6.99411 9.48396 7.0427 9.64074C7.0913 9.79752 7.17735 9.94011 7.29341 10.0562C7.40947 10.1722 7.55206 10.2583 7.70884 10.3069C7.86562 10.3555 8.03188 10.3652 8.19324 10.3351C8.3546 10.305 8.50621 10.2361 8.63495 10.1343C8.7637 10.0325 8.86571 9.90083 8.93217 9.75074C9.00502 9.58949 9.13894 9.46378 9.30447 9.40127C9.47 9.33876 9.65359 9.34456 9.81484 9.41741C9.97609 9.49026 10.1018 9.62418 10.1643 9.78971C10.2268 9.95524 10.221 10.1388 10.1482 10.3001C9.96215 10.7128 9.66083 11.063 9.28047 11.3086C8.90011 11.5541 8.4569 11.6845 8.00417 11.6841Z' fill='%231578E0'/%3e%3c/svg%3e ");

}