.category-label{
	column-gap: 12px;
	height: 64px;
	line-height: 60px;
	padding-top: 4px;
	padding-left: 24px;
	padding-right: 24px;
	background-color: #fff;
	border-radius: 8px;
	border-bottom: 4px solid transparent;
	transition: .2s;
	font-size: 16px;
	color: $gray;
	flex-shrink: 0;
	&:hover{
		border-bottom-color: $orange;
		color: $gray;
	}
	&:active{
		border-bottom-color: $dorange;
		color: $gray;
	}
	@media (max-width: 1199px) {
		height: 50px;
		line-height: 50px;
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.label-light{
	height: 32px;
	line-height: 30px;
	border: 1px solid #E7E7E7;
	border-radius: 4px;
	background-color: #fff;
	padding: 0 12px;
	font-size: 14px;
	font-weight: 400;
}