.category-label{
	column-gap: 12px;
	height: 64px;
	line-height: 60px;
	padding-top: 4px;
	padding-left: 24px;
	padding-right: 24px;
	background-color: #fff;
	border-radius: 8px;
	border-bottom: 4px solid transparent;
	transition: border-bottom-color .2s;
	font-size: 16px;
	color: $gray;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	
	&:hover{
		border-bottom-color: $orange;
		color: $gray;
	}
	&:active{
		border-bottom-color: $dorange;
		color: $gray;
	}
	@media (max-width: 1199px) {
		height: 50px;
		line-height: 50px;
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.label-light{
	height: 32px;
	line-height: 30px;
	border: 1px solid #E7E7E7;
	border-radius: 4px;
	background-color: #fff;
	padding: 0 12px;
	font-size: 14px;
	font-weight: 400;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	column-gap:8px;
	white-space: nowrap;
}
.label-light.label-light--48{
	height: 48px;
	line-height: 46px;
	font-size: 18px;
	@media (max-width: 1199px) {
		height: 40px;
		line-height: 38px;
		font-size: 14px;
		padding-left: 26px;
		padding-right: 26px;
		
	}
}
.label-light--large{
	padding-left: 32px;
	padding-right: 32px;

}
.label-light.label-light--mini{
	padding-left: 8px;
	padding-right: 8px;
	@media (max-width: 991px) {
		padding-left: 8px;
	padding-right: 8px;
		
	}
}
.notify-badge{
	padding: 0!important;
	width: 20px!important;
	height: 20px!important;
	border-radius: 50%;
	line-height: 20px!important;
	text-align: center;
	color: #fff!important;
	font-size: 12px!important;
	font-weight: 500;
	background-color: $red;
	flex-shrink: 0;

}
.label--gray{
	background-color: rgb(247, 247, 247)!important;
	color: #000!important;
	border-color: rgb(247, 247, 247)!important;
}
.label--accent{
	color: rgb(239, 147, 62)!important;
	background-color: rgb(255, 242, 217)!important;
	border-color: rgb(255, 242, 217)!important;
}