.fixed-modal{
	padding: 0 10px 50px 10px;
	width: 240px;
	background-color: #fff;
	position: relative;
	margin-left: -300px;
	transition: .3s;
	&.active{
		margin-left:0px;
	}
	
}
.modal-frame-wrapper[frame-modal].modal-frame-right{
	opacity: 0;
	animation-name:slowOpen;
	animation-duration:.5s;
	animation-fill-mode: forwards;
	.modal-frame{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: auto;
		max-width: 800px;
		margin: 0;
		border-radius: 0;
		padding: 30px;
	}
	.modal-frame__body{
		padding-top: 30px;
	}
	.modal-frame__head{
		border-bottom: 1px solid #E7E7E7;
		padding-bottom: 30px;
	}
	.modal-frame__footer{
		text-align: left;
		padding-top: 30px;
		
		font-size: 18px;
		font-weight: 700;
	}
}
.modal-frame-wrapper[frame-modal].modal-frame-center{
	
	.modal-frame{
		margin: auto;
	}
}
.modal-frame-wrapper[frame-modal].modal-frame-center.visible{
	display: flex;
}
.modal-frame-wrapper[frame-modal].w-700 .modal-frame{
	max-width: 700px;
}
.modal-frame-wrapper[frame-modal].w-1000 .modal-frame{
	max-width: 1000px;
}
[frame-btn]{cursor:pointer}
.modal-table{
	table{
		width: 100%;
		border-collapse: collapse;
	}
	td{
		padding: 20px;
		border-top:1px solid #E7E7E7;
		border-bottom: 1px solid #E7E7E7;
		font-size: 18px;
		line-height: 1.5;
		&:first-child{
			width: 152px;
		}
		
	}
	tr:nth-child(2){width: 100%;}
	.doctor-info{
		span{display: block;}
		span:first-child{font-weight: 700;}
	}
	.visiter-info{
		p{
			display: flex;
			justify-content: space-between;
			color: $indigo;
			
			span:first-child{
				border-bottom: 1px solid $indigo;
				cursor:pointer;
				line-height: 1;
			}
			
		}
		p + span{margin-top: 12px; display: inline-block; }
		.copy-icon{
			margin-left: 16px;

		}
	}
}
.pause-form__head{
	margin-bottom: 30px;
}
.pause-form .form-textarea{
	margin-top: 30px;
}
.pause-form .form-btns{
	margin-top: 30px;
	justify-content: flex-end;
}
.rules-form{
	flex-grow: 1;
}
.rules-form-block +.rules-form-block, .flex-form-fields +.flex-form-fields, .rules-form-block + .flex-form-fields{
	margin-top: 30px;
}
.flex-form-fields{
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}
.add-policy-form__block{
	margin-top: 32px;
	.title-16 + .flex-form-fields{margin-top: 16px;}
}
.icon-close.pos-abs{
	top: 10px;
	right: 10px;
}
.modal-logo{
	width: 48px;
	height: 48px;
}
.form-login-role{
	position: relative;
	.tabs{column-gap:60px;}
	label input:checked ~.custom-radio__text{color: $indigo;}
	label .custom-radio__text{font-size: 18px!important;}
}
.login-variant-tabs{
	.filter-toggle-item{
		width: 160px;
	}
	.form-box{
		a, button{display: inline-block;}
	}
}
.social-group{
	column-gap:32px;
}