/*position class*/
.flex-box{
	display: flex!important;
}
.flex-center{
   justify-content: center;
   align-items: center;
}
.flex-x-center{
	justify-content: center;
}
.flex-x-right{
	justify-content: flex-end;
}
.flex-y-center{
	align-items: center;
}
.flex-box-inline{
	display: inline-flex!important;
}
.m-auto{
	margin-left: auto;
	margin-right: auto;
}
.w-100{
	width: 100%!important;
}

