/*======= типографика ======*/
.text-404{
	font-size: 244px;
	line-height: 1;
	font-weight: 500;
	@media (max-width: 991px) {
		font-size: 128px;
	}

}

.text-44,.text-32,.text-24{
	font-size: 44px;
	line-height: 1.27;
	font-weight: 700;
	@media(max-width:1199px){
		font-size: 34px;
		font-weight: 500;
		
	}
	@media(max-width:991px){
		font-size: 24px;
		line-height: 1.25;
	}
	
}
.text-32{
	font-size: 32px;
	line-height: 1.25;
	font-weight: 600;
	@media (max-width: 1199px) {
	  font-size: 28px;
	  
	}
	@media (max-width: 991px) {
	  font-size: 24px;
	  line-height: 30px;
	}
	
}
.text-24{
	font-size: 24px;
	line-height: 1.25;
	font-weight: 500;
	@media (max-width: 1199px) {
		font-size: 20px;
		
	}
	@media (max-width: 991px) {
		font-size: 16px;
		line-height: 20px;
	}
}
.weight-400{
	font-weight: 400!important;
}
.text-bold{
	font-weight: 700;
}
.text-demi{
	font-weight: 600;
}
.text-medium{
	font-weight: 500;
}
.text-upper{
	text-transform: uppercase;
}
.text-right{
	text-align: right;
}
.text-18,.title-18{
	font-size: 18px;
	line-height: 1.67;
	@media (max-width: 767px) {
		font-size: 14px;
		line-height: 1.43;
	}
}
.text-20, .title-20{
	font-size: 20px;
}
.text-16, .title-16{
	font-size: 16px;
	line-height: 20px;
}
.text-14, .title-14{
	font-size: 14px;
	line-height: 1.43;
}
.text-12, .title-12{
	font-size: 12px;
	line-height: 1.33;
}
.title-20, .title-18, .title-16, .title-14, .title-12{
font-weight: 700;
}
.text-white{
	color: #fff!important;
}

.text-red{
	color: $coral!important;
}
.text-orange{
	color: $orange!important;;
}
.text-gray{
	color: $gray!important;;
}
.text-gray3{
	color: $gray3!important;;
}
.text-green{
	color: $green!important;;
}
.text-primary,
.text-indigo{
	color: $indigo!important;
}
.text-link{
	color: #000;
	&:hover{
		color:$indigo!important ;
	}
}
.content-list{
	font-size: 20px;
	font-weight: 500;
	margin-top: 24px;
	border-top: 1px solid rgba(173, 173, 173, .5);
	max-height:240px;
	
	li{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 30px;
		padding-right: 10px;
		padding-top: 12px;
		padding-bottom: 12px;
		border-bottom: 1px solid rgba(173, 173, 173, .5);
		span{
			flex-grow:1;
		    padding-right: 12px;}
		&:hover span{
			opacity: .5;
		}
		&:before{
			content:'\2639';
			margin-right: 8px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		button {
			font-size: 20px; 
			color: rgba(197, 64, 58, .6);
			width: 30px;
			height: 30px;
			line-height: 30px;
			border: 1px solid transparent;
			line-height: 1;
			&:hover{
				border: 1px solid rgba(197, 64, 58, .5);
			}
		}
	}
}