/*======= типографика ======*/
.text-44,.text-32,.text-24{
	font-size: 44px;
	line-height: 1.27;
	font-weight: 700;
	font-family: $bold;
}
.text-32{
	font-size: 32px;
	line-height: 1.25;
	font-family: $demi;
	font-weight: 600;
}
.text-24{
	font-size: 24px;
	line-height: 1.25;
	font-family: $demi;
}
.text-bold{
	font-family: $bold;
}
.text-demi{
	font-family: $demi;
}
.text-medium{
	font-family: $med;
}
.text-14{
	font-size: 14px;
	line-height: 1.43;
}
.text-18{
	font-size: 18px;
	line-height: 1.67;
}

.text-white{
	color: #fff!important;
}
.text-red{
	color: $coral!important;
}
.text-32 sup{
	color: $gray3;
	font-size: 0.6em;
	margin-left: 8px;
}