//- ===== colors ======
$black: #000;
$coral: #EC6660;
$orange: #F19B48;
$dorange:#ED8C2E;
$green: #73DF8F;
$blue: #5CC8F4;
$indigo: #5757F6;
$lindigo: rgb(131, 131, 255);
$gray: #272740;
$gray3: #828282;
$wlgray:#E7E7E7;
$dblue: #272740;
$white: #fff;
$sky: #0D6EFD;
$red: rgb(197, 64, 58);
$lavender:#8383FF; ;
$lblue: #F8FBFF;
$reg: 'Golos Text';
$lightBlueBg:rgba(87,87,246,.1);