//- ===== colors ======
$text: #000;
$coral: #EC6660;
$reg: 'GolosTextWebRegular';
/* fw -400*/
$med: 'GolosTextWebMedium';
/* fw -500*/
$demi: 'GolosTextWebDemiBold';
/* fw -600*/
$bold: 'GolosTextWebBold';
/* fw -700*/