.edit-profile-content{
	display: flex;
	flex-direction: column;
	&>*{width: 100%;}
	height: 100%;
}
.edit-profile-content__head{
	padding-top: 16px;
	padding-bottom: 16px;
	justify-content: space-between;
}
.edit-profile-content__form{
	flex-grow: 2;
	background-color: #fff;
	padding: 16px;
}
.grid-form-fields{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.form-fieldset>*+*{margin-top: 32px;}
.form-fieldset +.form-fieldset{
	margin-top: 32px;
}
.edit-profile-content__form .form-textarea{max-width: 1000px;}
.edit-profile-content__form .form-box>label{color:#000!important; font-weight: 500;}
.edit-profile-footer{
	padding-top: 16px;
	
	justify-content: flex-end;
	gap:32px;
	.btn{width: 240px;}
}