.employee-personal-content{
	.employee-personal-card{
		background-color: #fff;
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.employee-personal__head{
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.employee-personal-header{
		width: 100%;
		justify-content: space-between;
		padding-bottom: 32px;
	}
	.employee-personal-workspace{
		padding-top: 32px;
	}
	.employee-personal-tabs__title{margin-bottom: 24px;}
}