.main-page-content{
	.section-title{
		margin-bottom: 24px;
	}
	.doc-card__filter-group{
		margin-bottom: 20px;
		@media(min-width:1200px){
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}	