.cs{
	width: 376px;
	margin-left: auto;
	margin-right: auto;
	
	&-block__title{
		padding-top: 24px;
		padding-bottom: 8px;
	}
	
	&-block__title,&-block__content{
		column-gap:16px;
		text-align: center;
		label{width: 100%;}
		.radiobutton-checkbox{width: 100%;}
		flex-wrap: nowrap;
	}
	}
.cs-block__cell{
	width: calc((376px - 48px)/4);
	flex-shrink:0;
}
.w-375{
	width: 376px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}


.cs-block-column{
	display: grid;
	grid-template-columns: 1fr;
	row-gap:16px;
	margin-bottom: 16px;
}
.cs-head, .cs-inner{
	
	width: 376px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	
}
.cs-inner{
	height: 200px;
	overflow-y: auto;
	width: 400px;
}
.cs-inner-line{
	padding-top: 16px;
	transition: .5s;
	width: 376px;
	margin-left: auto;
	margin-right: auto;
}
.cs-head-line, .cs-inner-line{
	display: flex;
	column-gap:16px;
}
.cs-head__block{
	flex-wrap: nowrap;
	width: 376px;
	column-gap:16px;
}
.cs-head-line{
	transition: .5s;
}
.cs-wrapper{
	position: relative;
	padding-top: 0;
	width: 485px;
	padding-bottom: 16px;
	height: 0;
	overflow: hidden;
	transition: height .5s;
	.cs-next,.cs-prev{
		position: absolute;
		top: 24px;
		left: 0;
		z-index: 1;
		transition: .5s;
		&:hover{
			.icon-btn{
				border:1px solid rgba(173, 173, 173, .7);
				background-color: rgba(173, 173, 173, .2);
			}
		}
	}
	.cs-next{
		left: auto;
		right:0;
	}
}
.cs-next.cs-btn--disable,.cs-prev.cs-btn--disable{
	opacity: .2;
	cursor:default;
}
.cs-wrapper.visible{
	height: 365px;
	
	padding-bottom: 24px;
}
#openAppointTime{
	cursor:pointer;
	&:hover{
		opacity: .5;
	}
}