/*======== submenu-block__drop======*/

.customDrop{
	position: relative;
	
	.customDrop__list{
		display: none;
		position: absolute;
		z-index: 1;
		bottom: -18px;
		left: 0;
		width: 220px;
		background-color: #fff;
		box-shadow: 0px 4px 16px rgba(87, 141, 246, 0.2);
		border-radius: 4px;
		transform: translateY(100%);
	}
	.customDrop__list-item{
		padding-left: 12px;
		padding-right: 12px;
		
		a{
			padding-top: 25px;
			padding-bottom: 25px;
			gap:8px;
			white-space: nowrap;
			color: $gray;
			&:hover{
				color: $indigo;
			}
		}
	}
	.customDrop__list-item +.customDrop__list-item {
		border-top: 1px solid  #E7E7E7;
	}
	.icon-minus{
		display: none;
	}
	&.active .customDrop__list{display: block;}
}
/*submenu-block--dark*/
.customDrop--dark{
	.customDrop .customDrop__list{
		background: rgba(0, 0, 0, 0.25);
		.customDrop__list-item a{
			color: #fff;
		}
		.customDrop__list-item +.customDrop__list-item {
			border-top: 1px solid  $gray;
		}
	}
}
.customDrop--relative .customDrop .customDrop__list{
	position: relative;
	bottom: auto;
	left: auto;
	width: auto;
	
	box-shadow:none;	
	transform: translateY(0);
	.customDrop__list-item{
		margin-left: 20px;
		margin-right: 20px;
		padding-left: 0;
		padding-right: 0;
		height: 60px;
	}
	
}
.customDrop.active .btn-coopyright .icon-plus{
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM5.625 9.375C5.27982 9.375 5 9.65482 5 10C5 10.3452 5.27982 10.625 5.625 10.625H14.375C14.7202 10.625 15 10.3452 15 10C15 9.65482 14.7202 9.375 14.375 9.375H5.625Z' fill='white'/%3e%3c/svg%3e");
}