.modal-frame[frame-modal]{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;	
	z-index: 5;
	transform: translateX(120%);
	transition: .3s;
	max-width: 400px;
	width: 100%;

}
[frame-modal].visible{
	transform: translateX(0);
}
.modal-frame{
	padding: 18px 15px 25px;
	background: #F8FBFF;
	border-radius: 8px;
	.modal-frame__head{
		padding-bottom: 15px;
		
	}
}
.filters-modal__group{
	padding-top: 20px;
	padding-bottom: 20px;
}
.gap-15{
	&>*+*{
		margin-top: 15px;
	}
}
.modal-frame__footer{
	text-align: center;
	&>*+*{margin-top: 15px;}
	padding-top: 20px;
	
}