.page-nav{
	&>ul{
		display: flex;
		column-gap: 36px;
		li{			
			a{
				color: #fff;
				font-size: 18px;
				display: block;
				padding-bottom: 35px;
				position: relative;
			   border-bottom: 4px solid transparent;
			}
		}
		li>a:hover{
			border-bottom: 4px solid #E7E7E7;
		}
		li.active> a{
			border-bottom-color: $blue;
		}
	}
}