.state-select{
	position: relative;
	.state-select-current{
		height: 44px;
		line-height: 44px;
		padding-left: 20px;
		padding-right: 20px;
	}
	[class^="state-"]{
		border-left: none!important;
	}
	.state-select-drop__item{
		padding-left: 20px;
		padding-right: 20px;
		height: 44px;
		line-height: 44px;
	}
	
}
.dtc-footer .state-select{
	width: 180px;
	.state-select-current, .state-select-drop__item{
		height: 30px;
		line-height: 30px;
	}
}
.state-select{
	cursor: pointer;
	.state-select-drop{
		position: absolute;
		left: 0;
		right: 0;
		bottom: -5px;
		transform: translateY(100%);
		z-index: 2;
		display: none;
	}
}

.state-select.state-select--opentop{
	.state-select-drop{
		bottom: 0;
		transform: translateY(-45px);
	}
	
}
.state-select-current{
	position: relative;
	&:before{
		content:'';
		width: 16px;
		height: 16px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L7 6.29289L12.6464 0.646447C12.8417 0.451184 13.1583 0.451184 13.3536 0.646447C13.5488 0.841709 13.5488 1.15829 13.3536 1.35355L7.35355 7.35355C7.15829 7.54882 6.84171 7.54882 6.64645 7.35355L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z' fill='%235757F6'/%3e%3c/svg%3e");
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top:50%;
		transform: translateY(-50%) rotate(0deg);
		right: 12px;
		transition:.3s;
	}
}
.state-select.active{
	.state-select-drop{display: block;}
	.state-select-current:before{
		transform: translateY(-50%) rotate(180deg);
	}
}
[data-role="state-done"],[data-role="state-cancel"]{
	.state-select-current::before{display: none;}
	cursor: default;
	pointer-events: none;
	.state-select-drop{
		display: none;
	}
}
.state-select{
	width: 210px;
}