
mixin catLabel(imgSrc, title)
	a(href="#!").category-label
		object(type="image/svg+xml" data="./img/"+ imgSrc +".svg" )
		span.text-medium #{title}

mixin label-light(title)
	.label-light&attributes(attributes)
		span.text-medium #{title}

mixin label-light-color(title,addCl)
	.label-light(class=" "+ addCl)
		span.text-medium #{title}