mixin cabHeader(arg)
	header.cabinet-header
		.container-large
			.cabinet-header__content.flex-vertical-center
				.cabinet-header__logo
					a(href="index.html").custom-logo
						img(src="./img/logo2.png", width="106" alt="logo")
				.cabinet-header__menu
					.myTabs-buttons
						each item in arg
							if item.addCl !==''
								a(href=""+item.link).btn-bt.myTabs-btn.active #{item.name}
							else
								a(href=""+item.link).btn-bt.myTabs-btn #{item.name}
				.cabinet-header__profile.flex-vertical-center.gap-32
					.select-work-place
						+custom-select-icon('Блюхера, 56', ['Блюхера, 56', 'ИП Вердашев', 'Клиника "Сова"','Гиппократ', 'Зеленое яблоко', 'Добрый доктор' ], 'mySelect--absolute')
					
					.help-info ?
					.cabinet-header__avatar ТЮ