mixin custom-select(labelText, placeText, items)
	.mySelect&attributes(attributes)
		if labelTetxt
			label.text-16.text-gray3 Специальность
		.mySelect-input
			.mySelect-icon.icon-carret-mini
			input.selectValue.input-slim(type='text' readonly value=''+ placeText)
		.mySelect-drop
			each item in items
				input.mySelect-options(type='text' readonly='' value=''+ item)

mixin custom-select-abs(labelText, placeText, items)
	.mySelect.mySelect--absolute&attributes(attributes)
		if labelText
			label.text-16.text-gray3 Специальность
		.mySelect-input.mySelect-input--icon-left
			.mySelect-icon-left.icon-filter
			.mySelect-icon.icon-carret-mini
			input.selectValue.input-slim(type='text' readonly='' value=''+ placeText)
		.mySelect-drop
			each item in items
				input.mySelect-options(type='text' readonly value=''+ item)

mixin custom-select-dark(placeText, items)
	.mySelect.mySelect--absolute.mySelect--dark&attributes(attributes)
		.mySelect-input.mySelect-input--icon-left
			.mySelect-icon-left.icon-city
			.mySelect-icon.icon-carret-white
			input.selectValue.input-slim(type='text' readonly value=''+ placeText)
		.mySelect-drop
			each item in items
				input.mySelect-options(type='text' readonly value=''+ item)


mixin custom-radio(rbName, rgVal, rbText, checkStatus)
	label.radiobutton-label.flex-box&attributes(attributes)
		if checkStatus
			input(type='radio' name=''+ rbName  value=''+ rgVal class='real-radio' checked=""+checkStatus)
		else
			input(type='radio' name=''+ rbName  value=''+ rgVal class='real-radio' )
		span.custom-radio
		span.custom-radio__text #{rbText}

mixin timeRadio(time)
	label.radiobutton-time.flex-box.flex-y-center
		input(type='radio' name='time-radiobtn' class='timetable-radiobtn')
		span.radiobutton-checkbox #{time}