

mixin custom-radio(rbName, rgVal, rbText, checkStatus)
	label.radiobutton-label.flex-box&attributes(attributes)
		if checkStatus
			input(type='radio' name=''+ rbName  value=''+ rgVal class='real-radio' checked=""+checkStatus)
		else
			input(type='radio' name=''+ rbName  value=''+ rgVal class='real-radio' )
		span.custom-radio
		span.custom-radio__text #{rbText}

mixin timeRadio(time)
	label.radiobutton-time.flex-box.flex-y-center(frame-btn="appoint-modal")
		input(type='radio' name='time-radiobtn' class='timetable-radiobtn')
		span.radiobutton-checkbox #{time}

mixin selectTime(time, rbName)
	label.radiobutton-time.flex-box.flex-y-center
		input(type='radio' name=''+rbName  class='timetable-radiobtn')
		span.radiobutton-checkbox #{time}