mixin mySelect(arr)
	.mySelect.mySelect--38(class=" "+ arr.addClass)&attributes(attributes)
		.mySelect-input
			input.selectValue.form-input(type='text' readonly='' value=''+ arr.val)
		.mySelect-drop.scroll-vertical
			each item in arr.itemsArr
				input.mySelect-options(type='text' readonly='' value=''+ item)


mixin custom-select-icon(placeText, items, addClass,  iconName, labelText, requir)
	div(class="mySelect " + addClass)&attributes(attributes)
		if labelText
			label.text-16.text-gray3 !{labelText}
				if requir
					sup.text-red  *
		.mySelect-input.form-box-input
			if  iconName
				.form-box__icon
					svg(class=" "+ iconName)
						use(href="./img/svg-sprite.svg#"+ iconName +"")
			
			input(class="selectValue form-input" type='text' readonly value=''+ placeText)
		.mySelect-drop.scroll-vertical
			each item in items
				input.mySelect-options(type='text' readonly value=''+ item)
//- лейбл без цвета 
mixin custom-select-icon2(placeText, items, addClass,  iconName, labelText, requir)
	div(class="mySelect " + addClass)&attributes(attributes)
		if labelText
			label.text-16 !{labelText}
				if requir
					sup.text-red  *
		.mySelect-input.form-box-input
			if  iconName
				.form-box__icon
					svg(class=" "+ iconName)
						use(href="./img/svg-sprite.svg#"+ iconName +"")
			
			input(class="selectValue form-input" type='text' readonly value=''+ placeText)
		.mySelect-drop.scroll-vertical
			each item in items
				input.mySelect-options(type='text' readonly value=''+ item)

mixin custom-select-checkbox(placeText, items, addClass,  iconName, labelText)
	div(class="mySelect " + addClass)&attributes(attributes)
		if labelText
			label.text-16.text-gray3 #{labelText}
		.mySelect-input.form-box-input
			if  iconName
				.form-box__icon
					svg(class=" "+ iconName)
						use(href="./img/svg-sprite.svg#"+ iconName +"")
			
			input(class="selectValue form-input" type='text' readonly value=''+ placeText)
		.mySelect-drop.scroll-vertical
			each item in items
				label.checkbox-label.flex-box.flex-y-center
					input(type='checkbox' name='form-checkbox' class='real-checkbox')
					span.custom-checkbox 
					span.custom-checkbox__text #{item}