mixin patientHeader
	header.cabinet-header
		.container-large
			.cabinet-header__content.flex-vertical-center
				.cabinet-header__burger(frame-btn="cabinet-sidebar")
					span

				.cabinet-header__logo
					a(href="index.html").custom-logo
						img(src="./img/logo2.png", width="106" alt="logo")
				
				.cabinet-header__notify
					span 5
					svg.svg-notify
						use(href="./img/svg-sprite.svg#svg-notify")