mixin patient-sidebar
	//================== cabinet-sidebar ==============
	.modal-frame-wrapper.modal-frame-left(frame-modal="cabinet-sidebar")
		.modal-frame.flex-column
			.sidebar-panel
				nav
					a(href="#!")
						span
							svg.svg-map
								use(href="./img/svg-sprite.svg#svg-map")
						span Балаково
					a.active(href="#!")
						span
							svg.svg-pacient
								use(href="./img/svg-sprite.svg#svg-pacient")
						span Профиль
					a(href="#!")
						span
							svg.svg-home
								use(href="./img/svg-sprite.svg#svg-home")
						span Главная кабинета
					a(href="#!")
						span
							svg.svg-calendar
								use(href="./img/svg-sprite.svg#svg-calendar")
						span Записи на прием
					a(href="#!")
						span
							svg.svg-star
								use(href="./img/svg-sprite.svg#svg-star")
						span Отзывы
					a(href="#!")
						span
							svg.svg-favorite
								use(href="./img/svg-sprite.svg#svg-heart")
						span Избранное