mixin table-row
	tr.table-row
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell


mixin nameCell
	.cell
		a(href="") Фамилия
		.tooltip-block