mixin table-row
	tr.table-row
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell
		td.schedule-table-cell


mixin nameCell
	.cell
		a(href="#!") Фамилия
		.pause-icon__wrapper(frame-btn="pause-info")
			.pause-icon(title="добавить перерыв")