mixin task-card(state)
	a(href="#!" ).dashboard-table-card
		.dtc-head(frame-btn="visit-info")
			p Антадзе Т.
			span Создан 20 сент 10:59 
		.dtc-body(frame-btn="visit-info")
			.dtc-body__item
				span Пациент
				p Миронов Р.И.
			.dtc-body__item
				span Телефон
				p +995 599 130 630
		.dtc-footer
			span(frame-btn="visit-info") 03 окт 05:00
			.state-select
				.state-select-current(data-state="state-started") Начат прием
				.state-select-drop
					.state-select-drop__item(data-state="state-started") Начат прием
					.state-select-drop__item(data-state="state-confirm") Подтвержден
					.state-select-drop__item(data-state="state-notconfirm") Не подтвержден
					.state-select-drop__item(data-state="state-done") Выполнен
					.state-select-drop__item(data-state="state-cancel")  Отменен
				