include _doctor-card
include _buttons_labels
include _benefit-item
include _forms
include _mySelect
include _page-nav
include _header
include _header-search-form
include _schedule-table
include _task-cards
include _cabinet-header
include _cs