extends ../layouts/layout.pug

block content
	button.btn.btn--orange.floating-btn.btn--shadow Записаться на прием
	+header([
		{addClass: '', link: '#', title: 'Клиники'}, 
		{addClass: '', link: 'prices.html', title: 'Цены'},
		{addClass: '', link: '#', title: 'Детская стоматология'},
		{addClass: 'active', link: 'about.html', title: 'О нас'},
		])
	
	include ../sections/_about-content.pug
	//- include ../blocks/_filters-modal.pug
	//- include ../blocks/_appoint-modal.pug


block variables
	-let bodyCl = "about-page"
	-let title = "О нас";