extends ../layouts/layout.pug

block content
	include ../sections/_client-header
	//=========== основной контент вкладка Задачи ====================
	.cabinet-body
		.container-large
			include ../sections/_cabinet-tasks-content

block variables
	-let bodyCl = "client-cabinet"
	-let title = "Кабинет клиента | Задачи ";