extends ../layouts/layout.pug

block content
	+cabHeader([
	{link:'schedule-page.html', addCl:'', name: 'Расписание'}, 
	{link:'cabinet-tasks.html', addCl:'true', name: 'Задачи' }, 
	{link:'#!', addCl:'', name: 'Пациенты'}, 
	{link:'#!', addCl:'', name: 'Сотрудники' }
	])
	//=========== основной контент вкладка Задачи ====================
	.cabinet-body
		.container-large
			include ../sections/_cabinet-tasks-content
	include ../blocks/_task-modal

block variables
	-let bodyCl = "client-cabinet"
	-let title = "Кабинет клиента | Задачи ";