extends ../layouts/layout.pug

block content
	include ../sections/_client-header
	include ../sections/_cabinet-schedule

block variables
	-let bodyCl = "client-cabinet"
	-let title = "Кабинет клиента";