extends ../layouts/layout.pug

block content
	+cabHeader([
	{link:'page-schedule.html', addCl:'', name: 'Расписание'}, 
	{link:'page-tasks.html', addCl:'', name: 'Задачи' }, 
	{link:'visitor-page.html', addCl:'true', name: 'Пациенты'}, 
	{link:'employees-page.html', addCl:'', name: 'Сотрудники' }
	])
	//=========== основной контент вкладка Задачи ====================
	.cabinet-body
		.container-large
			include ../sections/_add-profile-visitor-content
	include ../blocks/_allergy-modal
	include ../blocks/_allergy-modal2
	include ../blocks/_modal-duplication.pug

block variables
	-let bodyCl = "visitor-form-page"
	-let title = "Пациенты | Добавить профиль ";