extends ../layouts/layout.pug

block content
	+cabHeader([
	{link:'page-schedule.html', addCl:'', name: 'Расписание'}, 
	{link:'page-tasks.html', addCl:'', name: 'Задачи' }, 
	{link:'visitor-page.html', addCl:'true', name: 'Пациенты'}, 
	{link:'employees-page.html', addCl:'', name: 'Сотрудники' }
	])
	//=========== основной контент вкладка Задачи ====================
	.cabinet-body
		.container-large
			include ../sections/_edit-profile-visitor-content
	include ../blocks/_allergy-modal-edit
	include ../blocks/_allergy-modal2-edit

block variables
	-let bodyCl = "client-cabinet"
	-let title = "Пациенты | Редактировать профиль ";