extends ../layouts/layout.pug

block content
	
	+cabHeader([
		{link:'page-schedule.html', addCl:'', name: 'Расписание'}, 
		{link:'page-tasks.html', addCl:'', name: 'Задачи' }, 
		{link:'#!', addCl:'', name: 'Пациенты'}, 
		{link:'employees-page.html', addCl:'true', name: 'Сотрудники' }
		])
	//=========== основной контент редактирование пациента  ====================
	.cabinet-body
		.container-large
			include ../sections/_employees-page-content
	include ../blocks/_add-new-empl
	//- include ../blocks/_task-modal

block variables
	-let bodyCl = "employees-page"
	-let title = "Сотрудники";