extends ../layouts/layout.pug

block content
	
	+cabHeader([
		{link:'page-schedule.html', addCl:'', name: 'Расписание'}, 
		{link:'page-tasks.html', addCl:'', name: 'Задачи' }, 
		{link:'#!', addCl:'', name: 'Пациенты'}, 
		{link:'employees-page.html', addCl:'true', name: 'Сотрудники' }
		])
	//=========== основной контент вкладка расписание ====================
	.cabinet-body
		.container-slim
			include ../sections/_empl-schedule-content
	include ../blocks/_rules-work-modal
	include ../blocks/_rules-schedule
	include ../blocks/_confirm-action-modal
	include ../blocks/_edit-schedule-rules

block variables
	-let bodyCl = "client-cabinet"
	-let title = "Кабинет клиента";