extends ../layouts/layout.pug

block content
	
	+cabHeader([
		{link:'page-schedule.html', addCl:'', name: 'Расписание'}, 
		{link:'page-tasks.html', addCl:'', name: 'Задачи' }, 
		{link:'#!', addCl:'', name: 'Пациенты'}, 
		{link:'employees-page.html', addCl:'true', name: 'Сотрудники' }
		])
	//=========== основной контент страница одного врача ====================
	.cabinet-body
		
		include ../sections/_employee-personal-page
	include ../blocks/_add-empl-place
	include ../blocks/_edit-empl-place
	include ../blocks/_edit-empl-profile
	include ../blocks/_confirm-action-modal

block variables
	-let bodyCl = "client-cabinet"
	-let title = "Страница врача";