extends ../layouts/layout.pug

block content
	
	+cabHeader([
		{link:'page-schedule.html', addCl:'', name: 'Расписание'}, 
		{link:'page-tasks.html', addCl:'', name: 'Задачи' }, 
		{link:'#!', addCl:'', name: 'Пациенты'}, 
		{link:'employees-page.html', addCl:'true', name: 'Сотрудники' }
		])
	//=========== основной контент страница одного врача ====================
	.cabinet-body
		.container-large
			include ../sections/_employee-personal-page
	//- include ../blocks/_rules-work-modal

block variables
	-let bodyCl = "client-cabinet"
	-let title = "Страница врача";