extends ../layouts/layout.pug

block content
	.start-page
		h1 IWEEK
		.start-page__cards.mb-32
			a(href="../ui/colors.html") UI-KIT PAGE
			//- главная
			a(href="main.html")
				span Главная
			//- главная -
			a(href="main2.html")
				span Шапка с поиском
			//- о нас
			a(href="about.html")
				span О нас
			//- цены	
			a(href="prices.html")
				span Цены
			//- modal
			a(href="confirm-appoint-modal.html")
				span Авторизация  шаг #1
			
			a(href="authoriz-2.html")
				span Авторизация  шаг #2
			a(href="authoriz-3.html")
				span Авторизация шаг #3
			a(href="authoriz-4.html")
				span Авторизация шаг #4
			a(href="authoriz-5.html")
				span Авторизация шаг #5
			//- 404
			a(href="page-404.html")
				span 404

		h2.text-center.mb-32 Кабинет сотрудника
		.start-page__cards.mb-32
		
			a(href="page-schedule.html")
				span Расписание

			
			//- Задачи
			a(href="page-tasks.html")
				span Задачи
			
			//- Пациенты
			a(href="visitor-page.html")
				span Пациенты
			//- Сотрудники
			a(href="employees-page.html")
				span Сотрудники
		
		h2.text-center.mb-32 Сотрудники - sublinks
		.start-page__cards.mb-32
			//- Сотрудники
			a(href="employee-personal-page.html")
				span Профиль сотрудника
			//- Сотрудники
			a(href="empl-schedule.html")
				span График сотрудника

		
		h2.text-center.mb-32 Пациенты - sublinks
		.start-page__cards.mb-32

			a(href="add-profile-visitor.html")
				span Добавить пациента
			
			a(href="duplication-modal.html")
				span Модальное окно#[br]дублирование пациента
			
			a(href="edit-profile-visitor.html")
				span Редактировать пациента
			
			a(href="visitor-edit-page.html")
				span Профиль пациента
			//- Пациенты
			a(href="visitor-page2.html")
				span Посещения пациента
		
		h2.text-center.mb-32 Кабинет Пациента
		.start-page__cards.mb-32
			a(href="patient-main.html")
				span Пациент - Главная
			a(href="patient-edit.html")
				span Пациент - Редактировать
			a(href="patient-favorite-empty.html")
				span Пациент - Нет избранного
			a(href="patient-favorite.html")
				span Пациент - Избранное
			a(href="patient-reviews.html")
				span Пациент - Отзывы
			a(href="patient-history.html")
				span Пациент - Записи
		
		
		h2.text-center.mb-32 Модалки - всплывашки
		.start-page__cards

			a(href="duplication-modal.html")
				span Дублирование пациента в БД
			a(href="success-reg-empl.html")
				span Успешная регистрация Исполнителя
			a(href="success-reg.html")
				span Успешная регистрация Пациента
			
			a(href="restore-passw.html")
				span Ошибка авторизации
			
			a(href="another-time.html")
				span Время занято



			//- modal



block variables
	-var title = "Сервис поиска услуг в Грузии";
