extends ../layouts/layout.pug

block content
	.start-page
		h1 Имя проекта
		.start-page__cards
			a(href="../ui/colors.html") UI-KIT PAGE
			
			//- главная
			a(href="main.html")
				span Главная
			//- о нас
			a(href="about.html")
				span О нас
			//- цены	
			a(href="prices.html")
				span Цены
			//- Расписание

			a(href="page-schedule.html")
				span Кабинет- Расписание

			
			//- Задачи
			a(href="page-tasks.html")
				span Кабинет- Задачи
			
			//- Пациенты
			a(href="visitor-page.html")
				span Пациенты - Профиль
			//- Пациенты
			a(href="visitor-page2.html")
				span Пациенты - Посещения
			//- Сотрудники
			a(href="employees-page.html")
				span Кабинет- Сотрудники
			
			//- 404
			a(href="page-404.html")
				span 404

block variables
	-var title = "Сервис поиска услуг в Грузии";
