extends ../layouts/layout.pug

block content
	.start-page
		h1 Имя проекта
		.start-page__cards
			a(href="../ui/colors.html") UI-KIT PAGE
			
			// главная
			a(href="main.html")
				span Главная
			// шаблон	
			a(href="about.html")
				span О нас
			
			// 404
			a(href="page-404.html")
				span 404

block variables
	-var title = "Page";
