extends ../layouts/layout.pug

block content
	include ../sections/header.pug
	include ../sections/main-page-content.pug
	
	
	
	include ../blocks/_filters-modal.pug
	include ../blocks/_appoint-modal.pug


block variables
	-let bodyCl = "main-page"
	-let title = "Главная";