extends ../layouts/layout.pug

block content
	
	+cabHeader([
		{link:'page-schedule.html', addCl:'true', name: 'Расписание'}, 
		{link:'page-tasks.html', addCl:'', name: 'Задачи' }, 
		{link:'visitor-page.html', addCl:'', name: 'Пациенты'}, 
		{link:'employees-page.html', addCl:'', name: 'Сотрудники' }
		])
	//=========== основной контент вкладка расписание ====================
	.cabinet-body
		.container-large
			include ../sections/_schedule-page-content
	include ../blocks/_pause-modal
	include ../blocks/_task-modal
	include ../blocks/_make-appoint


block variables
	-let bodyCl = "client-cabinet"
	-let title = "Кабинет клиента";