extends ../layouts/layout.pug

block content
	button.btn.btn--orange.floating-btn.btn--shadow Записаться на прием
	include ../sections/header-404
block variables
	-let bodyCl = "page-404"
	-let title = "Упс! Такой страницы нет!";