extends ../layouts/layout.pug

block content
	+patientHeader
	//=========== основной контент  ====================
	.cabinet-body.pt-40
		.container.container-slim
			.patient-profile
				.text-20 Избранное
				//============ контент, если не отмечен ни один врач в избранное ===================
				.favor-empty.flex-column.gap-16.flex-center.text-center.m-auto
					.title-20 Здесь будут избранные врачи и клиники
					.text-18 Нажимайте сердечки, что бы сохранить тех, кто вам понравился
					a(href="#!").btn.btn--primary Найти врача
			
	
	//================== cabinet-sidebar ==============
	.modal-frame-wrapper.modal-frame-left(frame-modal="cabinet-sidebar")
		.modal-frame.flex-column
			.sidebar-panel
				nav
					a(href="#!" frame-btn="select-city")
						span
							svg.svg-map
								use(href="./img/svg-sprite.svg#svg-map")
						span Балаково
					a(href="patient-edit.html")
						span
							svg.svg-pacient
								use(href="./img/svg-sprite.svg#svg-pacient")
						span Профиль
					a(href="patient-main.html")
						span
							svg.svg-home
								use(href="./img/svg-sprite.svg#svg-home")
						span Главная кабинета
					
					a(href="patient-history.html")
						span
							svg.svg-calendar
								use(href="./img/svg-sprite.svg#svg-calendar")
						span Записи на прием
					a(href="patient-reviews.html")
						span
							svg.svg-star
								use(href="./img/svg-sprite.svg#svg-star")
						span Отзывы
					
					a.active(href="patient-favorite.html")
						span
							svg.svg-favorite
								use(href="./img/svg-sprite.svg#svg-heart")
						span Избранное
	include ../blocks/_patient-sidebar-city.pug
block variables
	-let bodyCl = "patient-cabinet"
	-let title = "Кабинет пациента | Избранное";