.modal-visible .modal-large, .modal-visible .modal-frame{
	transform: translateX(0)!important;
}
.ui-panel{
	width: 320px;
	background-color: #094071;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100vh;
	overflow: hidden;
	overflow-y: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 80px;
	z-index: 10;
	.back-index{
		color: #FFF;
		font-size: 20px;
		margin-bottom: 16px;
		display: block;
	}
	ul{
		list-style: circle;
	}
	h3{
		margin-bottom: 16px;
		font-size: 16px;
		text-transform: uppercase;
		color: orange;
	}
	.ui-panel-block__part+.ui-panel-block__part {
		margin-top: 32px;
	}
	li+li{
		margin-top: 16px;
	}
	li>a{
		color: #fff;
		font-size: 16px;
		font-family: sans-serif;
		}
}
.body-dashboard{
	padding-left: 320px;
	padding-top: 50px;
	.modal-frame{
		transform: translate(0)!important;
		position: relative !important;
	}
	.container-dashboard{
		width: 93%;
		margin-left: auto;
		margin-right: auto;
		h2{
			margin-bottom: 40px;
		}
		.reestr-modal{
			transform:translateX(0);
		}
		.modal-large.service-modal{
			transform:translateY(0);
			z-index: -1;}
	}
	
	.color-scheme {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		row-gap: 24px;
	}
	.color-scheme li{
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-align-items: center;
		        align-items: center;
	}
	.color-scheme li span:first-child{
		width: 60px;
		height: 60px;
		border:1px solid #000;
	}
	.color-scheme li span + span{
		font-size: 16px;
		margin-top: 15px;
	}
	.ui-typography li{
		padding-bottom: 10px;
		padding-top: 10px;
		border-bottom: 1px solid #cecece;
		pre{
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	.ui-icons{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 48px;
	}
	.ui-lists>li{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
/*стили для вспомогат страницы - удалить из проектп */
.start-page {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	h1 {
		font-weight: 700;
		margin-bottom: 40px;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;

	}

	a {
		width: 30%;
		margin-left: 20px;
		margin-right: 20px;
		height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 700;
		box-shadow: 0 0 20px rgba(0, 0, 0, .25);
		margin-bottom: 24px;

		span {
			display: block;
			text-align: center;
			padding-bottom: 8px;
			padding-top: 8px;
		}
	}

	a:first-child {
		width: 100%;
	}
}
.ui-components>li{
	padding-top: 10px;
	border-top:1px dotted #9c9b9b;
}
/*//стили для вспомогат страницы - удалить из проектп */
