//=============== jquery ===================
script(src="../libs/jquery/jquery-3.0.0.min.js")

//=============== owlCarousel ===================
script(src="../libs/owlCarousel/owl.carousel.min.js")
script.
	const hidePanel = document.querySelector('#hide-panel');
	hidePanel.addEventListener('click',function(){
		document.body.classList.toggle('full-screen');
	});

script(src="../js/main.js")