//=============== jquery ===================
script(src="../libs/jquery/jquery-3.0.0.min.js")

//=============== owlCarousel ===================
script(src="../libs/swiper/swiper.js")
script.
	const hidePanel = document.querySelector('#hide-panel');
	hidePanel.addEventListener('click',function(){
		document.body.classList.toggle('full-screen');
	});

script(src="../js/main.js")

//- =========================
<div style="display: inline-block; vertical-align: top; padding: 0px 50px;"><img src="http://xn--80aalfvmidc1av9b.xn--p1ai/wp-content/uploads/2023/05/foto.png" alt="" class="" /></div>
<div style="display: inline-block; vertical-align: top;"><span> </span>
<span> </span>
<h3>Бархатов Дмитрий Анатольевич</h3>
<span></span>
<span>Генеральный директор АНО ДО Команда</span>

<span></span>
<span></span>
<span></span>
<span></span>
<span></span>

<span><img src="http://xn--80aalfvmidc1av9b.xn--p1ai/wp-content/uploads/2023/05/circle.png" alt="" width="5" height="11" class="alignnone size-full wp-image-509" />  Описание 1</span>
<span></span>
<span><img src="http://xn--80aalfvmidc1av9b.xn--p1ai/wp-content/uploads/2023/05/circle.png" alt="" width="5" height="11" class="alignnone size-full wp-image-509" />  </span>Описание2
<span></span>
<span><img src="http://xn--80aalfvmidc1av9b.xn--p1ai/wp-content/uploads/2023/05/circle.png" alt="" width="5" height="11" class="alignnone size-full wp-image-509" />  </span>Описание 3
<span></span>

</div>