
include ../../layouts/_mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../fonts/fonts.css")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Кнопки

				.container-dashboard__content
				ul.ui-components
					li
						
						.btn.btn--accent Button
						pre.
							.btn.btn--accent Button 
						
					li
						.btn.btn--accent
							object(type="image/svg+xml" data="../img/extra-white.svg" width="24")
							span Button 
						pre.
							.btn.btn--accent
								object(type="image/svg+xml" data="../img/extra-white.svg" width="24")
								span Button
					li
						.btn-small Button
					pre.
						.btn-small Button
					li.li-box(style="background-color: blue;padding:10px;padding-bottom:10px")
						.btn-small.btn-small--outline Button
					pre.
						.btn-small.btn-small--outline Button

					li.li-box(style="background-color: blue;padding:10px;padding-bottom:10px")
						.btn.btn-mini
							object(type="image/svg+xml" data="../img/person.svg" width="16" height="16")
							.text-white Кабинет


					pre.
						.btn.btn-mini
							object(type="image/svg+xml" data="../img/person.svg" width="16" height="16")
							.text-white Кабинет
					li
						.btn-primary Button
							
					pre.
						.btn-primary Button
					li
						.btn-primary.btn-40.w-100 Button
						pre.
							.btn-primary.btn-40.w-100 Button


		include ../../layouts/_ui.pug