include ../../layouts/_mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../fonts/fonts.css")

		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Цветовая схема
				.container-dashboard__content
					ul.color-scheme
						li
							span.color-box(style="background-color:#000;")
							span.color-name $black - #000
							
						li
							span.color-box(style="background-color:#EC6660;")
							span.color-name $coral - #EC6660
						
						li
							span.color-box(style="background-color:#F19B48;")
							span.color-name $orange - #F19B48
						li
						
							span.color-box(style="background-color:#73DF8F;")
							span.color-name $green - #73DF8F
						li
						
							span.color-box(style="background-color:#5CC8F4;")
							span.color-name $blue - #5CC8F4

						li
							span.color-box(style="background-color:#5757F6;")
							span.color-name $indigo - #5757F6
						
						li
							span.color-box(style="background-color:#272740;")
							span.color-name $gray - #272740
						li
							span.color-box(style="background-color:#828282;")
							span.color-name $gray3 - #828282
						li
							span.color-box(style="background-color:#E7E7E7;")
							span.color-name $wlgray - #E7E7E7;
						li
							span.color-box(style="background-color:#272740;")
							span.color-name $dblue - #272740;
		
		include ../../layouts/_ui.pug