include ../../layouts/_mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../fonts/fonts.css")

		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты карточки
				.container-dashboard__content
					ul.ui-components
						li
							.checkboxes-wrapper.flex-wrapper.flex-y-center
								//====single item ======
								label.checkbox-label.flex-box.flex-y-center
									input(type='checkbox' name='form-checkbox' class='real-checkbox')
									span.custom-checkbox 
									span.custom-checkbox__text Врачи поблизости
								//====single item ======
								label.checkbox-label.flex-box.flex-y-center
									input(type='checkbox' name='form-checkbox' class='real-checkbox')
									span.custom-checkbox 
									span.custom-checkbox__text Круглосуточно 24/7

						li
							.doc-card-cat
								.label-light-wrapper.gap-8.flex-wrapper
									+label-light('Диагностика')
									+label-light('Хирургия')
									+label-light('Пародонтология')
							pre.
								.doc-card-cat
									.label-light-wrapper.gap-8.flex-wrapper
										+label-light('Диагностика')
										+label-light('Хирургия')
										+label-light('Пародонтология')

						li
							.doc-card__foto
								label.check-label.flex-center.flex-box
									input(type="checkbox")
									svg.svg-heart(width="16" height="16" )
										use(xlink:href="../svg-sprite.svg#svg-heart")
								img(src="../img/doctor.png", width="140" height="140" alt="alt")
							pre.
								.doc-card__foto
									label.check-label.flex-center.flex-box
										input(type="checkbox")
										svg.svg-heart(width="16" height="16" )
											use(xlink:href="../svg-sprite.svg#svg-heart")
									img(src="../img/doctor.png", width="140" height="140" alt="alt")

						li
							h4 рейтинг
							.rating-group
								+starRating('4.4')
								a(href="#!").text-14.text-indigo 9 отзывов
							
							pre.
								.rating-group
									+starRating('4.4')
									a(href="#!").text-14.text-indigo 9 отзывов
						li
							.doc-card__filter-group.flex-box.gap-16
								//========= single filter select =======
								.mySelect.mySelect--absolute
									.mySelect-input
										.mySelect-icon.icon-carret-mini
										input.selectValue.input-slim(type='text' readonly='' value='Услуга')
									.mySelect-drop
										input.mySelect-options(type='text' readonly='' value='Стоматолог')
										input.mySelect-options(type='text' readonly='' value='Ортодонт')
										input.mySelect-options(type='text' readonly='' value='Консультация имплантолога')
										input.mySelect-options(type='text' readonly='' value='Ветеринар')
								
								//========= single filter select =======
								.mySelect.mySelect--absolute
									.mySelect-input
										.mySelect-icon.icon-carret-mini
										input.selectValue.input-slim(type='text' readonly='' value='Ближайшее время приема')
									.mySelect-drop
										input.mySelect-options(type='text' readonly='' value='Ближайшее время приема')
										input.mySelect-options(type='text' readonly='' value='Ортодонт')
										input.mySelect-options(type='text' readonly='' value='Консультация имплантолога')
										input.mySelect-options(type='text' readonly='' value='Ветеринар')

								//========= switch-toggle =======
								label.switch-toggle.flex-box.flex-y-center
									input(type='checkbox' id='check' class='toggle-switch')
									span.real-switch
									span.custom-switch__text Экстренная помощь

							
						
		include ../../layouts/_ui.pug