include ../../layouts/_mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../fonts/fonts.css")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма

				.container-dashboard__content
					ul.ui-components
						li
							.form-box
								label.text-16.text-gray3 label text
								input(type="text" placeholder="Фамилия").form-input
							pre.
								.form-box
									label.text-16.text-gray3 label text
									input(type="text" placeholder="Фамилия").form-input
						br
						li
							h3 Custom-select
							br
							+custom-select('Специальность','Услуга, Специалист', ['Стоматолог','Ортодонт','Консультация имплантолога','Ветеринар' ])
							pre.
								+custom-select('Специальность','Услуга, Специалист', ['Стоматолог','Ортодонт','Консультация имплантолога','Ветеринар' ])
						br
						li
							h3 Custom-select absolute
							br
							+custom-select-abs('Специальность','Услуга, Специалист', ['Стоматолог','Ортодонт','Консультация имплантолога','Ветеринар' ])
							pre.
								+custom-select('Специальность','Услуга, Специалист', ['Стоматолог','Ортодонт','Консультация имплантолога','Ветеринар' ])
						li(style="background-color: blue;padding:10px;padding-bottom:10px")
							h3.text-white Custom-select dark
							br
							+custom-select-dark('Батуми', ['Тбилиси','Кутаиси', 'Зугдиди','Поти'])
						
						
						br
						li
							h3 Чекбоксы
							label.checkbox-label.flex-box.flex-y-center
								input(type='checkbox' name='form-checkbox' class='real-checkbox')
								span.custom-checkbox 
								span.custom-checkbox__text Normal on
							pre.
								label.checkbox-label.flex-box.flex-y-center
									input(type='checkbox' name='form-checkbox' class='checkbox')
									span.custom-checkbox 
									span.custom-checkbox__text Normal on
						li
							h3 Радиокнопки
							label.radiobutton-label.flex-box
								input(type='radio' name='currency' value='usd' class='real-radio') 
								span.custom-radio 
								span.custom-radio__text USD
							label.radiobutton-label.flex-box
								input(type='radio' name='currency' value='gel' class='real-radio')
								span.custom-radio
								span.custom-radio__text GEL
							label.radiobutton-label.flex-box
								input(type='radio' name='currency' value='rub' class='real-radio')
								span.custom-radio
								span.custom-radio__text RUB
							pre.
								label.radiobutton-label.flex-box
									input(type='radio' name='currency' value='usd' class='real-radio') 
									span.custom-radio 
									span.custom-radio__text USD
								label.flex-box
									input(type='radio' name='currency' value='gel' class='real-radio')
									span.custom-radio
									span.custom-radio__text GEL
								label.flex-box
									input(type='radio' name='currency' value='rub' class='real-radio')
									span.custom-radio
									span.custom-radio__text RUB
						li
							h3 Switch-toggle
							label.switch-toggle.flex-box.flex-y-center
								input(type='checkbox' id='check' class='toggle-switch')
								span.real-switch
								span.custom-switch__text Normal on
							pre.
								label.switch-toggle.flex-box.flex-y-center
									input(type='checkbox' id='check' class='toggle-switch')
									span.real-switch
									span.custom-switch__text Normal on

				
		include ../../layouts/_ui.pug

