include ../../layouts/_mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../fonts/fonts.css")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма

				.container-dashboard__content
					ul.ui-components
						li
							.form-box
								label.text-16.text-gray3 label text
								input(type="text" placeholder="Фамилия").form-input
							pre.
								.form-box
									label.text-16.text-gray3 label text
									input(type="text" placeholder="Фамилия").form-input
						br
						li
							h3 Custom-select
							br
							+custom-select('Специальность','Услуга, Специалист', ['Стоматолог','Ортодонт','Консультация имплантолога','Ветеринар' ])
							pre.
								+custom-select('Специальность','Услуга, Специалист', ['Стоматолог','Ортодонт','Консультация имплантолога','Ветеринар' ])
						br
						li
							h3 Custom-select absolute
							br
							+custom-select-abs('Специальность','Услуга, Специалист', ['Стоматолог','Ортодонт','Консультация имплантолога','Ветеринар' ])
							pre.
								+custom-select('Специальность','Услуга, Специалист', ['Стоматолог','Ортодонт','Консультация имплантолога','Ветеринар' ])
						li(style="background-color: blue;padding:10px;padding-bottom:10px")
							h3.text-white Custom-select dark
							br
							+custom-select-dark('Батуми', ['Тбилиси','Кутаиси', 'Зугдиди','Поти'])
						
						
						br
						li
							.mySelect.mySelect--absolute.mySelect--dark.mySelect--radio
								.mySelect-input.mySelect-input--icon-left
									.mySelect-icon-left.icon-city
									.mySelect-icon.icon-carret-white
									input.selectValue.input-slim(type='text' readonly='' value='RU • RUB')
								.mySelect-drop
									.mySelect-drop__row
										+custom-radio('country','EN', 'English')(class="role-country")
										+custom-radio('currency', 'USD','USD')(class="role-current")
										
									.mySelect-drop__row
										+custom-radio('country', 'RU','Русский', 'checked')(class="role-country")
										+custom-radio('currency', 'RUB','RUB', 'checked')(class="role-current")
									.mySelect-drop__row
										+custom-radio('country', 'GE', 'Georgian')(class="role-country")
										+custom-radio('currency', 'GEL','GEL')(class="role-current")
										
						li
							h3 Чекбоксы
							label.checkbox-label.flex-box.flex-y-center
								input(type='checkbox' name='form-checkbox' class='real-checkbox')
								span.custom-checkbox 
								span.custom-checkbox__text Normal on
							pre.
								label.checkbox-label.flex-box.flex-y-center
									input(type='checkbox' name='form-checkbox' class='checkbox')
									span.custom-checkbox 
									span.custom-checkbox__text Normal on
						li
							h3 Радиокнопки
							label.radiobutton-label.flex-box
								input(type='radio' name='currency' value='usd' class='real-radio') 
								span.custom-radio 
								span.custom-radio__text USD
							label.radiobutton-label.flex-box
								input(type='radio' name='currency' value='gel' class='real-radio')
								span.custom-radio
								span.custom-radio__text GEL
							label.radiobutton-label.flex-box
								input(type='radio' name='currency' value='rub' class='real-radio')
								span.custom-radio
								span.custom-radio__text RUB
							pre.
								label.radiobutton-label.flex-box
									input(type='radio' name='currency' value='usd' class='real-radio') 
									span.custom-radio 
									span.custom-radio__text USD
								label.flex-box
									input(type='radio' name='currency' value='gel' class='real-radio')
									span.custom-radio
									span.custom-radio__text GEL
								label.flex-box
									input(type='radio' name='currency' value='rub' class='real-radio')
									span.custom-radio
									span.custom-radio__text RUB
						li
							h3 Switch-toggle
							label.switch-toggle.flex-box.flex-y-center
								input(type='checkbox' id='check' class='toggle-switch')
								span.real-switch
								span.custom-switch__text Normal on
							pre.
								label.switch-toggle.flex-box.flex-y-center
									input(type='checkbox' id='check' class='toggle-switch')
									span.real-switch
									span.custom-switch__text Normal on
						li
							label.radiobutton-badge
								input.label-radio(type='radio' name='date-radiobtn' )
								span.label-light Суббота, 22
						li
							h3 Чекбокс время приема к врачу
							.radiobutton-time__group
								label.radiobutton-time.flex-box.flex-y-center
									input(type='radio' name='time-radiobtn' class='timetable-radiobtn')
									span.radiobutton-checkbox 15:20

							pre.
								.radiobutton-time__group
									label.radiobutton-time.flex-box.flex-y-center
										input(type='radio' name='time-radiobtn' class='timetable-radiobtn')
										span.radiobutton-checkbox 15:20
						li
							h3 Переключатель фильтра
							.filter-toggle__block.flex-box.flex-y-center
								label.filter-toggle-item.filter-toggle-item--left 
									input(type='radio' name='toggle-radiobtn' class='filter-radiobtn') 
									span.filter-toggle-text По рейтингу
								label.filter-toggle-item.filter-toggle-item--center 
									input(type='radio' name='toggle-radiobtn' class='filter-radiobtn')
									span.filter-toggle-text По стоимости
								label.filter-toggle-item.filter-toggle-item--right 
									input(type='radio' name='toggle-radiobtn' class='filter-radiobtn')
									span.filter-toggle-text По отзывам
							pre. 
								.filter-toggle__block.flex-box.flex-y-center
									label.filter-toggle-item.filter-toggle-item--left
										input(type='radio' name='toggle-radiobtn' class='filter-radiobtn') 
										span.filter-toggle-text По рейтингу
									label.filter-toggle-item.filter-toggle-item--center
										input(type='radio' name='toggle-radiobtn' class='filter-radiobtn')
										span.filter-toggle-text По стоимости
									label.filter-toggle-item.filter-toggle-item--right
										input(type='radio' name='toggle-radiobtn' class='filter-radiobtn')
										span.filter-toggle-text По отзывам

				
		include ../../layouts/_ui.pug

