include ../../layouts/_mixins-links.pug
block variables
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../fonts/fonts.css")
		link(rel="stylesheet", href="../css/main.css")
		
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			+header([
			{addClass: 'active', link: '#', title: 'Клиники'}, 
			{addClass: '', link: 'prices.html', title: 'Цены'},
			{addClass: '', link: '#', title: 'Детская стоматология'},
			{addClass: '', link: 'about.html', title: 'О нас'},
			])
			
		
		include ../../layouts/_ui.pug