include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../fonts/fonts.css")
		link(rel="stylesheet", href="../css/main.css")
		script(src="../js/main.js")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Иконки

				.container-dashboard__content
					ul.ui-components
						
						li
							.text-18 logo через png
							.li-box(style="background-color: blue;padding:10px;padding-bottom:10px")
								.logo
									img(src="../img/logo.png", width="136" alt="logo")
							pre.
								.logo
									img(src="./img/logo.png", width="136" alt="logo")
						li
							.text-18 logo через svg
							.li-box(style="background-color: blue;padding:10px;padding-bottom:10px")
							
								object(type="image/svg+xml" data="../svg-logo.svg" class="logo")

							pre.
								object(type="image/svg+xml" data="./svg-logo.svg" class="logo")
						
						li
							object(type="image/svg+xml" data="../img/extrim.svg" )
								
							pre.
								object(type="image/svg+xml" data="../img/extrim.svg" )
						li
							object(type="image/svg+xml" data="../img/diadnost.svg" )
							pre.
								object(type="image/svg+xml" data="./img/diadnost.svg" )
						li
							object(type="image/svg+xml" data="../img/terap.svg" )
							pre.
								object(type="image/svg+xml" data="./img/terap.svg" )
						li
							object(type="image/svg+xml" data="../img/hirurg.svg" )
								
							pre.
								object(type="image/svg+xml" data="./img/hhirurg.svg" )
						li
							object(type="image/svg+xml" data="../img/implant.svg" )
							pre.
								object(type="image/svg+xml" data="./img/implant.svg" )
						li
							object(type="image/svg+xml" data="../img/apple.svg" )
							pre.
								object(type="image/svg+xml" data="./img/apple.svg" )
						li
							object(type="image/svg+xml" data="../img/paradent.svg" )
							pre.
								object(type="image/svg+xml" data="./img/paradent.svg" )
						li
							object(type="image/svg+xml" data="../img/user2.svg" )

							pre.
								object(type="image/svg+xml" data="../img/user2.svg" )
						li
							object(type="image/svg+xml" data="../img/smile.svg" )

							pre.
								object(type="image/svg+xml" data="../img/smile.svg" )
						li
							object(type="image/svg+xml" data="../img/zap.svg" )

							pre.
								object(type="image/svg+xml" data="../img/zap.svg" )
						li
							object(type="image/svg+xml" data="../img/check.svg" )

							pre.
								object(type="image/svg+xml" data="../img/check.svg" )
						li
							object(type="image/svg+xml" data="../img/plus.svg" )

							pre.
								object(type="image/svg+xml" data="../img/plus.svg" )
						
						li
							.li-box(style="background-color: blue;")
								object(type="image/svg+xml" data="../img/extra-white.svg" )
							pre.
								object(type="image/svg+xml" data="../img/extra-white.svg" )
						li
							svg.svg-heart(width="16" height="16" )
								use(xlink:href="../svg-sprite.svg#svg-heart")
							pre.
								svg.svg-heart(width="16" height="16" )
									use(xlink:href="./svg-sprite.svg#svg-heart")
	
						li
							label.check-label.flex-center.flex-box
								input(type="checkbox")
								svg.svg-heart(width="16" height="16" )
									use(xlink:href="../svg-sprite.svg#svg-heart")
							pre.
															
								label.check-label.flex-center.flex-box
									input(type="checkbox")
									svg.svg-heart(width="16" height="16" )
										use(xlink:href="./svg-sprite.svg#svg-heart")