include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../fonts/fonts.css")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Вспомогрательные классы

				.container-dashboard__content
					.block(style="margin-top:50px;")
						pre.
							.flex-box,.flex-wrapper{
								display: flex!important;
							}
						pre.
							.flex-wrapper{
								flex-wrap: wrap;
							}
						pre.
							.flex-center{
								justify-content: center;
								align-items: center;
							}
						pre.
							.flex-x-center{
								justify-content: center;
							}
						pre.
							.flex-x-right{
								justify-content: flex-end;
							}
						pre.
							.flex-y-center{
								align-items: center;
							}
						pre.
							.gap-12{
								gap: 12px;
							}
						pre.
							.gap-8{
								gap: 8px;
							}
						
						pre.
							.m-auto{
								margin-left: auto;
								margin-right: auto;
							}
						
						pre.
							.w-100{
								width: 100%!important;
							}
						pre.
							.mb-8{
									margin-bottom: 8px;
								}