include ../../layouts/_mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../fonts/fonts.css")

		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		//- h3 Tooltip
		//- .tooltip-block
		//- 	.tooltip-head
		//- 		.tooltip-icon
		//- 			svg.svg-info
		//- 				use(href="../img/svg-sprite.svg#svg-info")
		//- 		.tooltip-title.title-16 Информация
		//- 	.tooltip-body
		//- 		p Информация, представленная на сайте в виде цен, акций и спец предложений НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, так как объем лечение каждого пациента зависит от индивидуальной ситуации состояния полости рта и здоровья пациента - информация носит ознакомительный характер и ориентирует о стандартном варианте лечения, не является инструкцией или рекомендацией к действию. Прежде чем использовать представленную на сайте информацию - требуется очная консультация с лечащим врачом, во многих случаях имеются противопоказания. Использование нашего сайта означает, что вы согласны с условиями его использования.
		
		
		.cs-wrapper.visible#tableAppointTime
			//======slider navigation=======
			.cs-next
				.icon-btn.arrow-right
			.cs-prev
				.icon-btn.arrow-left
			
			//======slider block=======
			.cs-head
				.w-375
					.cs-head-line.text-center
						.cs-head__block.flex-wrapper.cs-active
							.cs-block__cell
								.text-12 пн
								.text-14 16 марта
							.cs-block__cell
								.text-12 пн
								.text-14 17 марта
							.cs-block__cell
								.text-12 пн
								.text-14 18 марта
							.cs-block__cell
								.text-12 пн
								.text-14 19 марта
						.cs-head__block.flex-wrapper
							.cs-block__cell
								.text-12 пн
								.text-14 20 марта
							.cs-block__cell
								.text-12 пн
								.text-14 21 марта
							.cs-block__cell
								.text-12 пн
								.text-14 22 марта
							.cs-block__cell
								.text-12 пн
								.text-14 23 марта
						.cs-head__block.flex-wrapper
							.cs-block__cell
								.text-12 пн
								.text-14 24 марта
							.cs-block__cell
								.text-12 пн
								.text-14 25 марта
							.cs-block__cell
								.text-12 пн
								.text-14 26 марта
							.cs-block__cell
								.text-12 пн
								.text-14 27 марта
			.cs-inner.scroll-vertical
				.w-375
					.cs-inner-line
						+csSlide({
						argsTimes:{
							col1:[
								{clock:'8:00', rbName:'select-time1'},
								{clock:'8:30', rbName:'select-time1'},
								{clock:'9:00', rbName:'select-time1'},
								{clock:'9:30', rbName:'select-time1'},
								{clock:'10:00', rbName:'select-time1'},
								{clock:'10:30', rbName:'select-time1'},
								{clock:'9:30', rbName:'select-time1'},
								{clock:'10:00', rbName:'select-time1'},
								{clock:'10:30', rbName:'select-time1'},
								],
							col2:[
								{clock:'8:00', rbName:'select-time2'},
								{clock:'8:30', rbName:'select-time2'},
								{clock:'9:00', rbName:'select-time2'},
								{clock:'9:30', rbName:'select-time2'},
								{clock:'10:00', rbName:'select-time2'},
								{clock:'10:30', rbName:'select-time2'},
								{clock:'9:30', rbName:'select-time1'},
								{clock:'10:00', rbName:'select-time1'},
								{clock:'10:30', rbName:'select-time1'},
								],
							col3:[
								{clock:'8:00', rbName:'select-time3'},
								{clock:'8:30', rbName:'select-time3'},
								{clock:'9:00', rbName:'select-time3'},
								{clock:'9:30', rbName:'select-time3'},
								{clock:'10:00', rbName:'select-time3'},
								{clock:'10:30', rbName:'select-time3'},
								{clock:'9:30', rbName:'select-time1'},
								{clock:'10:00', rbName:'select-time1'},
								{clock:'10:30', rbName:'select-time1'},
								],
							col4:[
								{clock:'8:00', rbName:'select-time4'},
								{clock:'8:30', rbName:'select-time4'},
								{clock:'9:00', rbName:'select-time4'},
								{clock:'9:30', rbName:'select-time4'},
								{clock:'10:00', rbName:'select-time4'},
								{clock:'10:30', rbName:'select-time4'},
								{clock:'9:30', rbName:'select-time1'},
								{clock:'10:00', rbName:'select-time1'},
								{clock:'10:30', rbName:'select-time1'},
								]
							}
						
						}
						)(class="cs-active")
						+csSlide({
							argsTimes:{
								col1:[
									{clock:'8:00', rbName:'select-time1'},
									{clock:'8:30', rbName:'select-time1'},
									{clock:'9:00', rbName:'select-time1'},
									{clock:'9:30', rbName:'select-time1'},
									{clock:'10:00', rbName:'select-time1'},
									{clock:'10:30', rbName:'select-time1'},
									{clock:'9:30', rbName:'select-time1'},
									{clock:'10:00', rbName:'select-time1'},
									{clock:'10:30', rbName:'select-time1'},
									],
								col2:[
									{clock:'8:00', rbName:'select-time2'},
									{clock:'8:30', rbName:'select-time2'},
									{clock:'9:00', rbName:'select-time2'},
									{clock:'9:30', rbName:'select-time2'},
									{clock:'10:00', rbName:'select-time2'},
									{clock:'10:30', rbName:'select-time2'},
									{clock:'9:30', rbName:'select-time1'},
									{clock:'10:00', rbName:'select-time1'},
									{clock:'10:30', rbName:'select-time1'},
									],
								col3:[
									{clock:'8:00', rbName:'select-time3'},
									{clock:'8:30', rbName:'select-time3'},
									{clock:'9:00', rbName:'select-time3'},
									{clock:'9:30', rbName:'select-time3'},
									{clock:'10:00', rbName:'select-time3'},
									{clock:'10:30', rbName:'select-time3'},
									{clock:'9:30', rbName:'select-time1'},
									{clock:'10:00', rbName:'select-time1'},
									{clock:'10:30', rbName:'select-time1'},
									],
								col4:[
									{clock:'8:00', rbName:'select-time4'},
									{clock:'8:30', rbName:'select-time4'},
									{clock:'9:00', rbName:'select-time4'},
									{clock:'9:30', rbName:'select-time4'},
									{clock:'10:00', rbName:'select-time4'},
									{clock:'10:30', rbName:'select-time4'},
									{clock:'9:30', rbName:'select-time1'},
									{clock:'10:00', rbName:'select-time1'},
									{clock:'10:30', rbName:'select-time1'},
									]
								}
							
							}
						)
						+csSlide({
							argsTimes:{
								col1:[
									{clock:'8:00', rbName:'select-time1'},
									{clock:'8:30', rbName:'select-time1'},
									{clock:'9:00', rbName:'select-time1'},
									{clock:'9:30', rbName:'select-time1'},
									{clock:'10:00', rbName:'select-time1'},
									{clock:'10:30', rbName:'select-time1'},
									{clock:'9:30', rbName:'select-time1'},
									{clock:'10:00', rbName:'select-time1'},
									{clock:'10:30', rbName:'select-time1'},
									],
								col2:[
									{clock:'8:00', rbName:'select-time2'},
									{clock:'8:30', rbName:'select-time2'},
									{clock:'9:00', rbName:'select-time2'},
									{clock:'9:30', rbName:'select-time2'},
									{clock:'10:00', rbName:'select-time2'},
									{clock:'10:30', rbName:'select-time2'},
									{clock:'9:30', rbName:'select-time1'},
									{clock:'10:00', rbName:'select-time1'},
									{clock:'10:30', rbName:'select-time1'},
									],
								col3:[
									{clock:'8:00', rbName:'select-time3'},
									{clock:'8:30', rbName:'select-time3'},
									{clock:'9:00', rbName:'select-time3'},
									{clock:'9:30', rbName:'select-time3'},
									{clock:'10:00', rbName:'select-time3'},
									{clock:'10:30', rbName:'select-time3'},
									{clock:'9:30', rbName:'select-time1'},
									{clock:'10:00', rbName:'select-time1'},
									{clock:'10:30', rbName:'select-time1'},
									],
								col4:[
									{clock:'8:00', rbName:'select-time4'},
									{clock:'8:30', rbName:'select-time4'},
									{clock:'9:00', rbName:'select-time4'},
									{clock:'9:30', rbName:'select-time4'},
									{clock:'10:00', rbName:'select-time4'},
									{clock:'10:30', rbName:'select-time4'},
									{clock:'9:30', rbName:'select-time1'},
									{clock:'10:00', rbName:'select-time1'},
									{clock:'10:30', rbName:'select-time1'},
									]
								}
							
							}
						)

				
				
				.cs-body-line

		include ../../layouts/_ui.pug